<% def self.link_to_fragment fragment_id, page_id, text_to_show, current_page_id, more_attributes = {} %>
<%   attributes = {"data-section" => "##{fragment_id}"} %>
<%   attributes["data-dest"]     = url_for("/getting-started/#{page_id}/index.html") %>
<%   attributes["data-is-local"] = (page_id == current_page_id).to_s %>
<%   attributes["data-is-local"] = (page_id == current_page_id).to_s %>
<%   link_to text_to_show, '#', more_attributes.merge(attributes) %>
<% end %>

<div class="grid-col-3 sidebar">
  <button class="get-start-btn"><i class="fa fa-bars"></i></button>
  <nav class="sidebar-nav getting-started-nav">
    <h5>Introduction to GoCD <span class="close-nav">X</span></h5>

    <ul class="verticalnav">
      <li class="dropdown <%= open_nav_at == "part-1" ? "open" : "dropdown-menu" %>">
        <a href="#" class="active">Part 1</a>
        <ul>
          <li><%= link_to_fragment "concept1", "part-1", "<strong>Concept 1:</strong>Server and agents", open_nav_at, {"class" => "active"} %></li>
          <li><%= link_to_fragment "concept2", "part-1", "<strong>Concept 2:</strong>Pipelines and materials", open_nav_at %></li>
          <li><%= link_to_fragment "concept3", "part-1", "<strong>Concept 3:</strong>Agent prepares to do some work", open_nav_at %></li>
          <li><%= link_to_fragment "concept4", "part-1", "<strong>Concept 4:</strong>Stages, jobs and tasks ", open_nav_at %></li>
        </ul>
      </li>
      <li class="dropdown <%= open_nav_at == "part-2" ? "open" : "dropdown-menu" %>">
        <a href="#">Part 2</a>
        <ul>
          <li><%= link_to_fragment "pipeline_as_material", "part-2", "Using a pipeline as a material", open_nav_at %></li>
          <li><%= link_to_fragment "concept_pipeline_dependency_material", "part-2", "<strong>Concept 5:</strong>  Pipeline Dependency Material ", open_nav_at %></li>
          <li><%= link_to_fragment "using_artifacts", "part-2", "Publishing, fetching and using artifacts", open_nav_at %></li>
          <li><%= link_to_fragment "concept_artifact", "part-2", "<strong>Concept 6:</strong>Artifact ", open_nav_at %></li>
          <li><%= link_to_fragment "fetching_using_artifacts", "part-2", "Fetching and using artifacts", open_nav_at %></li>
          <li><%= link_to_fragment "concept_ancestor_artifacts", "part-2", "<strong>Concept 7:</strong>Ancestor artifacts and building artifacts only once ", open_nav_at %></li>
          <li><%= link_to_fragment "custom_tabs", "part-2", "Custom tabs", open_nav_at %></li>
          <li><%= link_to_fragment "concept_custom_tab", "part-2", "<strong>Concept 8:</strong> Custom tab", open_nav_at %></li>
        </ul>
      </li>
      <li class="dropdown <%= open_nav_at == "part-3" ? "open" : "dropdown-menu" %>">
        <a href="#">Part 3</a>
        <ul>
          <li><%= link_to_fragment "value_stream_map", "part-3", "Value Stream Map (VSM)", open_nav_at %></li>
          <li><%= link_to_fragment "concept_vsm", "part-3", "<strong>Concept 9:</strong>  Value Stream Map ", open_nav_at %></li>
          <li><%= link_to_fragment "fan_out_fan_in", "part-3", "Fan-Out and Fan-In", open_nav_at %></li>
          <li><%= link_to_fragment "concept_fan_out_fan_in", "part-3", "<strong>Concept 10:</strong>Fan-Out and Fan-In", open_nav_at %></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
