<div class="release-date">Released on 11 Sep, 2018</div>
<h4>Backups on a schedule</h4>

  This release allows performing a backup on schedule. GoCD now allows executing a script once the backup completes. This feature removes the need for GoCD administrators to execute and monitor custom "cron-like" jobs to ensure that backups are completed.

  For example: Users can now add the following snippet to the config XML to perform a backup once a night at 10pm on weekdays and call the `/usr/local/bin/upload-to-s3 script` after the backup is done:

    <server>
      ...
      <backup schedule="0 0 22 ? * MON-FRI" 
              postBackupScript="/usr/local/bin/upload-to-s3"
              emailOnSuccess="false"
              emailOnFailure="true"/>
    </server>

<h4>Analytics Extension V2</h4>

  Upgraded the Analytics Extension to [Version 2](https://plugin-api.gocd.org/18.9.0/analytics). This version adds support for showing analytics on the Agents and Value Stream Map(VSM) page.

<h4>Notification Extension V4</h4>

  [Version 4](https://plugin-api.gocd.org/18.9.0/notifications) of the Notification Extension enchances the existing Stage Status notification message to include the material fingerprint. It also provides details of previous stage(if any) responsible for triggering the current stage.


<h4>Bug fixes</h4>

  * <%= link_to_commit '8e0966da1ca321d609fb7379c7d256425951a1a7', 'Fixed scroll behaviour of filter tabs on the dashboard when navigating using the tabs dropdown.', 5097 %>
  * <%= link_to_commit '0fdfe211023e065d4cdab86eedb29fb90dd3852d', 'Fix the search box width on the add/edit views modal on the dashboard.' %>

<h4>Deprecations</h4>

  * The ubuntu 12.04 based docker image for [gocd agent](https://hub.docker.com/r/gocd/gocd-agent-ubuntu-12.04/) has been deprecated and will not be built in the upcoming releases of GoCD. This is done because ubuntu 12.04 is now end-of-life.
  * The alpine 3.5 based docker image for [gocd agent](https://hub.docker.com/r/gocd/gocd-agent-alpine-3.5/) has been deprecated and will not be built after November 2018 release of GoCD. This will be done as alpine 3.5 will reach [end-of-life](https://wiki.alpinelinux.org/wiki/Alpine_Linux:Releases) in November 2018.
   * With the introduction of AES for encryption/decryption in release 18.7.0, we are deprecating support for DES. Support for DES is retained to support DES cipher-texts configured in config-repos and will be available till the last release of GoCD for the year 2018. The <%= link_to_versioned_api '18.8.0', 'encryption', 'Encryption API' %> is updated to return a AES cipher-text, users are encouraged to update their DES cipher-texts in config-repos using this API.
  * The Pipeline Config API v5 has been deprecated in release 18.7.0. This version of the API will be removed in a release scheduled for October 2018. <%= link_to_versioned_api '18.8.0', 'pipeline-config', 'Version 6' %> of the API is available, and users are encouraged to use it.
  * The Template Config API v3 has been deprecated in release 18.7.0. This version of the API will be removed in a release scheduled for October 2018. <%= link_to_versioned_api '18.8.0', 'template-config', 'Version 4' %> of the API is available, and users are encouraged to use it.

<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Chandrakanth Nagaraj",
  "Ganesh S Patil",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Pranav Bansod",
  "Rahul Pargaonkar",
  "Rajiesh N",
  "Senthil R",
  "Steven Streisguth",
  "Tina Vinod",
  "Varsha Varadarajan",
  "Vishal Devgire",
].sort.uniq.join(', ')
%>


<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 18.9' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
