<div class="release-date">Released on 19 Dec, 2018</div>
<h4>Manage Config Repositories through UI</h4>

We have added a new Config Repositories page. This page lists existing config repos and allows CRUD (Create-Read-Update-Delete) operations for a config repo. This page has the ability to show errors and allows users to force a check of the repository.

  <figure class='shrink-figure-100'>
    <%= image_tag 'releases/18.12.0/config_repo.png', alt: 'Config Repositories Page' %>
  </figure>
  <br/>

<h4>UI/UX Improvements</h4>

  **The Elastic agent profiles page now provides the ability to view jobs configured for an elastic profile.**

  <figure class='shrink-figure-70'>
    <%= image_tag 'releases/18.12.0/elastic_profile_jobs.png', alt: 'Elastic Profile List Jobs' %>
  </figure>
  <br/>

  **Admin Menu has been improved for better accessibility.**

  <figure class='shrink-figure-70'>
    <%= image_tag 'releases/18.12.0/admin_menu.png', alt: 'Admin Menu' %>
  </figure>

<h4>Other Improvements</h4>
  * <%= link_to_commit '0a15ede4941e83916cdf7a50c34f25bba184dd27', 'Performance improvement to loading multiple Config Repos on server restart.', 5010 %>
  * <%= link_to_commit 'df76be9984cf43d337791497c6dad57bd9c1a043', 'GoCD Admins can now configure the server to set HSTS header as part of HTTPs response.', 5557 %> Refer [docs](https://docs.gocd.org/18.12.0/installation/ssl_tls/configuring_hsts_header.html) for configuring the header.
  
<h4>API Improvements</h4>

  * Introduce <%= link_to_versioned_api('18.12.0', 'dashboard', 'V2 of Dashboard API') %>.

<h4>Security</h4>
  We regularly fix security issues reported by security researchers. Upgrading to the latest release is always recommended. In this release, a security issue responsibly disclosed by [Jake](https://hackerone.com/0d0a)
and [Imran Siddiqui](https://hackerone.com/abusaffiya) was fixed.

<h4>Bug fixes</h4>

  * <%= link_to_commit 'cb9ab57a3069b04b6f688cc7bbe72598db6f1d70', 'Fixed an issue where the first personalization tab showed all pipelines on page load.', 5512 %>
  * <%= link_to_commit 'bbeebad6c03497cf3f5bf0bcddbe13bbc08a11c8', 'Fix for email notification not sent on job cancellation due to timeout.', 5370 %>
  * <%= link_to_commit '0efb7d007d06e92279ff578947d807bb059867df', 'Allow javascript to be executed in the plugin settings modal.', 4797 %>
  * <%= link_to_commit 'b00b026bfead77e2a42d690add07a596451e556f', 'Fixed links pointing to pipeline dependency graph.', 5535 %>

<h4>Installer Changes</h4>

  * OSX installers are now bundled with adoptopenjdk JRE 8, commit <%= link_to_commit '6814d48cf7f5e7da3353cbeb6abdad18d5be7519', 'fixes an issue with Server and Agent not working on JRE >=9.', 3934 %>

  * Support for Java 11 was introduced in 18.10.0. Windows installers have been changed to bundle with OpenJDK 11.

<h4>Deprecations</h4>

   * With the introduction of AES for encryption/decryption in release 18.7.0, we are deprecating support for DES. Support for DES is retained to support DES cipher-texts configured in config-repos and will be available till the last release of GoCD for the year 2018. The <%= link_to_versioned_api '18.8.0', 'encryption', 'Encryption API' %> is updated to return a AES cipher-text, users are encouraged to update their DES cipher-texts in config-repos using this API.
   * The elastic agent plugin extension version 3 has been deprecated. This version will be removed in a release scheduled for Mar 2019. Plugin developers should use version 4 of the elastic agent plugin api to allow adding support for job completion request. The docker, docker swarm, kubernetes and ecs plugins have been migrated to the new versions, and users should upgrade their plugins to the latest version to see these new features.
   * The notification plugin extension version 3 has been deprecated. This version will be removed in a release scheduled for Mar 2019. Plugin developers should use version 4 of the notification plugin api.
   * The analytics plugin extension version 1 has been deprecated. This version will be removed in a release scheduled for Mar 2019. Plugin developers should use version 2 of the analytics plugin api.
   * The Dashboard API v1 has been deprecated in this release. This version of the API will be removed in a release scheduled for March 2019. Version 2 of the API is available, and users are encouraged to use it.


<h4>Breaking Changes</h4>

  * Windows installers are now bundled with OpenJDK 11. In absence of 32 bit JDK distributions from OpenJDK we have stopped providing 32 bit windows installers from this release.
  * With this release there will be limited support for IE11. Visual bugs can be expected on this browser.


<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Aravind SV",
  "Armin G Jazi",
  "Bhupendrakumar Piprava",
  "Chandrakanth Nagaraj",
  "Ganesh S Patil",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Kritika Singh",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Pranav Bansod",
  "Rahul Pargaonkar",
  "Rajiesh N",
  "Sana Jahan",
  "Steven Streisguth",
  "Tomasz Setkowski",
  "Varsha Varadarajan",
  "Vishal Devgire",
  "Vrushali Waykole",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 18.12' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
