<h4>Security Fixes</h4>

This release has important security fixes. We recommend all users to upgrade to this version to safeguard your GoCD server.

<h4>Changes</h4>

* <%= link_to_issue 9086, 'Bundle latest Java 15' %>
* Starting this release, Alpine 3.13 based docker images for GoCD Agent are <%= link_to 'available', 'https://hub.docker.com/r/gocd/gocd-agent-alpine-3.13' %>.

<h4>Bug fixes</h4>

* <%= link_to_issue 8899, '"Config Changed" diff marks lines containing dash (`-`) as removed' %>
* <%= link_to_issue 9073, 'Add missing Content-Type check' %>

<h4>APIs</h4>

Improvements, deprecations and breaking changes in the API and plugin API have been moved to their respective changelogs - <%= link_to_versioned_api '21.2.0','changes-in-21-2-0', 'API changelog for 21.2.0' %> and <%= link_to_versioned_plugin_api '21.2.0','changes-in-gocd-21-2-0', 'Plugin API changelog for 21.2.0' %>.

<h4>Contributors</h4>

<%= [
  "Aravind SV",
  "Ganesh S Patil",
  "Ketan Padegaonkar",
  "Kritika Singh",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Varsha Varadarajan",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 21.2.0' %>

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
