<h4>Preference Page</h4>
As part of the ongoing UI/UX refresh for improving the user experience, the Prefernce page has been rewritten to keep it in sync with other pages, while retaining existing functionality. Feedback/ideas are welcome, please open an issue [here](https://github.com/gocd/gocd/issues) to add your comments.

<figure class='shrink-figure-60'>
    <%= image_tag 'releases/20.9.0/preference_page.png', alt: 'Preference page' %>
</figure>

<h4>Stage Overview on VSM Page</h4>

Staring this release, the users can view the stage overview on VSM page. Earlier, it was available on the Dashboard and Pipeline Activity Page.

<figure class='shrink-figure-60'>
    <%= image_tag 'releases/20.9.0/stage_overview.png', alt: 'Stage overview on VSM page' %>
</figure>

In case of stage re-runs, the stage overview now provides an option to view previous stage runs.

<figure class='shrink-figure-60'>
    <%= image_tag 'releases/20.9.0/stage_instances.png', alt: 'Stage instances on stage overview' %>
</figure>


<h4>Other Improvements</h4>

* <%= link_to_issue 1926, 'Job Timeout should apply even when the job could not be assigned to an agent' %>
* <%= link_to_issue 5787, 'Ability to start server in maintenance mode' %>
* <%= link_to_issue 8170, 'Support for webhook integration with Pluggable SCM materials' %>
* <%= link_to_issue 8592, 'Add secrets support in elastic agent configurations' %>
* <%= link_to_issue 8599, 'Load GoCD configurations from config repositories on GoCD startup' %>
* <%= link_to_issue 8667, 'Auto Update of Config Repo materials can be turned off now' %>

<h4>Bug fixes</h4>

* <%= link_to_issue 8542, 'Changes to global Plugin Material Config and Package Config does not reflect on pipeline materials' %>
* <%= link_to_issue 8594, 'Feeds API for scheduled jobs will return jobs only for pipeline which can be viewed by the user' %>
* <%= link_to_issue 8601, 'Solve issue around missing SCMs coming from config repo' %>
* <%= link_to_issue 8623, 'Fix the check connection button text on pluggable scm modal' %>
* <%= link_to_issue 8628, 'Do not run database migration for server in standby' %>
* <%= link_to_issue 8643, 'Elastic Agent Plugin always migrates the old plugin settings' %>
* <%= link_to_issue 8650, 'Fixed the git version mismatch between error message and actual check' %>
* <%= link_to_issue 8653, 'Fixed the issue of Duplicate SCM on config repo parsing' %>
* <%= link_to_issue 8655, 'Do not purge the config repo defined structures cache on polled fetch on Config Repo Page' %>
* <%= link_to_issue 8685, 'Minor Pipeline Comparison UI regressions introduced in 20.3.0' %>
* <%= link_to_issue 8624, 'Fix - Postgres with SSL throws "PSQLException: SSL error: null"' %>

<h4>Removal</h4>

* <%= removed_docker_image_message 'CentOS', '6', 'Nov 2020' %>
* <%= removed_docker_image_message 'Alpine', '3.9', 'Nov 2020' %>

<h4>APIs</h4>

Improvements, deprecations and breaking changes in the API and plugin API have been moved to their respective changelogs - <%= link_to_versioned_api '20.9.0','changes-in-20-9-0', 'API changelog for 20.9.0' %> and <%= link_to_versioned_plugin_api '20.9.0','changes-in-gocd-20-9-0', 'Plugin API changelog for 20.9.0' %>.

<h4>Contributors</h4>

<%= [
  "Aravind SV",
  "Ganesh S Patil",
  "Ketan Padegaonkar",
  "Kritika Singh",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Varsha Varadarajan",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 20.9.0' %>

Have ideas and want to contribute? Need some help getting started? Search the archives in the <%= link_to 'GoCD mailing list', 'https://groups.google.com/g/go-cd' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
