<div class="release-date">Released on 29 Jan, 2019</div>
<h4> GoCD Maintenance mode </h4>

GoCD maintenance mode can be utilized by the GoCD system administrator to safely restart or upgrade the GoCD server without having any running jobs reschedule when the server is back up. Initiating maintenance mode will cause various sub-systems of GoCD to stop working making sure server is not performing any operation.

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.1.0/server-maintenance-mode.gif', alt: 'Maintenance Mode Feature' %>
</figure>
<br/>

To know more about about GoCD Maintenance Mode click [here](https://docs.gocd.org/19.1.0/advanced_usage/maintenance_mode.html).

<h4>Improved Pipeline as Code experience.</h4>

Continuing on the road towards improving GoCD's pipelines as code / config repositories experience, this release introduces the ability to export a GoCD pipeline to a format which can be used by the config repository plugins (for instance, YAML or JSON plugins). You can then check in these pipeline definitions to a repository and remove them from GoCD's config.

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.1.0/pipeline-export.gif', alt: 'Pipeline Export Feature' %>
</figure>
<br/>

 More improvements to this feature are in pipeline. Add your feedback or suggestions [here](https://github.com/gocd/gocd/issues/5175)

* <%= link_to_commit '45aab5e40d991f427cfb35a10463be3e9d58193b', 'Show validation errors on config repo SPA', 5711 %>

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.1.0/config-spa-error.png', alt: 'Config SPA Error' %>
</figure>
<br/>


* <%= link_to_commit '6c889299b130b13a86eebb652b10cba52ffde438', 'Performance improvement to loading multiple Config Repos on server restart.', 5663 %>

<h4>API Improvements</h4>

* <%= link_to_pull_request 5619, "Introduce v1 of #{link_to_api 'get-stage-instance', 'Stage Instance'}." %>
* <%= link_to_issue   5665, "Introduced v2 of  #{link_to_api 'roles', 'Roles'}." %>
* <%= link_to_pull_request 5661, "Introduce v2 of #{link_to_api 'system-admins', 'System Admins'}." %>
* <%= link_to_issue   5558, "Introduced v3 of  #{link_to_api 'users', 'Users'}." %>

<h4>Plugin API improvements</h4>

* <%= link_to_commit 'b851373603cbe93b95f69a23597caecb61f0e22', 'Adding Server version information in v2 ServerInfoProcessor', 5686%>

<h4>Other Improvements</h4>

* <%= link_to_commit 'd6f7b49cfb2231a5e94e35c93ee84bae76de0d1c', 'Allow user to override server keystore password using system environment.', 5592 %>
* <%= link_to_commit '51919ab43ad8a5bf14147e092b1917e3acb34afb', 'Set extra properties for the agent, from server.', 5666 %>
* <%= link_to_commit '143054f55270911d2a87433d5ac3a2e3dbad765e', 'Plugin Info request processor versioning.', 5654 %>
* <%= link_to_commit '792ae6134c0e1e0572835b1888d32ac66b08cdfd', 'Show cancelled by on the dashboard on hovering over a stage.', 5683 %>
* <%= link_to_commit 'a06b4970c582d2379b30c35a2ecc3a347d5a66d3', 'Improved performance of Envrionments API.', 5698 %>

    
<h4>Bug fixes</h4>

* <%= link_to_commit '9a1eaf337689b327f694fbbfe15b455d2b78b259', 'Do not remove MaterialHealthStateScope for config repo materials.', 5651 %>
* <%= link_to_commit '773b68d761123811874ce7858243a957667c66d4', 'Fix for header issue on edit pipeline.', 5596 %>
* <%= link_to_commit 'e6fd8f7eac0bb7763a83b4e8bc9ad5ee7ec033b7', 'Show error on delete when artifact store is referred in pipelines.', 5634 %>
* <%= link_to_commit '90e25238aa9bd88e2105d30525f6e0ca4c51b0e6', 'Plugin settings modal show save failure error.', 5645 %>
* <%= link_to_commit 'ee08190d044c48238aa2342f9a08ae422fa632b5', 'Decrease z-index to make admin menu render on top of console controls.', 5659 %>
* <%= link_to_commit 'a9812de9a8c8a15e903e46f953ae4f3e8f1fc866', 'Toggle TFS workspace location on agent.', 5427 %>
* <%= link_to_commit 'c647a9667fad35944f35bddf39b7a40e1e28af80', 'Artifact store delete message was not visible on error.'%>
* <%= link_to_commit '70f9448f93c24a2f823c3e1095b205e689b60cef', 'Updated clone auth config message to use newly created auth config id.'%>

<h4>Deprecations</h4>

* The elastic agent plugin extension version 3 has been deprecated. This version will be removed in a release scheduled for Mar 2019. Plugin developers should use version 4 of the elastic agent plugin api to allow adding support for job completion request. The docker, docker swarm, kubernetes and ecs plugins have been migrated to the new versions, and users should upgrade their plugins to the latest version to see these new features.
* The notification plugin extension version 3 has been deprecated. This version will be removed in a release scheduled for Mar 2019. Plugin developers should use version 4 of the notification plugin api.
* The analytics plugin extension version 1 has been deprecated. This version will be removed in a release scheduled for Mar 2019. Plugin developers should use version 2 of the analytics plugin api.
* The Get Server Info processor version 1 has been deprecated. This version will be removed in a release scheduled for April 2019. Plugin developers should use version 2 of the Get Server Info processor.
* The Dashboard API v1 has been deprecated. This version of the API will be removed in a release scheduled for March 2019. Version 2 of the API is available, and users are encouraged to use it.
* Unversioned Get Stage Instance API has been deprecated in favor of Get Stage Instance API v1. This version will be removed in a release scheduled for April 2019.
* The Users API v2 has been deprecated. This version of the API will be removed in a release scheduled for April 2019. Version 3 of the API is available, and users are encouraged to use it.
* The System Admins API v1 has been deprecated. This version of the API will be removed in a release scheduled for April 2019. Version 2 of the API is available, and users are encouraged to use it.
* The Roles API v1 has been deprecated. This version of the API will be removed in a release scheduled for April 2019. Version 2 of the API is available, and users are encouraged to use it.
* The Ubuntu 14.04 based docker image for gocd agent has been deprecated and will not be built after April 2019 release of GoCD. This will be done as Ubuntu 14.04 will reach end-of-life in April 2019.
* The Alpine 3.6 based docker image for gocd agent has been deprecated and will not be built after May 2019 release of GoCD. This will be done as Alpine 3.6 will reach end-of-life in May 2019.

<h4>Breaking Changes</h4>

* <%= link_to_commit 'f12cbf3f9e9f53c2fdd921cb3dfcce87a4217c3c' , 'Remove the pipeline quick edit spa.' %>
* <%= link_to_commit '74e4e3c8a26b2b52141de4cc71f438f305100d52' , 'Support for DES was deprecated as part of [18.7.0 release](https://www.gocd.org/releases/#18-7-0) in favor of AES.The support for DES is removed as part of this release. Users who have defined encrypted values in their configuration repositories should update them to use AES encryption', 5646 %>


<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Chandrakanth Nagaraj",
  "Eric Cheung",
  "Ganesh S Patil",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Kritika Singh",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Mansi Shah",
  "Naveen Bhaskar",
  "Prateek Baheti",
  "Rahul Pargaonkar",
  "Rajiesh N",
  "Sanjana Bayya",
  "Sheroy Marker",  
  "Steven Streisguth",
  "Tomasz Setkowski",
  "Varsha Varadarajan",
  "Vishal Devgire",
  "Vrushali Waykole",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 19.1.0' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
