<div class="release-date">Released on 08 Dec, 2017</div>
<h4>UX Changes</h4>
* <%= link_to_commit '0e926106003a040ad4c62bc7810df0b851a35864', 'Newer plugins page', 4030%>.

  As a part of an ongoing UI/UX refresh, we have introduced the new plugins page:

<figure class='shrink-figure-75'>
      <%= image_tag 'releases/17.12.0/Plugins-SPA.png', alt: 'Plugins SPA' %>
  </figure>

<h4>Other Improvements</h4>
* <%= link_to_commit '0ee52b367080b758847613c21701c11895e8ba4a', 'Disallow an authenticated user from re-authentication', 3940%>

     With this change, an authenticated user is re-directed to home page on trying to access the login page.
* <%= link_to_commit '6fda2f5cb5104b9394f2cfd5e41ca1e517078bd6', 'Add new unlock behavior', 3943%> <%= link_to_issue 106 %>

    As a part of this change, two types of locking behavior are introduced:

    * Run single instance of pipeline at a time ("Lock behavior: Unlock when finished")

    * Run single instance of pipeline and lock on failure ("Lock behavior: Lock on failure")

    More information can be found in the <%= link_to("docs", "https://docs.gocd.org/17.12.0/configuration/admin_lock_pipelines.html") %>.
* <%= link_to_commit '979fa507d3527927919a730bf421e92c2090a972', 'Addition of pipeline count information to about page', 3960%>


<h4>Bug Fixes</h4>
* <%= link_to_commit 'ab1ccf83aa90dfa3fc916ca892592e6db81717fc', 'Fix config file validation to not use file system to validate paths. This caused issues in certain cases where the server working directories were using symlinks.', 4026%> <%= link_to_issue 3984 %>
* <%= link_to_commit '6660a1b093d1c265f697c6e0ee16d3c146772a24', "Show 'console log not available' error in build details page's console tab when console.log file is not available", 3998%> <%= link_to_issue 3773 %> <%= link_to_issue 3650 %>
* <%= link_to_commit 'e48d9588988969c42c2f63b617cd9d08f8ca015d', 'Fixes console.log file not being available at server if websocket connection is closed while waiting for logs', 3999%> <%= link_to_issue 3986 %>
* <%= link_to_commit 'ee992e6175497a3ae927c9e956e22d822e5715bd', "Fixes issue in agent zip installers in which agents fail to register if their log directories' path have spaces in them", 3976%> <%= link_to_issue 3966 %>
* <%= link_to_commit 'e6c9b3ad5def1b6ea682c6723106f8c77df94f92', "Fixes issue with stale cache being used in CCtray which caused users associated with plugin-roles to not see pipelines which they were authorized to see otherwise", 3955%> <%= link_to_issue 3954 %>
* <%= link_to_commit '449cbc38c4839ddf0f81165f6b96b10cdd0e721e', "Allows overriding default Go server ports when using windows service", 4038%> <%= link_to_issue 3982 %>

<h4>Security Fixes</h4>
* <%= link_to_commit '488712d7262dc6dd082aad3f2cf2d3ed05a3caa3', 'Token based approach for agent registration', 4014%>

  * Adds a new endpoint to get token from server in exchange of agent uuid. The token for a given agent is issued for unknown agents only - already registered or pending agents cannot request for a token.
  * Agent requests for a token before registration if required. This token is stored on agent's disk and reused for registration calls.

  Note: As a result of this fix, <%= link_to "Go-lang agents", "https://github.com/gocd-contrib/gocd-golang-agent" %> need to be updated to work with GoCD server versions 17.12 or higher, else the agent's registration would fail.
  Golang agent users can follow up with the author on <%= link_to "this", "https://github.com/gocd-contrib/gocd-golang-agent/issues/50" %> issue.


<h4>API Changes</h4>
* Introduction of version 1 for <%= link_to_api "config-repo", "Config Repo API" %>.
* Introduction of version 5 for <%= link_to_api "pipeline-config", "Pipeline config API" %> (<%= link_to_issue 106 %>)

  This version accommodates changes made to <%= link_to("pipeline locking behavior", "https://docs.gocd.org/17.12.0/configuration/admin_lock_pipelines.html") %>. In addition to this, the representation of the origin attribute has also changed.

<h4>Docker Images</h4>
* Addition of ability to run custom scripts while starting up the gocd-server or gocd-agent using the official GoCD docker images. <%= link_to_docker_issue 46 %>

<h4>Breaking Changes</h4>
* <%= link_to_commit 'cdf6722bf17664799a81c42b5c2cc13ae48736fc', 'Remove code related to starting vncserver', 4028 %> <%= link_to_issue 4005 %>

  Alternatives to using the VNC flag are mentioned in <%= link_to "this", "https://github.com/gocd/gocd/issues/4005#issuecomment-348138015" %> comment.

<h4>Deprecations</h4>
* As of release 17.11, version 1 of the users <%= link_to_api 'users' %> is deprecated. This version of the API will be removed in 18.1.0 release (scheduled to be released in January 2018). Version 2 of the API is available, and users are encouraged to use it.
* As of release 17.5, authentication plugin endpoints have been deprecated. Support for these plugins will be removed in 18.1 (scheduled to be released in January 2018). Plugin developers are encouraged to migrate their plugins to use the [Authorization Plugins](https://plugin-api.gocd.org/current/authorization/) that were introduced. The following plugins are affected by this deprecation:
    <ul>
      <li><p><%= link_to('Google OAuth Login', 'https://github.com/gocd-contrib/gocd-oauth-login') %>
      (Alternative: <%= link_to('Google OAuth Authorization Plugin', 'https://github.com/gocd-contrib/google-oauth-authorization-plugin') %>)
      </p>
      </li>

      <li><p><%= link_to('GitHub OAuth Login', 'https://github.com/gocd-contrib/gocd-oauth-login') %>
      (Alternative: <%= link_to('GitHub OAuth Authorization Plugin', 'https://github.com/gocd-contrib/github-oauth-authorization-plugin') %>)
      </p></li>

      <li><p><%= link_to('GitLab(CE) OAuth Login', 'https://github.com/gocd-contrib/gocd-oauth-login') %>
      (Alternative: <%= link_to('GitLab OAuth Authorization Plugin', 'https://github.com/gocd-contrib/gitlab-oauth-authorization-plugin') %>)
      </p></li>

      <li><p><%= link_to('TLS Client Certificates Login', 'https://github.com/cnorthwood/gocd-tls-auth') %>
      (Use <%= link_to('latest version', 'https://github.com/cnorthwood/gocd-tls-auth/releases') %> of TLS Client Certificates Login instead.)
      </p></li>

      <li><p><%= link_to('Strong Auth Plugin', 'https://github.com/danielsomerfield/go-strong-auth-plugin#go-strong-auth-plugin') %>
      (Use the bundled <%= link_to('gocd-filebased-authentication-plugin', 'https://github.com/gocd/gocd-filebased-authentication-plugin') %> instead.)
      </p></li>
      <li><p><%= link_to('Guest Login', 'https://github.com/gocd-contrib/gocd_auth_plugin_guest_user') %></p></li>
    </ul>

* Plugins upload form has been removed from the new plugins page. It is still available in the old plugins page, which will be removed in release 18.2 (scheduled to be released in February 2018).
* As of release 17.9, version 2 of the plugin info <%= link_to_api 'plugin-info' %> is deprecated. This version of the API will be removed in 18.1.0 release (scheduled to be released in January 2018). Version 3 of the API is available, and users are encouraged to use it.

<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Ankur K",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Emily Luke",
  "EugenMayer",
  "Isabelle Carter",
  "Ganesh S Patil",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Naveen Bhaskar",
  "Rajiesh N",
  "Senthil R",
  "Szymon Chojnacki",
  "Tomasz Setkowski",
  "Varsha Varadarajan"
].sort.uniq.join(', ')
%>

<!--
<h4>Security researchers</h4>

<%= link_to('https://hackerone.com/gocd/thanks', 'https://hackerone.com/gocd/thanks') %>
-->

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 17.12' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>
