<div class="release-date">Released on 24 Mar, 2017</div>
<h4>UI Enhancements </h4>

* <%= link_to_commit '320f2236c9eec058d5a8dd35b17e021e56dac44c', 'Enhanched job/stage status accessibility with addition of symbols to signify stage and job statuses.', '3233' %>
    <figure>
      <%= image_tag 'releases/17.3.0/stage_with_symbols.png', alt: 'Stage and Task Symbols' %>
    </figure>
* <%= link_to_commit 'cfc778edfcf6c4b0b557e31ce1dd2fa9804ca63c', 'Build status indicator moved from build summary to breadcrumb toolbar.', '3270' %>
    <figure>
      <%= image_tag 'releases/17.3.0/build_status.png', alt: 'Build Status' %>
    </figure>
* <%= link_to_commit '5478a5460cd4fcb1a7380eb0e4ab3fbbeacb4166', 'Agents page improvement for better identification of elastic agents by addition of icon related to the type of agent in use.', '3276' %>
    <figure>
      <%= image_tag 'releases/17.3.0/elastic_agent_icon.png', alt: 'Elastic Agent Icon' %>
    </figure>

<h4> API Enhancements </h4>

<%= link_to_commit('6986dcc97d544d3087eb66423c70e21d6e77893c', "Added v2 of #{link_to_api 'environment-config', 'Environment Config API'} with support to PATCH environment-variables.", '3080') %>

<h4> Authorization Plugin (Beta)</h4>

There has been more work done around fine tuning the Authorization Plugin endpoints, as part of this some of the plugin API calls have changed.  Action required: Early adopters of this extension will have to update their plugins to handle the updated API calls before upgrading Go. Refer Authorization Plugin Endpoint [documentation](https://plugin-api.gocd.org/current/authorization) for the latest changes.

<h4> Other Improvements</h4>

* <%= link_to_commit '262c107a8e8358214a6cf57c9395c315aa12fc12', 'Pipeline Quick Edit, disable edit until save completes.', '3266' %>

<h4> Bug Fixes</h4>

* <%= link_to_commit '8224568b0df3500525f16f4ff2bd81541f67d663', 'This fixes 17.2.0 upgrade failures in cases where cruise_config xml had encrypted values with spaces.', '3244' %>
* <%= link_to_commit '4db05504d05ab5f88e7891a3cd7b4eac2f3ebcd5', 'Agents page retain sort order across page refresh.', '3226' %>
* <%= link_to_commit '73e0292e753900caa4edf085463e1b270b1628b2', 'Elastic Agents, fixed reduntant agent creation calls to the plugin.', '3193' %>
* <%= link_to_commit '5d75f45c5229f48697beee3ec4e9d404c899e82f', 'Agents page memory leak fix', '3217' %>

<h4> Breaking Changes</h4>

* On GoCD servers installed on windows or if using the zip installers, logs will now be written to logs directory instead of the working directory. This would be a breaking change only if there are custom scripts relying on the logs location.
* The [gocd/gocd-server](https://hub.docker.com/r/gocd/gocd-server/) docker image now uses alpine as the base image. The phusion images are still supported for GoCD 17.3.0 and can be found at [gocd-server-deprecated](https://hub.docker.com/r/gocd/gocd-server-deprecated/) should you wish to use it.
* The [gocd/gocd-server](https://hub.docker.com/r/gocd/gocd-server/) docker image no longer recognizes the `latest` tag. Please use `docker pull gocd/gocd-server:v17.3.0` instead.
* The `gocd/gocd-agent` docker image no longer exists. We have a variety of agent images for different distributions. If you wish to continue  with the old agent image, please use [gocd-agent-deprecated](https://hub.docker.com/r/gocd/gocd-agent-deprecated/) instead.

<h4> Deprecations</h4>

Features that become superseded or irrelevant become *deprecated*, and are scheduled to be removed in some timeframe.

The following features have been deprecated, along with the timeframe when they will be removed.

* As of release 17.1, version 2 of the <%= link_to_api 'template-config', 'Templates API' %> was deprecated. This version of the API will be removed in 17.4 release (scheduled to be released in April 2017). Version 3 of the API is available, and users are encouraged to use it.

* As of release 17.3, version 1 of the <%= link_to_api 'environment-config', 'Environment Config API' %> is deprecated. This version of the API will be removed in 17.6 release (scheduled to be released in June 2017). Version 2 of the API is available, and users are encouraged to use it.

<h4> Docker Images and AMIs</h4>

* The [GoCD server](https://hub.docker.com/r/gocd/gocd-server/) docker image is now alpine based with support for volume mounts, with this going forward there will be no more support for phusion based images.
* You can download the docker images for GoCD agents across the following operating systems - Centos [6](https://hub.docker.com/r/gocd/gocd-agent-centos-6/) & [7](https://hub.docker.com/r/gocd/gocd-agent-centos-7/) , Debian [7](https://hub.docker.com/r/gocd/gocd-agent-debian-7/) & [8](https://hub.docker.com/r/gocd/gocd-agent-debian-8/), Ubuntu [12.04](https://hub.docker.com/r/gocd/gocd-agent-ubuntu-12.04/), [14.04](https://hub.docker.com/r/gocd/gocd-agent-ubuntu-14.04/) & [16.04](https://hub.docker.com/r/gocd/gocd-agent-ubuntu-16.04/)
* We have also introduced an Amazon Linux based [AMI](https://gocd.org/cloud) for the GoCD Server making it very simple to launch GoCD server on your AWS EC2 instance.
* The old phusion based images have been moved, they can found under [gocd-server-deprecated](https://hub.docker.com/r/gocd/gocd-server-deprecated/) and [gocd-agent-deprecated](https://hub.docker.com/r/gocd/gocd-agent-deprecated/).

Feedback is appreciated. Please log your feedback or issues on github for the following -

* GoCD Server - <%= link_to 'https://github.com/gocd/docker-gocd-server', 'https://github.com/gocd/docker-gocd-server' %>
* GoCD Agent - <%= link_to 'https://github.com/gocd/docker-gocd-agent', 'https://github.com/gocd/docker-gocd-agent' %>
* GoCD AMI - <%= link_to 'https://github.com/gocd/gocd-cloud', 'https://github.com/gocd/gocd-cloud' %>

<h4> Contributors</h4>

<%= [
    'Ankit Srivastava', 'Aravind SV', 'Barrow Kwan' 'Bhupendrakumar Piprava', 'Etienne Dysli Metref', 'Ganesh S Patil', 'Isabelle Carter', 'Jyoti Singh', 'Junaid Shah', 'Karel Bemelmans', 'Ketan Padegaonkar', 'Kiera Radman', 'Kyle Olivo', 'Mahesh Panchaksharaiah', 'Marques Lee', 'Naveen Bhaskar', 'Varsha Varadarajan', 'Marques Lee', 'Lubaina R', 'Rajiesh Narayanan'
].sort.uniq.join(', ')
%>

<h4> Security researchers</h4>

<%= link_to('https://hackerone.com/gocd/thanks', 'https://hackerone.com/gocd/thanks') %>

<h4> Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 17.3' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. <a href="https://groups.google.com/forum/#!forum/go-cd">Reach out to us</a>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>
