<div class="release-date">Released on 02 Jun, 2017</div>
<h4>Important</h4>

There has been a critical security vulnerability identified with this release, fixes for the same have been provided in 17.7.0. If you are on 17.5.0, please upgrade immediately to 17.7.0 to keep your GoCD sever and agent secure.

<h4>Authorization Plugin</h4>

[Authorization Plugin](https://plugin-api.gocd.org/current/authorization/) extension was released as beta in GoCD 17.2.0, over the last couple of releases there has been more work done around fine tuning the endpoint. With this release we are taking the Authorization Plugin endpoint out of beta.

<b>Action required:</b> Early adopters of this extension will have to update their plugins to handle the updated API calls before upgrading GoCD. Refer to the Authorization Plugin Endpoint [documentation](https://plugin-api.gocd.io/current/authorization) for the latest changes.

The built-in LDAP and password file based authentication mechanisms have been deprecated and disabled in favor of separate plugins which implement the new Authorization Plugin extensions. The new plugins provide more functionality, with the benefit of allowing users to customize the behavior of these plugins. These plugins are bundled with the GoCD server, so no action will be required from users. Existing passwordFile and ldap configuration would be migrated to make use of these plugins.

* LDAP/AD authentication plugin

  The bundled [LDAP/AD authentication plugin](https://github.com/gocd/gocd-ldap-authentication-plugin) will now allow users to connect to and authenticate with multiple LDAP/AD servers in their organizations. Early adopters of this plugin using the experimental build will have to make changes to their config. Refer to the plugin [changelog](https://github.com/gocd/gocd-ldap-authentication-plugin/blob/master/CHANGELOG.md#3601af8---bundled-with-gocd-v1750) to see the changes between experimental release to latest stable release.

* Password File Authentication Plugin

  The bundled [Password File Authentication Plugin](https://github.com/gocd/filebased-authentication-plugin) currently supports only SHA1 hashed passwords, but support for other hashing functions is [on its way](https://github.com/gocd/filebased-authentication-plugin/issues/13).

There are 2 new sets of pages that allows configuring the authorization plugins and mapping of GoCD roles to users.

  <figure>
    <%= image_tag 'releases/17.5.0/security-menu.png', alt: 'GoCD Security Menu' %>
  </figure>

  <figure>
    <%= image_tag 'releases/17.5.0/auth-config.png', alt: 'Example LDAP server configuration' %>
    <figcaption>Example LDAP connection configuration</figcaption>
  </figure>

  <figure>
    <%= image_tag 'releases/17.5.0/role-config.png', alt: 'Example GoCD role to LDAP group mapping' %>
    <figcaption>Example GoCD role to LDAP group mapping</figcaption>
  </figure>

<h4>API Enhancements</h4>

* Introduced a <%= link_to_api 'current-user', 'current user API' %> that allows the logged in user to manage their profile.
* Introduced a <%= link_to_api 'notification-filters', 'notification filters API' %> that allows the logged in user to manage their email notification subscriptions.
* Introduced a <%= link_to_api 'authorization-configuration', 'authorization configuration API' %> that allows admins to configure Authorization plugins.
* Introduced a <%= link_to_api 'roles', 'roles API' %> that allows admins to manage user roles.

<h4>Bug Fixes</h4>

* <%= link_to_commit '9cec83fd6dda71ea085525354ca201ab7e4d3dec', 'Stop very large file systems (EFS) from being identified as having no space.', 3426 %>

  Large filesystems like EFS, have an amount of storage that exceeds what can be addressed with a java `long` type (<code>2<sup>63</sup>-1</code>). Any storage space greater than <code>2<sup>63</sup>-1</code>, will be shown to be <code>2<sup>63</sup>-1</code>.

* <%= link_to_commit '2b06534c76eb40ee63dc0842af6d0bab22da5424', 'Pipeline not getting unlocked upon a successful run.', 3497 %>

  Fixed a issue of pipelines not getting unlocked even upon a successful run of the last stage during a race condition.

* <%= link_to_commit '26bfeab2c8c1821802e89a9baa0f584780f7c273', 'Avoid catastrophic regex backtracking during config save.', 3551 %>

  Fixed an issue to avoid catastrophic regex backtracking during xsd validation of custom task command.

* <%= link_to_commit '2a21e7cfa7296273b4e2843967403e16330f586c', 'Using UTF-8 to read console to fix encoding issue.', 3486 %>

* <%= link_to_commit 'e89fdb669f0663d48fde2510248b7d525d5e9808', 'CCTray permission bug fix.', 3516 %>

  Allow users to see all pipelines in CCTray when no global superadmins are setup to make the behavior consistent with dashboard.

<h4>Breaking Changes</h4>

* <%= link_to_commit 'bd64d11d6d602ca4b0ab2318a3d504d07b472346', 'Removed Templates API v2', 3441 %>

  Version 2 of the <%= link_to_api 'template-config', 'Templates API' %> was deprecated in 17.1. Version 3 of the API is available, and users are encouraged to use it.

<h4>Deprecations</h4>

Features that become superseded or irrelevant become *deprecated*, and are scheduled to be removed in some timeframe.

The following features have been deprecated. Please note the timeframe of when they will be removed.

* Support for in-built password file and LDAP/AD authentication have been deprecated as of this release. Support for these authentication mechanisms would be removed in 17.9 release (scheduled to be released in September 2017).

* As of release 17.3, version 1 of the <%= link_to_api 'environment-config', 'Environment Config API' %> was deprecated. This version of the API will be removed in 17.6 release (scheduled to be released in June 2017). Version 2 of the API is available, and users are encouraged to use it.

* The [Authorization Plugin](https://plugin-api.gocd.org/current/authorization/) endpoints were introduced as an extension to the existing Authentication Plugin endpoints, with this we are deprecating the Authentication Plugin endpoint. Support for this plugin would be removed in 18.1 (scheduled to be release in January 2018). Plugin developers are encouraged to migrate their plugins to use the new Authorization Plugins.
    <h5>Authentication plugins</h5>
    <ul>
      <li><p><%= link_to('Google OAuth Login', 'https://github.com/gocd-contrib/gocd-oauth-login') %></p></li>
      <li><p><%= link_to('GitHub OAuth Login', 'https://github.com/gocd-contrib/gocd-oauth-login') %></p></li>
      <li><p><%= link_to('GitLab(CE) OAuth Login', 'https://github.com/gocd-contrib/gocd-oauth-login') %></p></li>
      <li><p><%= link_to('TLS Client Certificates Login', 'https://github.com/cnorthwood/gocd-tls-auth') %></p></li>
      <li><p><%= link_to('Strong Auth Plugin', 'https://github.com/danielsomerfield/go-strong-auth-plugin#go-strong-auth-plugin') %></p></li>
      <li><p><%= link_to('Guest Login', 'https://github.com/gocd-contrib/gocd_auth_plugin_guest_user') %></p></li>
    </ul>

<h4>Contributors</h4>

<%= [
  "Ankit Srivastava",
  "Aravind SV",
  "Badri J",
  "Bhupendrakumar Piprava",
  "Chris Northwood",
  "David Rice",
  "Emily Luke",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Kyle Olivo",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Rajiesh N",
  "Suzie Prince",
  "Varsha Varadarajan"
].sort.uniq.join(', ')
%>

<!--
<h4>Security researchers</h4>

<%= link_to('https://hackerone.com/gocd/thanks', 'https://hackerone.com/gocd/thanks') %>
-->

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 17.5' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>
