<div class="release-date">Released on 15 Oct, 2018</div>
<h4>Support for Java 10 and 11</h4>

  While we continue to support Java 8, GoCD has now added support for Java 10 and 11. With Oracle moving towards a 6 month cadence for newer releases we are evaluating the process to keep in sync with the new cadence. Watch this space for more information in the coming releases.

<h4>Environments Page</h4>

  Originally the `Environments` page grouped the pipelines by environment with an option for admins to edit the environment. With the introduction of the new pipeline dashboard users have an option to group the pipelines by `Pipeline Group` or `Environment`. 

  With this release we have moved the environments page under the Admin tab. This page lists all the configured environments with an option to edit them.

  <figure class='shrink-figure-70'>
    <%= image_tag 'releases/18.10.0/environments-under-admin.gif', alt: 'Environments page moved under Admin tab' %>
  </figure>


<h4>Elastic Agent Extension V4</h4>

  Upgraded the Elastic Agent Extension to [Version 4](https://plugin-api.gocd.org/18.10.0/elastic-agents). With this version GoCD notifies the plugin on completion of Job
run by an elastic agent.

<h4>New APIs</h4>

  * <%= link_to_issue 2404, "Introduced an API for Admins to manage  #{link_to_api 'pipeline-group-config', 'Pipeline Groups'}." %>

<h4>Improvements</h4>

  * <%= link_to_commit '69559f95c38249cb799aaa043eea76f492fe78aa', 'Added support for referencing Environment Variable in Pipeline Label.', 5180 %>
  * <%= link_to_commit '1ed99a0a8f9c461ac34833a2406219306e05e9dd', 'Allow non-admins to view all analytics other than dashboard analytics', 5237 %>

<h4>Bug fixes</h4>

  * <%= link_to_commit '7b83e689eb68b67bc3de328dcca05bba6b915368', 'Validate fetch artifact config before save', 5202 %>
  * <%= link_to_commit '9f177810a6ac527ef7f1bc3ddd1657cf30a5ada1', 'Set status 503 when backup is in progress.', 5222 %>
  * <%= link_to_commit 'fa31d5805193a4a433e645fbe35b5e0839bda154', "Fix for email notification filter not acknowledging 'Only if it contains my check-ins'", 5238 %>
  * <%= link_to_commit '1cce49562aa15563d10d46ef6d4afe722f306491', "Fix ETag computation for DataSharing Settings API", 5184 %>
  * <%= link_to_commit '0349a02348a93876cbf2b3d3bc9864283455d524', "Timer triggered pipelines are not scheduled on a standby server", 5234 %>

<h4>Deprecations</h4>

  * The alpine 3.5 based docker image for [gocd agent](https://hub.docker.com/r/gocd/gocd-agent-alpine-3.5/) has been deprecated and will not be built after November 2018 release of GoCD. This will be done as alpine 3.5 will reach [end-of-life](https://wiki.alpinelinux.org/wiki/Alpine_Linux:Releases) in November 2018.
   * With the introduction of AES for encryption/decryption in release 18.7.0, we are deprecating support for DES. Support for DES is retained to support DES cipher-texts configured in config-repos and will be available till the last release of GoCD for the year 2018. The <%= link_to_versioned_api '18.8.0', 'encryption', 'Encryption API' %> is updated to return a AES cipher-text, users are encouraged to update their DES cipher-texts in config-repos using this API.
  * The Pipeline Config API v5 has been deprecated in release 18.7.0. This version of the API will be removed in a release scheduled for November 2018. <%= link_to_versioned_api '18.8.0', 'pipeline-config', 'Version 6' %> of the API is available, and users are encouraged to use it.
  * The Template Config API v3 has been deprecated in release 18.7.0. This version of the API will be removed in a release scheduled for November 2018. <%= link_to_versioned_api '18.8.0', 'template-config', 'Version 4' %> of the API is available, and users are encouraged to use it.
  * The elastic agent plugin extension version 3 has been deprecated. This versions will be removed in a release scheduled for Mar 2019. Plugin developers should use version 4 of the elastic agent plugin api to allow adding support for job completion request. The docker, docker swarm, kubernetes and ecs plugins have been migrated to the new versions, and users should upgrade their plugins to the latest version to see these new features.
  * The notification plugin extension version 3 has been deprecated. This versions will be removed in a release scheduled for Mar 2019. Plugin developers should use version 4 of the notification plugin api.
  * The analytics plugin extension version 1 has been deprecated. This versions will be removed in a release scheduled for Mar 2019. Plugin developers should use version 2 of the analytics plugin api.

<h4>Breaking Changes</h4>

  * We have stopped building ubuntu 12.04 based docker image for [gocd agent](https://hub.docker.com/r/gocd/gocd-agent-ubuntu-12.04/) as ubuntu 12.04 is now end-of-life.

<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Chandrakanth Nagaraj",
  "Danilo Sato",
  "Ganesh S Patil",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Kosta Welke",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Pranav Bansod",
  "Rahul Pargaonkar",
  "Rajiesh N",
  "Ravi Ranjan",
  "Senthil R",
  "Steven Streisguth",
  "Tina Vinod",
  "Varsha Varadarajan",
  "Vishal Devgire",
].sort.uniq.join(', ')
%>


<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 18.10' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
