<div class="information">
  <b>NOTE:</b> An issue was discovered with 23.2.0 which prevents UI navigation via Stage History to older stage runs in
  the history when you're already viewing the detail of an individual stage (Stage Details view).

  Please upgrade to <%= link_to_full_changelog '23.3.0', 'Release 23.3.0' %> instead, which resolves this issue.
</div>
---
This release is mainly a maintenance and bug-fix release.

<h4>Minor changes that may affect plugins</h4>

There have been some changes made to GoCD's UI dependencies to improve loading times which may unintentionally affect
certain <%= link_to 'plugins', '/plugins/index.html' %>' views. If you notice a visual problem with a plugin view after
updating to 23.2.0, please update to the latest released version of the plugin, and if the issue persists please open an
issue on the plugin's GitHub repository.

A small number of third-party ___community-authored authorization plugins___ may no longer be compatible if they have not
been updated to declare compatibility with the <%= link_to_plugin_api_section 'authorization', '2.0 extension API' %>
and still use the outdated extension version 1.0 <%= link_to_plugin_api_section '#changes-in-gocd-19-3-0', 'deprecated in 2019' %>.
All known popular plugins maintained by the community have been updated, so please update your plugins and open an issue
with the plugin author if you notice a plugin version compatibility error preventing the plugin from loading.

<h4>GoCD Agent DIND container image start-up is now more conservative</h4>

The <%= link_to 'GoCD agent "docker-in-docker" image', 'https://hub.docker.com/r/gocd/gocd-agent-docker-dind' %>
semantics were changed to ensure that the Docker daemon has ___started correctly before starting the
GoCD agent___.

This aligns behavior with the <%= link_to 'upstream official docker:dind image', 'https://hub.docker.com/_/docker/tags?page=1&name=dind' %>
and resolves a race condition in <%= link_to_issue 11378, '' %> that can cause docker-related tasks on GoCD agents to fail
due to improvements in GoCD agent work pick-up speed in recent releases.

Prior to GoCD 23.2.0, if the daemon failed to start the agent would continue to work without it. Docker commands within
tasks would fail, however the agent would continue. If you were accidentally relying on this behaviour (e.g due to running
the agent without the ___privileged___ flag, without the appropriate Kubernetes ___securityContext___, or without
mounting the host's ___docker.sock___ into the container correctly), you will need to update your agent start
scripts or elastic agent profile to ensure the daemon has the correct container privileges, OR switch to a non-DIND
agent image such as a <%= link_to 'plain Alpine image', 'https://hub.docker.com/r/gocd/gocd-agent-alpine-3.18' %>.

Keep in mind that you only need to use a DIND agent image if you are relying on docker-in-docker or docker-out-of-docker
approaches to build or run nested or sibling containers within your agent host. If you want a drop-in replacement, we
recommend that you use an off-the-shelf GoCD Agent Alpine image, or if you need the Docker CLI (without daemon)
build your own custom child image, augmenting with ___apk add docker-cli___ or similar tooling.

<h4>Enhancements</h4>

* <%= link_to_issue 11629 %>, <%= link_to_issue 11633, 'Ability to store/retrieve session state within GoCD plugins to facilitate increased security OAuth2/OIDC' %>
* <%= link_to_issue 11693, 'Starting this release, Debian 12 / Bookworm based container images for GoCD Agent are' %> <%= link_to 'available', 'https://hub.docker.com/r/gocd/gocd-agent-debian-12' %>.
* <%= link_to_issue 11578, 'Starting this release, Alpine 3.18 based container images for GoCD Agent are' %> <%= link_to 'available', 'https://hub.docker.com/r/gocd/gocd-agent-alpine-3.18' %>.
* <%= link_to_issue 11578, 'Build the default GoCD Server image on Alpine 3.18' %>
* <%= link_to_issue 11405, 'Reduce size/security attack surface of CentOS Stream 9 based container images (requires use of microdnf instead of dnf)' %>
* <%= link_to_issue 11472 %>, <%= link_to_issue 11449 %>, <%= link_to_issue 11473 %>, <%= link_to_issue 11626 %>, <%= link_to_issue 11627 %>, <%= link_to_issue 11625, 'Increase UI loading speed by reducing bundle size' %>
* <%= link_to_issue 11535, 'Improve pipeline config tab switch confirmation dialog message' %>
* <%= link_to_issue 11663, 'Improve user experience when managing Pluggable SCMs with Auto Update' %>
* <%= link_to_issue 11664, 'Improve error messages during config repo material validation' %>
* <%= link_to_issue 11634, 'Allow server wrapper-properties customisation within server container images' %>

<h4>Bug fixes</h4>

* <%= link_to_issue 11378 %>, <%= link_to_issue 11406, 'gocd-agent-docker-dind:v23.1.0 image can sometimes fail docker tasks run after agent start' %>
* <%= link_to_issue 11548, 'go-agent 23.1.0 does not start when system tmp dir has a noexec mount' %>
* <%= link_to_issue 11376, 'Remove unnecessary bloat within CentOS 7 arm64 agent container image' %>
* <%= link_to_issue 11544, 'Pipeline config deep links from Pluggable SCMs and Elastic Agents don\'t work as expected' %>
* <%= link_to_issue 11399, 'GoCD Artifacts tab doesn\'t show artifacts whose name starts with a dot' %>
* <%= link_to_issue 11773, 'Fix import of nant_path from nant config repo tasks' %>
* <%= link_to_issue 11772, 'Fix export to config repo of fetch artifact tasks without pipeline name set' %>
* <%= link_to_issue 11652, 'Fix font display consistency across views' %>
* <%= link_to_issue 2822,  'Fix logging ERROR noise from url rewriting logic' %>
* <%= link_to_issue 11513, 'Remove misleading reporting of agent "creating properties" in console logs' %>

<h4>Security fixes</h4>

There are no security fixes included in this release (for issues known to affect GoCD).

However, we regularly upgrade dependencies to mitigate known vulnerabilities from third party software (regardless of
whether they are known to affect GoCD), so upgrading to the latest release is always recommended from a security perspective.

<h4>APIs</h4>

Improvements, deprecations and breaking changes in the API and plugin API have been moved to their respective changelogs
- <%= link_to_versioned_api '23.2.0','changes-in-23-2-0', 'API changelog for 23.2.0' %> and
  <%= link_to_versioned_plugin_api '23.2.0','changes-in-gocd-23-2-0', 'Plugin API changelog for 23.2.0' %>.

<h4>Contributors</h4>

<%= [
  "Aravind SV",
  "Chad Wilson",
  "FeltIP",
  "James McNee",
  "Jeroen Oortwijn",
  "Ketan Padegaonkar",
  "Marc Ende",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 23.2.0' %>

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
