<h4>Read Only View for Config Repository Pipelines</h4>

Earlier users had to visit the source control repository to know the pipeline settings of the pipelines defined on config repository. Now, Users will now be able to view configurations of pipelines defined via config repositories in read-only mode within the GoCD application.

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.12.0/read-only-pipeline.png', alt: 'Read Only View for Config Repository Pipeline' %>
</figure>


<h4>Improvements to Role Based Access Control</h4>

As part of GoCD release `v19.11.0`, GoCD added support to configure access permissions to environments using policies at a granular level.
This release adds support to configure access permissions for config repositories. Support for other GoCD entities will be added in subsequent releases.


<h4>UI/UX refresh</h4>

As part of our ongoing effort towards making the UI/UX consistent across all pages of GoCD, in this release we have rebuilt the following pages:

<h4>Elastic Agent Configuration Page</h4>

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.12.0/landing-page.png', alt: 'Elastic Agent Configuration Landing Page' %>
</figure>

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.12.0/cluster-profile.png', alt: 'Elastic Agent Configuration Cluster Profile Page' %>
</figure>

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.12.0/elastic-profile.png', alt: 'Elastic Agent Configuration Elastic Profile Page' %>
</figure>


<h4>Pipeline Activity Page</h4>

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.12.0/pipeline-activity.png', alt: 'Pipeline Activity Page' %>
</figure>

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.12.0/pipeline-activity-comment.png', alt: 'Pipeline Activity Comment Page' %>
</figure>


<h4>Agent Job Run History Page</h4>

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.12.0/agent-job-run-history.png', alt: 'Agent Job Run History Page' %>
</figure>

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.12.0/agent-job-state-transition.png', alt: 'Agent Job State Transition Page' %>
</figure>


<h4>Other Improvements</h4>
* <%= link_to_issue 7321, "Introduce Pipeline Comment feature to allow users commenting on a pipeline instance. Please refer to the #{link_to 'documentation', 'https://docs.gocd.org/current/advanced_usage/pipeline_activity.html'} to know more about pipeline comment feature. " %>
* <%= link_to_issue 7229, 'Performance improvements to Pipeline Config updates through UI.' %>
* <%= link_to_issue 3370, 'Add pipeline group name to environment variable context during build assignment.' %>
* <%= link_to_issue 7402, 'Allow users to rename pipeline group via API.' %>
* <%= link_to_issue 7370, 'Environment SPA Improvements.' %>
* <%= link_to_issue 7372, 'Add Confirmation modal on server config SPA while switching tabs.' %>
* <%= link_to_issue 7375, 'Open new read only templates page upon clicking view templates from pipeline configurations page.' %>
* <%= link_to_issue 7374, 'Improve agent\'s API error message.' %>
* <%= link_to_issue 6897, 'Guess webhook repo url for ssh urls.' %>


<h4>Bug fixes</h4>

* <%= link_to_issue 7481, 'Fix persistence issue with secure environment variables of an environment.' %>
* <%= link_to_issue 7432, 'Show error message when entity does not exist on SPAs.' %>
* <%= link_to_issue 7356, 'Show appropriate error message for disabled pipeline edit icon on templates SPA.' %>
* <%= link_to_issue 7357, 'Fix read only templates view jump issue.' %>
* <%= link_to_issue 7359, 'Disable deleting environments defined in config repository through API.' %>
* <%= link_to_issue 7345, 'Fix export pipeline to generate valid configuration for pipelines consisting of package repository materials.' %>
* <%= link_to_issue 7373, 'Fix project management configuration persistence issue.' %>
* <%= link_to_issue 7415, 'Allow users to cancel stage on maintainance mode page.' %>
* <%= link_to_issue 7423, 'Show validation error message for on cancel task.' %>
* <%= link_to_issue 7456, 'Fix loading issues with config repository SPA.' %>
* <%= link_to_issue 7468, 'Show appropriate error message when user does not have permissions to edit pipeline configurations.' %>
* <%= link_to_issue 6363, 'Show appropriate error message when pipeline does not exists on edit pipeline configurations page.' %>
* <%= link_to_issue 7442, 'Fix issue with positioning of tool tip in users management page.' %>
* <%= link_to_issue 7336, 'Add missing Send Test Email option on Email Configuration SPA.' %>


<h4>APIs</h4>

Improvements, deprecations and breaking changes in the API and plugin API have been moved to their respective changelogs - <%= link_to_versioned_api '19.12.0','changes-in-19-12-0', 'API changelog for 19.12.0' %> and <%= link_to_versioned_plugin_api '19.12.0','changes-in-gocd-19-12-0', 'Plugin API changelog for 19.12.0' %>.

<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Andrew Bentley", #external contributor
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Dhanashri Pagar",
  "Ganesh S Patil",
  "Isabelle Carter",
  "Jen Marley",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Kritika Singh",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Mansi Shah",
  "Marques Lee",
  "Rajiesh N",
  "Sheroy Marker",
  "Steven Streisguth",
  "Tomasz Setkowski",
  "Varsha Varadarajan",
  "Veerababu Kona",
  "Viraj Patil",
  "Vrushali Waykole"
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 19.12.0' %>

Have ideas and want to contribute? Need some help getting started? Search the archives in the <%= link_to 'GoCD mailing list', 'https://groups.google.com/g/go-cd' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
