<h2 id="agents-page-beta">Agents page (Beta)</h2>

<p>This is a new page for managing agents, which should feel a lot more light weight and snappier than the existing agents page.</p>

<p>We would really appreciate your feedback to make this page better. If you notice any issues or bugs with this page, please submit a bug report on <%= link_to('GitHub', "https://github.com/gocd/gocd/issues") %></p>

<div class="figure">
  <img src="https://cloud.githubusercontent.com/assets/10598/18782812/e11e86ba-81a5-11e6-9c0a-4217657d23e2.png" alt="agents-spa-screenshot" />
</div>

<p><strong>How do I use this?</strong></p>

<p>Click on the &quot;Check out the new agents page&quot; on the agents page that you're familiar with.</p>

<div class="figure">
  <img src="https://cloud.githubusercontent.com/assets/10598/18782787/c3be9b14-81a5-11e6-9e36-2ebec3210db2.png" alt="old-agents-page" />
</div>

<h2 id="improvements">Improvements</h2>

<p><%= link_to_commit('53d0d42', 'Show details about linux distribution flavors and versions', '2608') %></p>
<p><%= link_to_commit('cc69476', 'Filter for pipeline history view', '2391') %></p>

<h2 id="api-enhancements">API enhancements</h2>

<p><%= link_to_commit('687d454', 'Added new <a href="https://api.go.cd/current/#template-config">API</a> to manage pipeline templates', '2233') %></p>
<p><%= link_to_commit('f8ab50a', 'Added <code>PATCH</code> support for <a href="https://api.go.cd/current/#environment-config">environments update API</a>, this will allow you to specify pipelines and agents that should be added and/or removed in a single API call.') %> </p>
<p><%= link_to_commit('09c864e', 'Added <a href="https://api.go.cd/current/#agents">Agents Api V4</a>. This adds a <code>build_details</code> property with relevant links to the job that is currently building on the agent.') %></p>

<h2 id="bug-fixes">Bug fixes</h2>

<p><%= link_to_commit('2d8ec07', 'Spaces are not trimmed from environment variables', '1411') %></p>
<p><%= link_to_commit('845ee9b', 'Tweak the agent registration protocol a bit', '2558') %></p>
<p><%= link_to_commit('ee9cdae', 'Escape the jar URL to allow symbols such as <code>#</code> (needed when running GoCD on Mesos)') %></p>

<h2 id="security-fixes">Security fixes</h2>

<p><%= link_to_commit('1f2a189', 'Do not display the value of secure environment variable in templates view', '2652') %></p>

<h2 id="performance-improvements">Performance improvements</h2>

<p><%= link_to_commit('53ab276', 'Removed an extra post merge validation', '2594') %></p>

<h2 id="breaking-changes">Breaking changes</h2>

<p>No breaking changes in this release</p>

<h2 id="deprecations">Deprecations</h2>

<p>Features that become superseded or irrelevant become <em>deprecated</em>, and are scheduled to be removed in some timeframe.</p>

<p>The following features have been deprecated, along with the timeframe when they will be removed</p>
<ul>
  <li>As of release 16.10, version 2 of the <a href="https://api.go.cd/current/#agents">Agents API</a> is deprecated. This version of the API will be removed in 17.1 release (scheduled to be released in Jan 2017). Version 4 of this API is backward compatible, and users are encouraged to use it.</li>
  <li>As of release 16.5, Java 7 support was deprecated. Java 7 support will be removed in 17.1 release (scheduled to be released in January 2017). GoCD works great with Java 8, and users are encouraged to use it.</li>
  <li>As of release 16.7, version 1 of the <a href="https://api.go.cd/current/#pipeline-config">Pipeline Config API</a> was deprecated. This version of the API will be removed in 16.10 release (scheduled to be released in Oct 2016). Version 2 of this API is backward compatible, and users are encouraged to use it.</li>
  <li><p>As of release 16.7, Java API based Go Plugins have been deprecated. Support for running these plugins will be removed in 17.1 (scheduled to be released in January 2017). Plugin developers are encouraged to upgrade their plugins to use <a href="https://plugin-api.go.cd/current/tasks">JSON message based plugin API.</a> to build plugins.</p>

    <p>Below is the list of plugins that will stop working in 17.1.</p>
    <h5 id="package-plugins">Package plugins</h5>
    <ul>
      <li><a href="https://github.com/aresok/go-maven-poller">Maven (Nexus) repository poller</a></li>
      <li><a href="https://github.com/hammerdr/go-docker-registry-poller">Docker Registry Poller - 1</a></li>
      <li><a href="https://github.com/decoomanj/gocd-docker-material-poller">Docker Registry Poller - 2</a></li>
      <li><a href="https://github.com/drrb/go-puppet-forge-poller">Puppet Forge repository poller</a></li>
      <li><a href="https://github.com/gocd-contrib/deb-repo-poller">Debian repository poller</a></li>
      <li><a href="https://github.com/Sounie/springer-gocd-cloudfoundry-plugin/blob/master/README.md">Cloud Foundry poller</a></li>
      <li><a href="https://github.com/ThoughtWorksInc/go-nuget-poller-plugin/">Nuget repository poller</a></li>
      <li><a href="https://github.com/varchev/go-generic-artifactory-poller">Generic Artifactory poller</a></li>
      <li><a href="https://github.com/varchev/go-npm-poller">NPM repository poller</a></li>
    </ul>
    <h5 id="task-plugins">Task plugins</h5>
    <ul>
      <li><a href="https://github.com/akanyer/gocd-msbuild-taskplugin/blob/master/README.md">MSBuild Task</a></li>
      <li><a href="https://github.com/gocd-contrib/xunit-converter-task">XUnit Converter</a></li>
      <li><a href="http://ind9.github.io/gocd-s3-artifacts">Publish to S3</a></li>
      <li><a href="http://ind9.github.io/gocd-s3-artifacts">Fetch from S3</a></li>
      <li><a href="https://github.com/manojlds/gocd-powershell-runner/blob/master/README.md">Powershell Task</a></li>
      <li><a href="https://github.com/MidVision/go-rapiddeploy/wiki#rapiddeploy-package-repository-plugin">RapidDeploy Package Builder</a></li>
      <li><a href="https://github.com/MidVision/go-rapiddeploy/wiki#rapiddeploy-job-runner-task-plugin">RapidDeploy Job Runner</a></li>
      <li><a href="https://github.com/ruckc/gocd-maven-plugin">Maven Task Plugin</a></li>
      <li><a href="https://github.com/tusharm/go-artifactory-plugin">Publish to Artifactory</a></li>
    </ul>
    <h5 id="task-plugins-1">Task plugins</h5>
    <ul>
      <li><a href="https://github.com/akanyer/gocd-msbuild-taskplugin/blob/master/README.md">MSBuild Task</a></li>
      <li><a href="https://github.com/gocd-contrib/xunit-converter-task">XUnit Converter</a></li>
      <li><a href="http://ind9.github.io/gocd-s3-artifacts">Publish to S3</a></li>
      <li><a href="http://ind9.github.io/gocd-s3-artifacts">Fetch from S3</a></li>
      <li><a href="https://github.com/manojlds/gocd-powershell-runner/blob/master/README.md">Powershell Task</a></li>
      <li><a href="https://github.com/MidVision/go-rapiddeploy/wiki#rapiddeploy-package-repository-plugin">RapidDeploy Package Builder</a></li>
      <li><a href="https://github.com/MidVision/go-rapiddeploy/wiki#rapiddeploy-job-runner-task-plugin">RapidDeploy Job Runner</a></li>
      <li><a href="https://github.com/ruckc/gocd-maven-plugin">Maven Task Plugin</a></li>
      <li><a href="https://github.com/tusharm/go-artifactory-plugin">Publish to Artifactory</a></li>
    </ul></li>
</ul>

<h4>Contributors</h4>

<p>Aravind SV, Ganesh S Patil, GaneshSPatil, Juhi Jariwala, Ketan Padegaonkar, Mahesh Panchaksharaiah, Mdevlin4, Sumanth Kumar Mora, Naveen Bhaskar, Rajiesh Narayanan, Tim Anderegg, Tomasz Sętkowski, Varsha Varadarajan, Venkata Jaswanth, Zabil Cheriya Maliackal</p> 

<h4>Security researchers</h4>

<%= link_to('https://hackerone.com/gocd/thanks', 'https://hackerone.com/gocd/thanks') %>

<h4>Note</h4>
<p>A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 16.10' %></p>

<p>Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.</p>
<p>Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %></p>
