<h4>Versions of Java this release of GoCD works with</h4>

<ul>
  <li>Java 8 (Deprecated)</li>
  <li>Java 10 (Deprecated)</li>
  <li>Java 11</li>
  <li>Java 12</li>
</ul>

<h4>API Improvements</h4>

* A new request has been added to the plugin API endpoint to allow elastic agent plugins to <%= link_to_plugin_api_fragment 'elastic-agents', '#log-messages-to-job-console', 'log messages to the job console' %>.

<h4>Other Improvements</h4>


<h4>Bug fixes</h4>

* <%= link_to_issue 1234, 'CHANGE THIS ...' %>

<h4>New Deprecations</h4>


<h4>Deprecations</h4>


<h4>Breaking Changes</h4>


<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Dhanashri Pagar",
  "Ganesh S Patil",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Kritika Singh",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Mansi Shah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Rajiesh N",
  "Saurabh Mistry",
  "Sheroy Marker",
  "Steven Streisguth",
  "Tomasz Setkowski",
  "Varsha Varadarajan",
  "Viraj Patil",
  "Vrushali Waykole",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 19.5.0' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
