<div class="release-date">Released on 09 May, 2018</div>
<p class="information">
  Previously, there was a warning about not upgrading to 18.4. In 18.5, an issue around pipelines created using the pipeline config API showing twice on the dashboard was fixed. We haven't been able to replicate issue <%= link_to_issue 4723, '' %> around pipelines created using JSON and YAML plugins, we suspect it might be an issue with the individual's setup. [Updated: 2018 May 11, 11:45 UTC]
</p>

<h4>Performance fix</h4>

This release primarily addresses performance issue caused by a config save, which slows down several requests because of a long-running database query executed in order to update the dashboard.

We have performed some optimizations in order to significantly reduce the number of SQL calls executed. Read more about it <% link_to_issue 4706, 'here' %> and <%= link_to_issue '4705#issuecomment-386554649', 'here' %>.

<h4>Improvements</h4>

  * <%= link_to_issue 4664, 'Improved logging on GoCD server when agent registration fails.' %>
  * <%= link_to_issue 4610, "Add an origin attribute on fetch task. The origin attribute indicates where to fetch the artifact from. For all artifacts fetched from the gocd server, the value is 'gocd'" %>
  * <%= link_to_issue 4630, 'Upgrade jetty to version 9.4.9.' %>

<h4>Bug fixes</h4>

  * <%= link_to_issue 4675, 'Server side timestamps are rendered properly when daylight saving is in effect.' %>
  * <%= link_to_issue 4691, "Allow logged in users to access #{link_to_api 'plugin-info', 'PluginInfos API'}." %>
  * <%= link_to_issue 4673, "Allow `null` environment variable value in config repo plugins." %>
  * <%= link_to_issue 3908, "Allow admin to change selected user in the User summary page." %>
  * <%= link_to_issue 4690, "Fixed some issues with case-insensitive renames of pipeline names." %>
  * <%= link_to_issue 4698, "Do not truncate long pipeline name." %>
  * <%= link_to_issue 4682, "Do not send a HTTP basic authentication challenge for API requests sent by the browser over AJAX." %>

<h4>Bundled plugins</h4>

* Upgraded the bundled LDAP authentication plugin to version 1.0.2. See the [plugin CHANGELOG](https://github.com/gocd/gocd-ldap-authentication-plugin/blob/master/CHANGELOG.md) for more details.
* Upgraded the bundled file based authentication plugin to version 1.0.2. See the [plugin CHANGELOG](https://github.com/gocd/gocd-filebased-authentication-plugin/blob/master/CHANGELOG.md) for more details.

<h4>Deprecations</h4>

  * As of release 18.2.0 the following (unversioned) APIs have been deprecated and will be removed in a release scheduled for June 2018:
      * The pipeline <%= link_to_versioned_api '18.1.0', 'pause-a-pipeline', 'pause api' %>.
      * The pipeline <%= link_to_versioned_api '18.1.0', 'unpause-a-pipeline', 'unpause api' %>.
      * The pipeline <%= link_to_versioned_api '18.1.0', 'releasing-a-pipeline-lock', 'unlock api' %>.
      * The pipeline <%= link_to_versioned_api '18.1.0', 'scheduling-pipelines', 'schedule api' %>.

    These APIs have been replaced with a versioned API and users are encouraged to use these instead.

  * The pipeline config API version 3 and version 4 have been deprecated as part of 18.2.0 and will be removed in a release scheduled for June 2018. Version 5 of the pipeline config API has been introduced to add the new pipeline unlock behavior attribute (<%= link_to_issue 3943 %>).

  * The elastic agent plugin extension version 1 and (a development verion 2) has been deprecated. These versions will be removed in a release scheduled for June 2018. Plugin developers should use version 3 of the elastic agent plugin api to allow adding support for agent status report and plugin status report. The docker, docker swarm, and ecs plugins have been migrated to the new versions, and users should upgrade their plugins to the latest version to see these new features.

  * The <%= link_to_versioned_api '18.2.0', 'plugin-info', 'Plugin Info API' %> v3 has been deprecated as part of 18.3.0. This version of the API will be removed in a release scheduled for July 2018. Version 4 of the API is available, and users are encouraged to use it.


<h4>Breaking changes</h4>

  * The [Agent Docker Image for Debian 7](https://github.com/gocd/docker-gocd-agent-debian-7) will not be built with newer version of GoCD. Users wanting to build a gocd agent image for debian 7 can fork [the repository](https://github.com/gocd/docker-gocd-agent-debian-7) to build an image.

<h4>Known Issues</h4>

* There are a few known minor issues when triggering pipelines on the new dashboard:
  * <%= link_to_issue 4647, 'Trigger buttons do not get disabled if the pipeline was force triggered and material update is in progress' %>
  * <%= link_to_issue 4452, 'Horizontal scroll appears in Trigger With Options Materials popup' %>
  * <%= link_to_issue 4481, 'CCTray corner cases: NullPointerException because of a pipeline not being in the config when the dashboard looks to update itself.' %>

<h4>Contributors</h4>
<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Akshay Mayekar",
  "Ankit Srivastava",
  "Ankur K",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Ganesh S Patil",
  "Isabelle Carter",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Rajiesh N",
  "Senthil R",
  "Tomasz Sętkowski",
  "Varsha Varadarajan"
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 18.4' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
