<div class="release-date">Released on 04 Sep, 2018</div>
<h4>Flexible & Personalized Dashboard</h4>

  We have made several improvements to the pipeline view on the new dashboard to make it more personal and relevant to our users.

  **Group pipelines either by pipeline groups or environments**

  <figure class='shrink-figure-70'>
    <%= image_tag 'releases/18.8.0/dashboard-grouping.gif', alt: 'grouping by environment or pipeline group name' %>
  </figure>
  <br/>
  **Create personalizations based on your preference**

  <figure class='shrink-figure-70'>
    <%= image_tag 'releases/18.8.0/create-new-view.gif', alt: 'create new personalization view' %>
  </figure>
  <br/>


  **Make views more relevant by showing only those pipelines that are building or failed**

  <figure class='shrink-figure-70'>
    <%= image_tag 'releases/18.8.0/by-pipeline-status.gif', alt: 'show only building and failed pipelines' %>
  </figure>
  <br/>

  **Re-order views to your liking**

  <figure class='shrink-figure-70'>
    <%= image_tag 'releases/18.8.0/reorder-views.gif', alt: 'reorder views' %>
  </figure>
  <br/>

<h4>Accessibility Improvements</h4>

We have made some [accessibility improvements](https://github.com/gocd/gocd/issues/4165) which makes it easier for people
using screenreaders to use the new dashboard.

<h4>Data Sharing Update</h4>

As of this release (18.8), GoCD collects information regarding jobs run by elastic agents and pipelines added through config repo. These metrics help us gauge the effectiveness of the pipeline as code feature and elastic agent plugins.

<figure class='shrink-figure-70'>
  <%= image_tag 'releases/18.8.0/data-sharing.png', alt: 'Data Sharing' %>
</figure>
<br/>

<h4>New APIs</h4>

  * <%= link_to_issue 4936, "Introduced an API to configure #{link_to_api 'system-admins', 'GoCD system admin users'}." %>


<h4>Improvements</h4>

  * <%= link_to_commit '1ca78a37f992affd6dfd3aa3bae5b75f502c2618', "Improve log messages at server startup when plugins are not configured" %>
  * <%= link_to_issue '5041', "Pipelines created via the PipelineConfig API are not paused by default now" %>
  * [GoCD server image](https://github.com/gocd/docker-gocd-server) is now updated to alpine 3.8.
  * Published 2 new GoCD agent images for docker based on [alpine 3.8](https://github.com/gocd/docker-gocd-agent-alpine-3.8) and [ubuntu 18.04](https://github.com/gocd/docker-gocd-agent-ubuntu-18.04).

<h4>Performance Improvements</h4>

  * <%= link_to_issue 4965, 'Improve performance of config saves when config repositories are configured.' %>


<h4>Breaking changes</h4>

  * GoCD is no longer an OAuth provider. This integration was primarily used for integration with Mingle and the commercial business-continuity addon. Users who have been using GoCD's OAuth provider for the commercial business-continuity addon should read the business-continuity release notes before upgrading their GoCD servers.


<h4>Bug fixes</h4>

  * <%= link_to_commit 'd5fd967f7ccfcc664f2b8d6f2825304637e24c4e', 'Fetch artifact task should support `./` as source directory for backward compatability.', 4810 %>
  * <%= link_to_issue 4971, 'Do not expose gocd server class-loader to a plugin.' %>
  * <%= link_to_issue 5020, 'Request logging broken after loading indicator was introduced in version 18.7.0.' %>
  * <%= link_to_issue 3390, "Deleting pipeline config via API don't notify scheduleService to cancel job" %>
  * <%= link_to_commit 'dfa0d2212669e32a404c477306abef64b5adf415', 'Fixed config repo cloning using API.', 5013 %>


<h4>Deprecations</h4>

  * The ubuntu 12.04 based docker image for [gocd agent](https://hub.docker.com/r/gocd/gocd-agent-ubuntu-12.04/) has been deprecated and will not be built in the upcoming releases of GoCD. This is done because ubuntu 12.04 is now end-of-life.
  * The alpine 3.5 based docker image for [gocd agent](https://hub.docker.com/r/gocd/gocd-agent-alpine-3.5/) has been deprecated and will not be built after November 2018 release of GoCD. This will be done as alpine 3.5 will reach [end-of-life](https://wiki.alpinelinux.org/wiki/Alpine_Linux:Releases) in November 2018.
   * With the introduction of AES for encryption/decryption in release 18.7.0, we are deprecating support for DES. Support for DES is retained to support DES cipher-texts configured in config-repos and will be available till the last release of GoCD for the year 2018. The <%= link_to_versioned_api '18.8.0', 'encryption', 'Encryption API' %> is updated to return a AES cipher-text, users are encouraged to update their DES cipher-texts in config-repos using this API.
  * The Pipeline Config API v5 has been deprecated in release 18.7.0. This version of the API will be removed in a release scheduled for October 2018. <%= link_to_versioned_api '18.8.0', 'pipeline-config', 'Version 6' %> of the API is available, and users are encouraged to use it.
  * The Template Config API v3 has been deprecated in release 18.7.0. This version of the API will be removed in a release scheduled for October 2018. <%= link_to_versioned_api '18.8.0', 'template-config', 'Version 4' %> of the API is available, and users are encouraged to use it.

<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Anisha Roofi",
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Chandrakanth Nagaraj",
  "Dilip Nandakumar",
  "Ganesh S Patil",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Noah Huppert",
  "Pranav Bansod",
  "Rahul Pargaonkar",
  "Rajiesh N",
  "Reuben James",
  "Senthil R",
  "Steven Streisguth",
  "Tina Vinod",
  "Varsha Varadarajan",
  "Victor Sollerhed",
  "Vishal Devgire",
].sort.uniq.join(', ')
%>


<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 18.8' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
