<div class="release-date">Released on 05 Sep, 2017</div>
<div class="warning" style="display: block">Sep 11 13:00 UTC 2017: We are investigating an issue (<%= link_to_issue "3834" %>) with upgrades affecting a small number of users. Please hold off on upgrading to 17.9.0 until further notice.</div>

<h4>Improvements</h4>
* <%= link_to_commit '928c5856c2bc73aa92c1a8eb1a86d8094a9fe806', 'Grouping elastic profile by plugin ID', 3772%>

  We have created an organized view of the elastic agent profiles. Now, you can view them by the type of elastic agent plugin (Docker Swarm, OpenStack, ECS etc.), making it easier to find a particular profile.

  <figure class='shrink-figure-70'>
      <%= image_tag 'releases/17.9.0/elastic-agent-grouping-by-plugin-id.png', alt: 'Group elastic profile by plugin id' %>
  </figure>

* <%= link_to_commit '1c1f2fe0d4ebda46ddfe0766ce50d580039a3f77', 'Administrators can choose to edit a Pipeline with one-click from the Value Stream Map.'%>

  <figure class='shrink-figure-70'>
      <%= image_tag 'releases/17.9.0/edit-pipeline-from-vsm.png', alt: 'Edit pipeline from VSM' %>
  </figure>

* <%= link_to_commit 'ca7c3fa232087b67553e7d30bbfb409ba5aab49d', 'Addition of a request processor to allow plugin authors to [query information from the GoCD server](https://plugin-api.gocd.org/current/authorization/#get-server-info)', 3401%>

<h4>API Changes</h4>
* <%= link_to_commit '0587f21042701d9ee1e64ae698341c495df6c8d8', "Introduction of version 3 of Plugin Info #{link_to_api 'plugin-info'} to include extension related information.", 3719%>
* <%= link_to_commit 'd53ed3814f19fa25d05f8f5cb04ba40a66211a07', 'Introduction of [Plugin Settings API](https://api.gocd.org/current/#plugin-settings) v1', 3599%>

<h4>Bug Fixes</h4>

* <%= link_to_commit '4c9e3c9353f4d0e93fd3365dbc9fe4e891ac4a4e', 'Removed memory leaks from agent bootstrapper.' %>

  GoCD agents are designed to automatically upgrade themselves when the GoCD server is upgraded. This requires the currently running agent to release all resources before exiting and handing over control to a newer version of the agent process. There were some file system resource and memory leaks that have been identified which affect versions of go-agent bootstrapper between 17.4 and 17.8. We recommend that users either upgrade their gocd server and agent versions to the latest version, or restart the agent process to release any memory and filesystem resources that may be locked by the agent process.

* <%= link_to_commit 'e538ba0032fcdd6cc8c95d202267deeb6c46a979', 'Check if agent is disabled before job assignment'%>
* <%= link_to_commit 'd47180f2193239ddd318157c43d3f60b6168d9e0', 'Addition of a few more fields to materials form which is used in creation of pipelines.'%>
* <%= link_to_commit '8f6cc6c8c52fabecae024600d454e9a094d9fc2a', 'Send request headers from server to plugins'%>
* <%= link_to_commit '0eab696075a5bbdf7cd117a1392101559705bab1', 'Stage and job related warnings should not be logged for a rerun stage/job', 3753%>
* <%= link_to_commit '8f66499e169fdb3b8ff74b40da1f816bab7716dc', 'Fixes select all bug on admin edit in environment page', 3737%>
* <%= link_to_commit '793d19809f2693028ab40ef83403810ef47a3b1f', 'Redirect authenticated user to home page on re-authentication'%>

<h4>Docker Images</h4>
* GoCD images make logs available to docker by writing them to STDOUT. Users can access the logs anytime by executing &nbsp; `docker logs` &nbsp; in both server and agent containers.
* We've launched an updated GoCD Agent docker image for the latest version of Alpine ([3.6](https://hub.docker.com/r/gocd/gocd-agent-alpine-3.6/))

<h4>Breaking Changes</h4>
If you are using the commercial Amazon ECS Elastic Agent Plugin, upgrading to GoCD 17.9.0 would require a plugin upgrade to [V2.0.0](https://extensions-docs.gocd.org/ecs/2.0.0/changelog/).

<h4>Deprecations</h4>
* As of release 17.9, version 2 of the plugin info <%= link_to_api 'plugin-info' %> is deprecated. This version of the API will be removed in 17.12.0 release (scheduled to be released in December 2017). Version 3 of the API is available, and users are encouraged to use it.
* As of release 17.5, authentication plugin endpoints have been deprecated. Support for this plugin will be removed in 18.1 (scheduled to be released in January 2018). Plugin developers are encouraged to migrate their plugins to use the [Authorization Plugins](https://plugin-api.gocd.org/current/authorization/) that were introduced.
  <h5>Authentication plugins</h5>
    <ul>
      <li><p><%= link_to('Google OAuth Login', 'https://github.com/gocd-contrib/gocd-oauth-login') %></p></li>
      <li><p><%= link_to('GitHub OAuth Login', 'https://github.com/gocd-contrib/gocd-oauth-login') %></p></li>
      <li><p><%= link_to('GitLab(CE) OAuth Login', 'https://github.com/gocd-contrib/gocd-oauth-login') %></p></li>
      <li><p><%= link_to('TLS Client Certificates Login', 'https://github.com/cnorthwood/gocd-tls-auth') %></p></li>
      <li><p><%= link_to('Strong Auth Plugin', 'https://github.com/danielsomerfield/go-strong-auth-plugin#go-strong-auth-plugin') %></p></li>
      <li><p><%= link_to('Guest Login', 'https://github.com/gocd-contrib/gocd_auth_plugin_guest_user') %></p></li>
    </ul>

* As of 17.5, support for in-built password file and LDAP/AD authentication have been deprecated. Support for these authentication mechanisms would be removed in 17.10 release (scheduled to be released in October 2017). Existing configuration will be automatically migrated to use the new in-built password file and LDAP/AD authentication plugins. No other actions necessary.

 * As of 17.8, the phusion based docker [server](https://hub.docker.com/r/gocd/gocd-server-deprecated/) and [agent](https://hub.docker.com/r/gocd/gocd-agent-deprecated/) images are deprecated in favour of the new docker [server](https://hub.docker.com/r/gocd/gocd-server/) and agent images. Support for the phusion images will be removed in 17.11.0 (scheduled to be released in November 2017). We provide support for the docker images for GoCD agents across the following operating systems - Alpine [3.5](https://hub.docker.com/r/gocd/gocd-agent-alpine-3.5/), CentOS [6](https://hub.docker.com/r/gocd/gocd-agent-centos-6/) & [7](https://hub.docker.com/r/gocd/gocd-agent-centos-7/) , Debian [7](https://hub.docker.com/r/gocd/gocd-agent-debian-7/) & [8](https://hub.docker.com/r/gocd/gocd-agent-debian-8/), Ubuntu [12.04](https://hub.docker.com/r/gocd/gocd-agent-ubuntu-12.04/), [14.04](https://hub.docker.com/r/gocd/gocd-agent-ubuntu-14.04/) & [16.04](https://hub.docker.com/r/gocd/gocd-agent-ubuntu-16.04/)

<h4>Other Changes</h4>
* <%= link_to_commit 'dc39953b086ce672a090dcd90e45bd3fe0c3ee76', 'Config repo change attribute "plugin" to "pluginId"', 3672%>
* <%= link_to_commit '3c9a8f1f26e9ff297f506cad572277a6ecb89d65', 'Addition of a toggle to make pipeline quick edit page as a default page', 3722%>
* <%= link_to_commit '19210e411a45f387ce55a97b513e95323eafdb75', 'Always open console tab when job name is clicked', 3742%>

<h4>Contributors</h4>

<%= [
  "Ankit Srivastava",
  "Ankur K",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Emily Luke",
  "Ganesh S Patil",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Naveen Bhaskar",
  "Pedro Carriço",
  "Rajiesh N",
  "Senthil R",
  "Stephen Murby",
  "Suzie Prince",
  "Tim Brown",
  "Varsha Varadarajan"
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 17.9' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>
