<div class="release-date">Released on 12 Sep, 2017</div>
**Important:** After the 17.9 release, we made an announcement asking users to hold off upgrading their GoCD instance. We found an issue (<%= link_to("#3834", "https://github.com/gocd/gocd/issues/#{3834}") %>) affecting a small set of users. This release provides a fix for the same.

<h4>Critical Bug Fixes</h4>
* <%= link_to_commit '05598d88fd4dabdde1184faa4fbffc5f9406d0dc', 'Unable to start the server after 17.9.0 upgrade', 3834%>

<h4>Other Changes</h4>
* <%= link_to_commit '176ebc26438784f50bbdc013ebc704a3a6cd6c8d', 'Fix for no plugins visible after 17.9.0 upgrade', 3829%>

<h4>Docker Images</h4>
* We have made a few changes to the <%= link_to("GoCD Server", "https://github.com/gocd/docker-gocd-server/blob/master/CHANGELOG.md")%> and the <%= link_to("GoCD Agent", "https://github.com/gocd/docker-gocd-agent/blob/master/CHANGELOG.md")%> Docker images.

<h4>Contributors</h4>

<%= [
  "Ankit Srivastava",
  "Ankur K",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Emily Luke",
  "Ganesh S Patil",
  "Roman Gorodeckij",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Naveen Bhaskar",
  "Rajiesh N",
  "Senthil R",
  "Suzie Prince",
  "Varsha Varadarajan"
].sort.uniq.join(', ')
%>

<h4>Note</h4>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>


