<div class="release-date">Released on 08 Mar, 2018</div>
<h4>New Dashboard Page (Beta)</h4>

<figure class='shrink-figure-75'>
  <%= image_tag 'releases/18.2.0/new-dashboard.png', alt: 'new dashboard page' %>
  <caption>New Dashboard Page</caption>
</figure>

This release of GoCD ships with a 'preview' version of the new dashboard page (can be accessed using **'/go/dashboard'**). This improves performance for large GoCD instances with thousands of pipelines. It does so by:

* keeping track of the state of the dashboard in memory (instead of being pulled from the DB).
* rendering the response as a JSON (instead of HTML). This improves the rendering time by several hundred times on the server.
* a javascript based frontend that is several thousand times faster on large instances, reducing the CPU usage of your browser. Your laptop battery will thank you. :)
* reduces the polling rate when the dashboard is shown in a browser tab that is hidden.

> Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues). This new dashboard will replace the existing dashboard in one of the upcoming releases of GoCD.

This feature can be turned off by executing:

    curl https://your-go-server/go/api/admin/feature_toggles/quicker_dashboard_key \
      -d toggle_value=off \
      -H 'Confirm:true' \
      -u username:password

<h4>Elastic Agent Status Report</h4>

<figure class='shrink-figure-75'>
  <%= image_tag 'releases/18.2.0/elastic-agent-status-report.png', alt: 'elastic agent status report' %>
  <caption>Elastic Agent Status Report</caption>
</figure>

To make it easier to see information about your elastic agent and check logs in case of issues, elastic agent plugins can now provide an elastic agent status report. This report is available from the agents page, and from the job detail page. Docker, Docker Swarm, and Amazon ECS plugins implement this status report feature. 

<h4>Elastic Agent Plugin Status Report</h4>

<figure class='shrink-figure-75'>
  <%= image_tag 'releases/18.2.0/elastic-agent-plugin-status-report.png', alt: 'elastic agent plugin status report' %>
  <caption>Elastic Agent Plugin Status Report</caption>
</figure>

To make it easier to see information about elastic agent cluster, elastic agent plugins can provide a report about all running agents and the state of the cluster. This report is available from the plugins page. Docker, Docker Swarm, and Amazon ECS plugins implement this status report feature. 

<h4>API Improvements</h4>

* <%= link_to_commit '612c66ac50c24c53fc2db7400386d14faafbd87b', "Introduction of pipeline #{link_to_api 'pause-a-pipeline', 'pause api'} and #{link_to_api 'unpause-a-pipeline', 'unpause api'}", 4076 %>.

    The old pause/unpause APIs have been deprecated and users should upgrade to the new API.

* <%= link_to_commit 'b52aff7071e0c91d3048b16bcadb63f703ae2495', "Introduction of pipeline unlock #{link_to_api 'releasing-a-pipeline-lock'}", 4237 %>.

    The old pipeline unlock API has been deprecated and users should upgrade to the new API.

* <%= link_to_commit '666b20667e0e3df1834e7e8a339bd1d527db545b', "Introduction of pipeline schedule #{link_to_api 'scheduling-pipelines'}", 4319 %>.

    The old pipeline schedule API has been deprecated and users should upgrade to the new API.

* <%= link_to_commit '6dfa18fe9bc7cd315ec2db964980a0a0b00d9dd2', "Introduction of server health messages #{link_to_api 'server-health-messages'}", 4256 %>.

    This endpoint will render the warnings and errors that were earlier visible only when clicking on the "errors and warnings" modal on the GoCD server

* <%= link_to_commit '0353bb6881e314bf08597967d6185bb66f7ddbab', "Introduction of Template Authorization #{link_to_api 'update-template-authorization'}", 3081 %>.

* <%= link_to_commit '9c4829e87ec47fd835579d0dc2779233c7b00330', 'Support `gitlab@` urls for gitlab webhooks', 4211 %>

    Many GitLab installations use `gitlab@` as a git user. This was once a default user for GitLab installs. Due to this the urls for ssh connections from gitlab can include this user.

<h4>Improvements</h4>

* Introduce environment variables `GO_MATERIAL_HAS_CHANGED` and `GO_MATERIAL_${material name or dest}_HAS_CHANGED` to indicate if materials have changed from the previous pipeline run, and if materials have changed, which materials have changed. Read more about these variables in the [help documentation](https://docs.gocd.org/current/faq/environment_variables.html#standard-gocd-environment-variables).

<h4>Docker images</h4>

We have introduced the GoCD Agent Docker in Docker image. This can be used to run the docker related tasks such as building a docker image, pushing to a registry etc. Advanced use-cases include containerizing the application and running tests using DInD.

Read more about changes with docker images for the [server docker image](https://github.com/gocd/docker-gocd-server/blob/master/CHANGELOG.md) and [agent docker image](https://github.com/gocd/docker-gocd-agent/blob/master/CHANGELOG.md).

<h4>Bug fixes</h4>

* With the introduction of the server health messages API, we can now show server health messages on some of the pages introduced in the last several releases, viz. roles, authorization configuration, agents, elastic profiles, plugin settings.

* <%= link_to_issue 3899, 'Fixed an infinite redirect issue when logging in using web based authentication plugins' %>

* <%= link_to_issue 3926, 'Handle console logs better with utf-8 encoding' %>

* <%= link_to_commit '157f12d46b0eedc35b7d4be147caf77590aeac41', 'Enforce `http(s)` URL scheme for tracking tools', 4356 %>

    This will add an `http://` prefix to tracking tool links that do not start with `http://` or `https://`.

* The plugin settings request is supported for the SCM and Package repository extensions on the plugins SPA. The plugin settings that can be configured for scm and package repo plugins are made use of *only* on the server side.

<h4>Deprecations</h4>

* As of release 18.2 the following (unversioned) APIs have been deprecated and will be removed in 18.5 (scheduled to be released in May 2018):
    * The pipeline <%= link_to_api 'pause-a-pipeline', 'pause api' %>
    * The pipeline <%= link_to_api 'unpause-a-pipeline', 'unpause api' %>
    * The pipeline <%= link_to_api 'releasing-a-pipeline-lock', 'unlock api' %>
    * The pipeline <%= link_to_api 'scheduling-pipelines', 'schedule api' %>

  These APIs have been replaced with a versioned API and users are encouraged to use these instead.

* The pipeline config API version 3 and version 4 have been deprecated and will be removed in 18.5 (scheduled to be released in May 2018). Version 5 of the pipeline config API has been introduced to add the new pipeline unlock behavior attribute (<%= link_to_issue 3943 %>).

* The elastic agent api version 1 and (a development verion 2) has been deprecated. These versions will be removed in 18.5 (scheduled to be released in May 2018). Plugin developers should use version 3 of the elastic agent plugin api to allow adding support for agent status report and plugin status report. The docker, docker swarm, and ecs plugins have been migrated to the new versions, and users should upgrade their plugins to the latest version to see these new features.

* Plugins upload form has been removed from the new plugins page. It is still available in the old plugins page, which will be removed in release 18.3.0 (scheduled to be released in March 2018).

<h4>Breaking changes</h4>

* Version 1 of the <%= link_to_api 'users', 'users api' %> has been removed. Version 2 of the API is available, and users are encouraged to use it.

<h4>Known issues</h4>

* There are a few known issues when triggering pipelines using the trigger with options feature on the new dashboard:
  * <%= link_to_issue 4488, 'If for a material no revision selected on trigger with options, schedules with latest revision' %>
  * <%= link_to_issue 4489, 'If invalid revision specified do not trigger pipeline' %>
  * <%= link_to_issue 4448, 'Pipeline with lock behavior specified continues to be locked after run completion under certain conditions' %>

<h4>Contributors</h4>

<%= [
  "Akshay Dewan",
  "Akshay Mayekar",
  "Ankit Srivastava",
  "Ankur K",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Charles Bryant",
  "Christian Lövsund",
  "Don Stewart",
  "Ganesh S Patil",
  "Isabelle Carter",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Paul Thomas",
  "Rajiesh N",
  "Senthil R",
  "Varsha Varadarajan"
].sort.uniq.join(', ')
%>

<!--
<h4>Security researchers</h4>

<%= link_to('https://hackerone.com/gocd/thanks', 'https://hackerone.com/gocd/thanks') %>
-->

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 18.2' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>
