<div class="release-date">Released on 02 Sep, 2016</div>
<h4>Quick Edit (Beta)</h4>

<p>Currently, editing a pipeline means navigating through multiple pages (and page refreshes), for modifying stages, jobs with tabs for options and environment variables, etc. Quick edit to make it smoother.</p>

<p>With this feature, you can change a pipeline's materials/stages/jobs/tasks simultaneously and update it as single operation. This feature also uses the new pipeline config API to make your configuration changes quicker.</p>

<b>How do I use this?</b>

<p>Click on "Quick Edit" button on the pipeline edit page.</p>

<figure>
  <%= image_tag "releases/16.9/quickeditbutton.png", {:title => "Quick edit", :alt => "Quick edit"} %>
</figure>

<p>Click on "Normal Edit" button to get back to old edit page.</p>
<figure>
  <%= image_tag "releases/16.9/quickeditpage.png", {:title => "Quick edit", :alt => "Quick edit"} %>
</figure>

<b>Why is this beta?</b>

<p>We are working on adding few missing features like:</p>

<ul>
	<li><p>Package materials (like yum, maven, artifactory plugins)</p></li>
	<li><p>Pipeline template editing, pipelines that use templates can only update Pipeline Settings
and Materials</p></li>
</ul>

<b>Known issues?</b>

<p>Missing API validation for a few attributes, they are tracked below:</p>

<ul>
	<li><p>Pipeline Config API: Stage operate permission user not validated (<%= link_to_issue('2629') %>)</p></li>
	<li><p>Pipeline Config API: Validation missing for parameter name used in the custom task argument (<%= link_to_issue('2628') %>)</p></li>
	<li><p>Missing validation errors on pipeline_config API (<%= link_to_issue('2553') %>)</p></li>
</ul>

<b>What's next?</b>

<p>We really appreciate your feedback to make this page better.</p>

<p>Going forward, once all the features are in, we plan to use this page as the default view for modifying configuration.</p>

<p>Submit your feedback by creating github issue at <%= link_to('https://github.com/gocd/gocd/issues', 'https://github.com/gocd/gocd/issues') %></p>

<h4>API Enhancements</h4>
<p><%= link_to_commit('d662685', 'Provided Git and git-gc stats in the support api', '2578') %></p>

<h4>Library upgrades</h4>
<p><%= link_to_commit('973cbf2', 'Upgraded jetty minor version to 9.2.18.v20160721')%></p>
<p><%= link_to_commit('74b8b47', 'Upgraded logging jars')%></p>

<h4>Bug fixes</h4>
<p><%= link_to_commit('dc78601', 'Added validation of the encryptedPassword attribute of password aware materials - SVN, P4, TFS.') %></p>

<h4>Security Fixes</h4>
<p><%= link_to_commit('faa6a2a', 'Removed displaying url\'s from the not found page', '2584') %></p>
<p><%= link_to_commit('ca7ff9c', 'Changed the package material check-connection request from GET to POST', '2550') %></p>

<h4>Deprecations</h4>
<p>Features that become superseded or irrelevant become <em>deprecated</em>, and are scheduled to be removed in some timeframe.</p>
<p>The following features have been deprecated, along with the timeframe when they will be removed</p>

<ul>
  <li><p>
    As of release 16.5, Java 7 support was deprecated.
    Java 7 support will be removed in 17.1 release (scheduled to be released in January 2017).
    GoCD works great with Java 8, and users are encouraged to use it.
  </p></li>
  <li><p>
    As of release 16.7, version 1 of the <%= link_to_api 'pipeline-config', 'Pipeline Config API' %> was deprecated.
    This version of the API will be removed in 16.10 release (scheduled to be released in Oct 2016).
    Version 2 of this API is backward compatible, and users are encouraged to use it.
  </p></li>
  <li><p>
    As of release 16.7, Java API based Go Plugins have been deprecated.
    Support for running these plugins will be removed in 17.1 (scheduled to be released in January 2017).
    Plugin developers are encouraged to upgrade their plugins to use <%= link_to('JSON message based plugin API.', 'https://plugin-api.gocd.org/current/tasks') %> to build plugins.</p>

    <p>Below is the list of plugins that will stop working in 17.1.</p>

    <h5>Package plugins</h5>
    <ul>
      <li><p><%= link_to('Maven (Nexus) repository poller', 'https://github.com/aresok/go-maven-poller') %></p></li>
      <li><p><%= link_to('Docker Registry Poller - 1', 'https://github.com/hammerdr/go-docker-registry-poller') %></p></li>
      <li><p><%= link_to('Docker Registry Poller - 2', 'https://github.com/decoomanj/gocd-docker-material-poller') %></p></li>
      <li><p><%= link_to('Puppet Forge repository poller', 'https://github.com/drrb/go-puppet-forge-poller') %></p></li>
      <li><p><%= link_to('Debian repository poller', 'https://github.com/gocd-contrib/deb-repo-poller') %></p></li>
      <li><p><%= link_to('Cloud Foundry poller', 'https://github.com/Sounie/springer-gocd-cloudfoundry-plugin/blob/master/README.md') %></p></li>
      <li><p><%= link_to('Nuget repository poller', 'https://github.com/ThoughtWorksInc/go-nuget-poller-plugin/') %></p></li>
      <li><p><%= link_to('Generic Artifactory poller', 'https://github.com/varchev/go-generic-artifactory-poller') %></p></li>
      <li><p><%= link_to('NPM repository poller', 'https://github.com/varchev/go-npm-poller') %></p></li>
    </ul>

    <h5>Task plugins</h5>
    <ul>
      <li><p><%= link_to('MSBuild Task', 'https://github.com/akanyer/gocd-msbuild-taskplugin/blob/master/README.md') %></p></li>
      <li><p><%= link_to('XUnit Converter', 'https://github.com/gocd-contrib/xunit-converter-task') %></p></li>
      <li><p><%= link_to('Publish to S3', 'https://github.com/indix/gocd-s3-artifacts') %></p></li>
      <li><p><%= link_to('Fetch from S3', 'https://github.com/indix/gocd-s3-artifacts') %></p></li>
      <li><p><%= link_to('Powershell Task', 'https://github.com/manojlds/gocd-powershell-runner/blob/master/README.md') %></p></li>
      <li><p><%= link_to('RapidDeploy Package Builder', 'https://github.com/MidVision/go-rapiddeploy/wiki#rapiddeploy-package-repository-plugin') %></p></li>
      <li><p><%= link_to('RapidDeploy Job Runner', 'https://github.com/MidVision/go-rapiddeploy/wiki#rapiddeploy-job-runner-task-plugin') %></p></li>
      <li><p><%= link_to('Maven Task Plugin', 'https://github.com/ruckc/gocd-maven-plugin') %></p></li>
      <li><p><%= link_to('Publish to Artifactory', 'https://github.com/tusharm/go-artifactory-plugin') %></p></li>
    </ul>
  </li>
</ul>

<h4>Contributors</h4>

<p>Ganesh S Patil, Ketan Padegaonkar, Mahesh Panchaksharaiah, Naveen Bhaskar, Rajiesh Narayanan, Sumanth Kumar Mora, Tomasz Sętkowski, Varsha Varadarajan, Zabil Cheriya Maliackal</p>

<h4>Security researchers</h4>

<%= link_to('https://hackerone.com/gocd/thanks', 'https://hackerone.com/gocd/thanks') %>

<h4>Note</h4>
<p>A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 16.9' %></p>

<p>Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.</p>
<p>Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %></p>
