<h4>Changes</h4>

* <%= link_to_issue 10613, 'Bundle latest Java 17' %>
* <%= link_to_issue 10518, 'Build the default GoCD Server image on Alpine 3.16' %>
* Starting this release, Alpine 3.16 based docker images for GoCD Agent are <%= link_to 'available', 'https://hub.docker.com/r/gocd/gocd-agent-alpine-3.16' %>.
* Starting this release, CentOS Stream 9 based docker images for GoCD Agent are <%= link_to 'available', 'https://hub.docker.com/r/gocd/gocd-agent-centos-9' %>.
* Starting this release, Ubuntu 22.04 (Jammy Jellyfish) based docker images for GoCD Agent are <%= link_to 'available', 'https://hub.docker.com/r/gocd/gocd-agent-ubuntu-22.04' %>.

<h4>Security</h4>

We regularly fix security issues reported by security researchers & upgrade dependencies to mitigate known vulnerabilities. Upgrading to the latest release is always recommended.

In this release, permissions were restricted further on Windows installer GoCD server & agent folders. Thank you to s7331 for responsibly disclosing this issue.

<h4>Bug fixes</h4>

* <%= link_to_issue 4173, 'On Windows, custom commands with spaces in path fail' %>
* <%= link_to_issue 8986, 'Git Material authentication fails for second user on the same repository' %>
* <%= link_to_issue 9153, 'Git Material credentials cannot be changed' %>
* <%= link_to_issue 9509, 'Unable to render VSM page when dependent pipelines are deleted or renamed' %>
* <%= link_to_issue 9964, 'Can\'t add user into a role (and other admin functions) behind CloudFlare minification proxy' %>
* <%= link_to_issue 10036, 'HTTP 500 when using external authorization plugins and GoCD site urls are blank' %>
* <%= link_to_issue 10440, 'Windows installer does not exit as intended on downgrade attempts' %>
* <%= link_to_issue 10441, 'Fix compatibility with JDK 11.0.15+ and 17.0.3+ during server configuration upgrades' %>
* <%= link_to_issue 10555, 'Misleading error message logged when agents have connectivity issues with GoCD Server' %>
* <%= link_to_issue 10566, 'Job Instance API does not return job state transitions as documented' %>
* <%= link_to_issue 10610, 'Custom tabs do not resize correctly to use window height as intended' %>
* <%= link_to_issue 10648, 'Plugin Admin page can display stale information after plugins are upgraded' %>
* <%= link_to_issue 10668, 'Fetch External (plugin) Artifact task gives generic Unprocessable Entity error for failing plugin validations' %>
* <%= link_to_issue 10675, 'Stage Details statistics graph page navigation broken on Chrome/Chromium' %>

<h4>APIs</h4>

Improvements, deprecations and breaking changes in the API and plugin API have been moved to their respective changelogs - <%= link_to_versioned_api '22.2.0','changes-in-22-2-0', 'API changelog for 22.2.0' %> and <%= link_to_versioned_plugin_api '22.2.0','changes-in-gocd-22-2-0', 'Plugin API changelog for 22.2.0' %>.

<h4>Contributors</h4>

<%= [
  "Aravind SV",
  "Chad Wilson",
  "Christian Butcher",
  "Ganesh S Patil",
  "Ketan Padegaonkar",
  "Kritika Singh",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "s7331",
  "Shakir Shakiel",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 22.2.0' %>

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
