<div class="release-date">Released on 27 Sep, 2016</div>
<h4>Agents page (Beta)</h4>

<p>This is a new page for managing agents, which should feel a lot more light weight and snappier than the existing agents page.</p>

<p>We would really appreciate your feedback to make this page better. If you notice any issues or bugs with this page, please submit a bug report on <%= link_to('GitHub', "https://github.com/gocd/gocd/issues") %></p>

<div class="figure">
  <%= image_tag 'releases/16.10/agents-page-beta.png', alt: 'Beta Agents Page' %>
</div>

<p><strong>How do I use this?</strong></p>

<p>Click on the &quot;Check out the new agents page&quot; on the agents page that you're familiar with.</p>

<div class="figure">
  <%= image_tag 'releases/16.10/agents-page-old.png', alt: 'Old Agents Page' %>
</div>
<br/>
<p><strong>Known issues</strong></p>
<p><%= link_to_issue('2735', 'Agents Bulk update API: Enabling a pending agent returns 400 bad request') %></p>

<h4>Improvements</h4>

<p><%= link_to_commit('53d0d42', 'Show details about linux distribution flavors and versions', '2608') %></p>
<p><%= link_to_commit('cc69476', 'Filter for pipeline history view', '2391') %></p>

<h4>API enhancements</h4>

<p><%= link_to_commit('687d454', "Added new #{link_to_api 'template-config'} to manage pipeline templates", '2233') %></p>
<p><%= link_to_commit('f8ab50a', "Added PATCH support for environments update #{link_to_api 'environment-config'}, this will allow you to specify pipelines and agents that should be added and/or removed in a single API call.") %> </p>
<p><%= link_to_commit('09c864e', "Added Agents #{link_to_api 'agents'} V4. This adds a 'build_details' property with relevant links to the job that is currently building on the agent.") %></p>

<h4>Bug fixes</h4>

<p><%= link_to_commit('2d8ec07', 'Spaces are not trimmed from environment variables', '1411') %></p>
<p><%= link_to_commit('845ee9b', 'Tweak the agent registration protocol a bit', '2558') %></p>
<p><%= link_to_commit('ee9cdae', 'Escape the jar URL to allow symbols such as # (needed when running GoCD on Mesos)') %></p>

<h4>Security fixes</h4>

<p><%= link_to_commit('1f2a189', 'Do not display the value of secure environment variable in templates view', '2652') %></p>

<h4>Performance improvements</h4>

<p><%= link_to_commit('53ab276', 'Removed an extra post merge validation', '2594') %></p>

<h4>Breaking changes</h4>

<p>No breaking changes in this release</p>

<h4>Deprecations</h4>
<p>Features that become superseded or irrelevant become <em>deprecated</em>, and are scheduled to be removed in some timeframe.</p>
<p>The following features have been deprecated, along with the timeframe when they will be removed</p>

<ul>
  <li><p>
    As of release 16.5, Java 7 support was deprecated.
    Java 7 support will be removed in 17.1 release (scheduled to be released in January 2017).
    GoCD works great with Java 8, and users are encouraged to use it.
  </p></li>
  <li><p>
    As of release 16.7, version 1 of the <%= link_to_api 'pipeline-config', 'Pipeline Config API' %> was deprecated.
    This version of the API will be removed in 16.10 release (scheduled to be released in Oct 2016).
    Version 2 of this API is backward compatible, and users are encouraged to use it.
  </p></li>
  <li><p>
    As of release 16.7, Java API based Go Plugins have been deprecated.
    Support for running these plugins will be removed in 17.1 (scheduled to be released in January 2017).
    Plugin developers are encouraged to upgrade their plugins to use <%= link_to('JSON message based plugin API.', 'https://plugin-api.gocd.org/current/tasks') %> to build plugins.</p>

    <p>Below is the list of plugins that will stop working in 17.1, unless those changes are made.</p>

    <h5>Package plugins</h5>
    <ul>
      <li><p><%= link_to('Maven (Nexus) repository poller', 'https://github.com/aresok/go-maven-poller') %></p></li>
      <li><p><%= link_to('Docker Registry Poller - 1', 'https://github.com/hammerdr/go-docker-registry-poller') %></p></li>
      <li><p><%= link_to('Docker Registry Poller - 2', 'https://github.com/decoomanj/gocd-docker-material-poller') %></p></li>
      <li><p><%= link_to('Puppet Forge repository poller', 'https://github.com/drrb/go-puppet-forge-poller') %></p></li>
      <li><p><%= link_to('Debian repository poller', 'https://github.com/gocd-contrib/deb-repo-poller') %></p></li>
      <li><p><%= link_to('Cloud Foundry poller', 'https://github.com/Sounie/springer-gocd-cloudfoundry-plugin/blob/master/README.md') %></p></li>
      <li><p><%= link_to('Nuget repository poller', 'https://github.com/ThoughtWorksInc/go-nuget-poller-plugin/') %></p></li>
      <li><p><%= link_to('Generic Artifactory poller', 'https://github.com/varchev/go-generic-artifactory-poller') %></p></li>
      <li><p><%= link_to('NPM repository poller', 'https://github.com/varchev/go-npm-poller') %></p></li>
    </ul>

    <h5>Task plugins</h5>
    <ul>
      <li><p><%= link_to('MSBuild Task', 'https://github.com/akanyer/gocd-msbuild-taskplugin/blob/master/README.md') %></p></li>
      <li><p><%= link_to('XUnit Converter', 'https://github.com/gocd-contrib/xunit-converter-task') %></p></li>
      <li><p><%= link_to('Publish to S3', 'https://github.com/indix/gocd-s3-artifacts') %></p></li>
      <li><p><%= link_to('Fetch from S3', 'https://github.com/indix/gocd-s3-artifacts') %></p></li>
      <li><p><%= link_to('Powershell Task', 'https://github.com/manojlds/gocd-powershell-runner/blob/master/README.md') %></p></li>
      <li><p><%= link_to('RapidDeploy Package Builder', 'https://github.com/MidVision/go-rapiddeploy/wiki#rapiddeploy-package-repository-plugin') %></p></li>
      <li><p><%= link_to('RapidDeploy Job Runner', 'https://github.com/MidVision/go-rapiddeploy/wiki#rapiddeploy-job-runner-task-plugin') %></p></li>
      <li><p><%= link_to('Maven Task Plugin', 'https://github.com/ruckc/gocd-maven-plugin') %></p></li>
      <li><p><%= link_to('Publish to Artifactory', 'https://github.com/tusharm/go-artifactory-plugin') %></p></li>
    </ul>
  </li>
</ul>

<h4>Contributors</h4>

<p>Aravind SV, Ganesh S Patil, Juhi Jariwala, Ketan Padegaonkar, Mahesh Panchaksharaiah, Matt Devlin (Mdevlin4 on GitHub), Sumanth Kumar Mora, Naveen Bhaskar, Rajiesh Narayanan, Tim Anderegg, Tomasz Sętkowski, Varsha Varadarajan, Venkata Jaswanth, Zabil Cheriya Maliackal</p>

<h4>Security researchers</h4>

<%= link_to('https://hackerone.com/gocd/thanks', 'https://hackerone.com/gocd/thanks') %>

<h4>Note</h4>
<p>A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 16.10' %></p>

<p>Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.</p>
<p>Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %></p>
