<div class="release-date">Released on 26 Nov, 2018</div>
<h4>Improvements</h4>

  * <%= link_to_commit '7203cb371a2ce06a18a7bbc5c2a317cd93a074cf', 'Allow artifact plugins to introduce new environment variables to be used by subsequent tasks.', 5188 %>


<h4>Performance Improvements</h4>

  * In this release, users with ~100 or above agents will see a significant performance improvement on the agents page and when invoking the agents API. In 18.10, due to upgrading some libraries to support Java 9 (and beyond) there were some performance regressions with the agents page (and the agents API). 
  * <%= link_to_commit '451cef0fb5c018f8d0f76565cf473e5cd7819ea9', 'Improve performance of some pipeline lookups in the database by removing a cast operation' %>
  * <%= link_to_commit 'dcf69b053bbc3ba7729fc3a29c515ff76a4ac960', 'Do not lookup pipelines by both label and counter, prefer a counter', 5256 %>
  * <%= link_to_commit 'f0d1a6e6b46f9c342a698b9e9c0fdd8e8d21e47e', 'Use byte arrays (instead of strings) to represent the config XML. This improves performance of some of the admin pages and also quickly renders large configuration XML.' %>


<h4>New APIs</h4>

Introduced APIs to 

  * <%= link_to_versioned_api('18.11.0', 'run-stage', 'Run/rerun a stage') %>.
  * <%= link_to_versioned_api('18.11.0', 'run-failed-jobs', 'Run failed jobs') %> in a stage
  * <%= link_to_versioned_api('18.11.0', 'run-selected-jobs', 'Run selected jobs') %> in a stage


<h4>Bug fixes</h4>

  * <%= link_to_commit 'ad87a7c4dce5027a143eff554c102d64e8f3ce38', 'Ensure that the GoCD server health check API returns an HTTP 200 OK status code when backup is in progress.', 5416 %>
  * <%= link_to_commit '69e4b3937b5d3a52cb4444f6caba17c4e1573ff3', 'Render the dashboard again after backup is completed', 5391 %>
  * <%= link_to_commit '98853a28dd22f9094f513b4ef17190a2de1943ec', 'Fix a NullPointerException in the logs when a pipeline that is building is removed from the config file.' %>
  * <%= link_to_commit 'aabbf06e969b62f0d73d1e091d1c88ae5ef9a258', 'Fix 500 server error when calling pipeline config API by ensuring that the default artifact directory is not null', 5342 %>
  * <%= link_to_commit '6fddce6e290391e63992ec6195594f3149200362', 'Prevent console logs of cancelled jobs running on elastic agents from being lost', 5325 %>
  * <%= link_to_commit 'e95e88b1dcc1a4337254874af929b8690a522163', 'Agent will ensure that plugins are loaded before performing any jobs.', 5169 %>
  * <%= link_to_commit '49d741308cbbb499554e4e2843f0812e2e9b8460', 'Do not send email notification if user account is disabled.', 5277 %>
  * <%= link_to_commit '13be966d353818be2c56ad00be16661e5257263d', 'Re-enable pipeline operation buttons on dashboard if pipeline trigger fails.', 5153 %>


<h4>Docker Images</h4>

We have added support for the GoCD agents for [Fedora-28](https://github.com/gocd/docker-gocd-agent-fedora-28) and [Fedora-29](https://github.com/gocd/docker-gocd-agent-fedora-29).


<h4>Deprecations</h4>

   * With the introduction of AES for encryption/decryption in release 18.7.0, we are deprecating support for DES. Support for DES is retained to support DES cipher-texts configured in config-repos and will be available till the last release of GoCD for the year 2018. The <%= link_to_versioned_api '18.8.0', 'encryption', 'Encryption API' %> is updated to return an AES cipher-text and users are encouraged to update their DES cipher-texts in config-repos using this API.
   * The elastic agent plugin extension version 3 has been deprecated. This version will be removed in a release scheduled for Mar 2019. Plugin developers should use version 4 of the elastic agent plugin api to allow adding support for job completion request. The docker, docker swarm, kubernetes and ecs plugins have been migrated to the new versions, and users should upgrade their plugins to the latest version to see these new features.
   * The notification plugin extension version 3 has been deprecated. This version will be removed in a release scheduled for Mar 2019. Plugin developers should use version 4 of the notification plugin api.
   * The analytics plugin extension version 1 has been deprecated. This version will be removed in a release scheduled for Mar 2019. Plugin developers should use version 2 of the analytics plugin api.


<h4>Breaking Changes</h4>

  * The alpine 3.5 based docker image for [GoCD agent](https://hub.docker.com/r/gocd/gocd-agent-alpine-3.5/) has been removed since alpine 3.5 has reached end of life.
  * The Template Config API v3 has been removed. <%= link_to_versioned_api '18.8.0', 'template-config', 'Version 4' %> of the API is available, and users are encouraged to use it.
  * The Pipeline Config API v5 has been removed. <%= link_to_versioned_api '18.8.0', 'pipeline-config', 'Version 6' %> of the API is available, and users are encouraged to use it.
  * The <%= link_to_versioned_api('18.11.0', 'get-stage', 'Feeds API for getting a Stage') %> no longer supports the `pipeline_label` URL parameter. Users should use the `pipeline_counter` parameter instead.


<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Chandrakanth Nagaraj",
  "Ganesh S Patil",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Pranav Bansod",
  "Rahul Pargaonkar",
  "Rajiesh N",
  "Sana Jahan",
  "Steven Streisguth",
  "Varsha Varadarajan",
  "Vishal Devgire",
].sort.uniq.join(', ')
%>


<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 18.11' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
