---
layout: layout
title: Interactive GoCD Demo
title_tag_of_header: "Help - Getting Started with GoCD Part One | GoCD"
meta_description: ""
meta_keywords: ""
---

<div class="header-bg">

</div>

<div class="content-container container">

<section class="content-lt">

    <%= image_tag  "https://via.placeholder.com/653x437?text=Screenshot+Placeholder", class: "img-responsive" %>
    <div class="container-actions link-desktop">
          <%= link_to "Test Drive GoCD", '#', class: 'button-brand' %>
          <%= link_to "Introduction to GoCD Guide", '#', class: 'button-brand button-brand_transparent' %>

          <p class="actions_note">
              Please note: If you like the test drive, remember GoCD is open source and free to use. Just follow <a href="https://github.com/gocd/gocd-trial#next-steps">these instructions </a> to move your test drive to production.
          </p>
    </div>

  </section>

  <section class="content-rt">
    <h1 class="content-header">Get Started with GoCD in 2 Minutes </h1>
    <%= image_tag  "https://via.placeholder.com/417x314?text=Screenshot+Placeholder", class: "img-responsive hide-mob-desktop" %>
    <div class="steps-list">
      <ul class="steps-list">
            <li class="steps-list_item">
              <h2 class="steps-heading"> 
                Step 1:
              </h2>
              <h2 class="steps-heading">
                Download the Dependencies
              </h2>
              <p class="steps-desc">
                All you need is Git, Docker, Docker Compose, and ensure Docker is running.
              </p>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading"> 
                Step 2:
              </h2>
              <h2 class="steps-heading">
                Run the Commands
              </h2>
              <p class="steps-desc">
                Visit the Github repo and run the commands to get started.
              </p>
              <p class="steps-desc">
                Link: <a href="https://github.com/arvindsv/gocd-starter-template-test"> https://github.com/arvindsv/gocd-starter-template-test </a>
              </p>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading"> 
                Step 3:
              </h2>
              <h2 class="steps-heading">
                Explore GoCD
              </h2>
              <p class="steps-desc">
                Try out a few things to get familiar with GoCD:
              </p>
                  <ul class="steps-desc_list">
                    <li> <a href="https://www.gocd.org/getting-started/part-1/#concept2"> Create a pipeline </a> </li>
                    <li> <a href="https://www.gocd.org/getting-started/part-1/#concept2"> Add a stage </a> </li>
                    <li> <a href="https://www.gocd.org/getting-started/part-1/#concept4"> Configure a plugin </a> </li>
                    <li> Edit the configuration  </li>
                    <li> Explore more ways to use GoCD </li>
                  </ul>
            </li>
          </ul>
    </div>

    <div class="container-actions link-mobile">
          <%= link_to "Test Drive GoCD", '#', class: 'button-brand' %>
          <%= link_to "Introduction to GoCD Guide", '#', class: 'button-brand button-brand_transparent' %>

          <p class="actions_note">
              Please note: If you like the test drive, remember GoCD is open source and free to use. Just follow <a href="https://github.com/gocd/gocd-trial#next-steps">these instructions </a> to move your test drive to production.
          </p>
    </div>
  </section>
</div>