---
layout: campaignlanding
title: "Continuous Delivery Metrics for your Enterprise"
title_tag_of_header: "Continuous Delivery Metrics for your Enterprise"
page_caption:
meta_description: "GoCD Enterprise Analytics Plugin provides actionable insights about your release workflow, pipeline status and infrastructure utilization"
meta_keywords: "continuous delivery metrics, cd metrics, cycle time metrics, devops metrics, mean time to recovery"
show_features: true
---

<div class="analytics">

  <% content_for :maincontent do %>

    <div class="header">
      <div class="container">
        <div class= "row">
          <div class="col-md-10 col-md-offset-1">
            <h1><span class="highlight">CD Metrics</span> to<br/>Improve Your Build</h1>
          </div>
        </div>
      <div class="row">
        <div class="cta-row">


        <% link_to '/enterprise/contact/index.html' do %>
          <div class="cta-button-ghost">
            <h3>GET STARTED NOW</h3>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class="container intro-section">
      <div class="row intro-row">
        <div class="col-md-8 col-md-offset-2 intro-text">
<!--           <h1>star stuff harvesting star light</h1> -->
          <h3>GoCD's Enterprise Analytics Plugin provides actionable insights about your release workflow, pipeline status, and infrastructure utilization. With this, you can easily gain visibility into your release pipeline, identify, and remove bottlenecks and optimize resources for best throughput.</h3>
        </div>
<!--         <div class="col-md-7 vsm-illo">
          <%= image_tag "campaign/enterprise/ui_illo_commercial_2.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map"} %>
        </div> -->
      </div>

<!--       <div class="hr"></div> -->
    </div>

    <div class="feature-section">
      <div class="container">

        <div class="row feature-row">

          <div class="col-md-4 feature">
            <h3>Visibility Into<br/>Pipeline Status</h3>
            <%= image_tag "campaign/analytics/status.svg", {:title => "Visibility Into Pipeline Status", :alt => "Pipeline Status illustration", :class => 'illo'} %>
            <p>GoCD’s analytics plugin gives real-time visibility into your deployment pipelines. Metrics like pipeline times, wait times, and mean time to recovery are at your fingertips.</p>
          </div>


          <div class="col-md-4 feature">
            <h3>Identify Bottlenecks<br/>in Your Process</h3>
              <%= image_tag "campaign/analytics/bottleneck.svg", {:title => "Identify Bottlenecks in Your Process", :alt => "CD illustration", :class => 'illo'} %>
             <p>GoCD provides both in-context pipeline analytics and top-level metrics to illuminate bottlenecks in your deployment process and help you streamline it.</p>
          </div>

          <div class="col-md-4 feature">
            <h3>Maximize Utilization<br/>Through Analytics</h3>
             <%= image_tag "campaign/analytics/analytics.svg", {:title => "Maximize Utilization Through Analytics", :alt => "Chat illustration", :class => 'illo'} %>
            <p>Which jobs are the slowest? Which agents have the longest wait time? GoCD’s analytics plugin answers these questions and more, helping you optimize your resources for best throughput.</p>
          </div>
        </div>

        <div class="hr"></div>

      </div>
    </div>

    <div class="container plugins-section">

      <div class="row plugins-row">
        <div class="col-md-7">
            <div class="plugin-image">
            <%= image_tag "campaign/analytics/build_time.jpg", {:title => "Pipeline status at One Glance", :alt => "GoCD Build Time Graph", } %>
          </div>
        </div>
        <div class="col-md-5">
          <h3>Pipeline Status at One Glance</h3>

          <p>
            The pipeline level analytics gives insights into pipeline runs. It provides information about pipeline build time and wait time
            over all the pipeline runs. It also shows the "Mean Time to Recovery" from a failure for that pipeline.
          </p>
        </div>
      </div>

      <div class="row plugins-row">
        <div class="col-md-7">
          <div class="plugin-image">
          <%= image_tag "campaign/analytics/wait_time.png", {:title => "Pipeline Waiting Chart with Easy Drill-down", :alt => "GoCD Pipeline Utilization Chart", } %>
          </div>
        </div>
        <div class="col-md-5">
          <h3>Pipeline Waiting Chart with Easy Drill-Down</h3>

          <p>
            The top level analytics provides insights about pipelines with the highest wait time. Drill down to see jobs in a chosen
            pipeline with the highest wait time, and dive further down to the individual job instances to see their build and wait times.
          </p>
        </div>
      </div>

      <div class="row plugins-row">
        <div class="col-md-7">
          <div class="plugin-image">
          <%= image_tag "campaign/analytics/utilization.png", {:title => "Agent Utilization Chart with Easy Drill-down", :alt => "GoCD Agent Utilization Chart", } %>
          </div>
        </div>
        <div class="col-md-5">
          <h3>Agent Utilization Chart with Easy Drill-Down</h3>

          <p>
            Agent utilization chart shows you agents with the highest utilization. You can drill down to the jobs with the highest wait time
            for a chosen agent and further down to the individual job instances of a chosen job to see their build and wait times.
          </p>
        </div>
      </div>

      <div class="hr"></div>

    </div>

    <div class="cta-section">
      <h1></h1>
      <div class="cta-row">
        <% link_to '/enterprise/contact/index.html' do %>
          <div class="cta-button">
            <h3>GET STARTED NOW</h3>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
