---
layout: campaignlanding
title: "Improve your GoCD pipelines with the analytics plugin"
title_tag_of_header: "Improve your GoCD pipelines with the analytics plugin"
page_caption:
meta_description: "GoCD Enterprise Analytics Plugin provides actionable insights about your end-to-end cycle time,
pipeline status and infrastructure utilization"
meta_keywords: "continuous delivery metrics, cd metrics, cycle time metrics, devops metrics, mean time to recovery"
show_features: true
---
<div class="analytics">
  <% content_for :maincontent do %>
    <div class="header">
      <div class="container">
        <div class="full-w_item">
          <h1>Get <span class="highlight">insights</span> into<br /> your <span class="highlight">GoCD</span> pipelines</h1>
        </div>
      </div>
    </div>
    <div class="container intro-section">
      <div class="grid-container">
        <div class="grid-col-7 intro-video">
          <div class="overlay-video-container">
            <button class="player-close">
              <i class="fa fa-times"></i>
            </button>
            <iframe class="video-iframe" src="https://www.youtube.com/embed/o9q9ClZ5VTA?version=3" frameborder="0" allowfullscreen="true">
            </iframe>
          </div>


          <div class="parent-video-container">
            <video class="video_element"  autoplay="true" loop="true" muted="true"> 
              <source src="../assets/video/gocd_analytics_edit.mp4" type="video/mp4" ></source>
            </video>
            <div class="video-overlay">
              <button class="play-button">
                <i class="fa fa-play"></i>
              </button>
            </div>
          </div>


        </div>
        <div class="grid-col-5 video-content">
          <h3 class="video-content_header">Use metrics to improve your software delivery process</h3>
          <ul class="video-content_description">
            <li>See, track and analyze your end-to-end cycle time</li>
            <li>Real time visibility into your deployment pipelines</li>
            <li>Identify bottlenecks of your delivery process</li>
            <li>Optimize your resources for best throughput</li>
          </ul>
          <div class="cta-row video-containter_cta">
            <%= link_to 'Download Plugin', '../plugins/index.html', class: "cta-button"%>
            <%= link_to 'View Documentation', 'https://extensions-docs.gocd.org/analytics/current/', class: "cta-button-ghost"%>
          </div>
        </div>
      </div>
      <hr class="hr" />
    </div>
    <div class="container plugins-section">
      <div class="grid-container plugins-row">
        <div class="grid-col-7">
          <div class="plugin-image">
            <%= image_tag "campaign/analytics/vsm1.jpg", {:title => "Pipeline status at One Glance", :alt => "GoCD Build Time Graph" } %>
          </div>
        </div>
        <div class="grid-col-5">
          <h3>See, track, and analyze your end-to-end cycle time</h3>
          <p>
            GoCD's Analytics plugin provides insights into your entire path to production. It tracks the end-to-end time
            of your value stream map, and helps you answer questions like "what is the throughput" and "how long will
            this take to reach the customer" more accurately. <a href="https://extensions-docs.gocd.org/analytics/current/analytics_vsm/">Read
              more</a>.
          </p>
        </div>
      </div>
      <div class="grid-container plugins-row">
        <div class="grid-col-7">
          <div class="plugin-image">
            <%= image_tag "campaign/analytics/pipeline1.png", {:title => "Real-time visibility into your release pipelines", :alt => "GoCD Value Stream Map" } %>
          </div>
        </div>
        <div class="grid-col-5">
          <h3>Real-time visibility into your release pipelines</h3>
          <p>
            GoCD's analytics plugin gives real time visibility into your pipelines. Metrics like pipeline build times,
            wait times and mean time to recovery are at your fingertips.
          </p>
        </div>
      </div>
      <div class="grid-container plugins-row">
        <div class="grid-col-7">
          <div class="plugin-image">
            <%= image_tag "campaign/analytics/waittime1.png", {:title => "Pipeline Waiting Chart with Easy Drill-down", :alt => "GoCD Pipeline Utilization Chart" } %>
          </div>
        </div>
        <div class="grid-col-5">
          <h3>Identify bottlenecks of your process</h3>
          <p>
            GoCD provides both in-context pipeline analytics and top-level metrics to illuminate bottlenecks in your
            deployment process and help you streamline it.
          </p>
        </div>
      </div>
      <div class="grid-container plugins-row">
        <div class="grid-col-7">
          <div class="plugin-image">
            <%= image_tag "campaign/analytics/util1.png", {:title => "Agent Utilization Chart with Easy Drill-down", :alt => "GoCD Agent Utilization Chart" } %>
          </div>
        </div>
        <div class="grid-col-5">
          <h3>Optimize your resources for best throughput</h3>
          <p>
            Which jobs are the slowest? Which agents have the longest wait time? GoCD’s analytics plugin answers these
            questions and more, helping you optimize your resources for best throughput.
          </p>
        </div>
      </div>
    </div>
    <div class="testimonial-section">
      <div class="testimonial-photo"></div>
      <div class="testimonial-text">
        <p>"The GoCD Analytics Plugin provides a great way for teams to assess and improve the effectiveness of their
          deployment pipelines. Having used GoCD with multiple distributed teams, I know that having rapid insights into
          timings and utilization for build &amp; deployment can be a big enabler for teams. The GoCD Analytics Plugin is
          a ‘must’ for serious teams in the enterprise."
          <br />
          <span class="bold">Matthew Skelton, Head of Consulting, Conflux</span></p>
      </div>
    </div>
  <% end %>
</div>