<% wrap_layout :layout do %>
  <header class="campaign-header">
    <div class="campaign-banner">
        <div class="banner-content">
          <h1 class="caption"><%= current_page.data.page_caption %></h1>
        </div>
        <%= yield_content :banner %>
    </div>
  </header>

  <main role="main">
    <% if current_page.data.show_features %>
    <div class='main-features'>
      <div class="container">
        <div class="row features">
          <h2 class='campaign-feature-title'>Why GoCD?</h2>
          <div class=" col-sm-12 col-md-4">
            <%= partial "partials/chef/_chef-feature1" %>
          </div>
          <div class=" col-sm-12 col-md-4">
            <%= partial "partials/chef/_chef-feature2" %>
          </div>
          <div class="col-sm-12 col-md-4">
            <%= partial "partials/chef/_chef-feature3" %>
          </div>
        </div>

      </div>
    </div>
    <% end %>

    <div class="container">
      <div class='row campaign-body'>
        <div class='col-sm-12 col-md-9'>
          <%= yield %>
        </div>
        <div class='col-sm-12 col-md-3'>
          <%= link_to 'Download Now', "/download/index.html", {:class => "btn btn-primary campaign-btn-download", "analytics-label" => "campaign-download-cta"} %>
        </div>
      </div>
    </div>

</main>
<% end %>
