<!doctype html>
<html>
  <head>
    <% def metadata key %>
    <% (current_article.data[key] unless current_article.nil?) || (current_page.data[key] unless current_page.nil?) || (current_article.title unless current_article.nil?) || (current_page.data.title unless current_page.nil?)|| "GoCD - Continuous Delivery" %>
    <% end %>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta content="<%= metadata(:meta_description) %>" name="description" />
    <meta content="<%= metadata(:meta_keywords) %>" name="keywords" />
    <title><%= metadata(:title_tag_of_header) %></title>
    <link href="<%= url_for '/assets/images/favicon.ico' %>" rel="shortcut icon" />
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <%= feed_tag :atom, url_for("/feed.xml"), title: "GoCD blog feed" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <%= yield %>
    <%= partial "footer" %>
  </body>

  <%= partial "partials/analytics" %>
</html>
