<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= (current_article.title unless current_article.nil?) || current_page.data.title || "GoCD" %></title>
    <link href="/assets/images/favicon.ico" rel="shortcut icon">
    <%= tag(:link, { :href => '/assets/vendor/stylesheets/font-awesome-4.5.0/css/font-awesome.min.css', :rel => 'stylesheet' }) %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag '/assets/vendor/javascripts/jquery/1.12.0/jquery.min.js' %>
    <%= javascript_include_tag :all %>
    <%= javascript_include_tag :main %>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "GoCD blog feed" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <%= yield %>
    <%= partial "footer" %>
  </body>
</html>
