<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta content="<%= value_or_title_as_default(:meta_description) %>" name="description" />
    <meta content="<%= value_or_default(:meta_keywords, 'GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, automated release management, Go') %>" name="keywords" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@goforcd" />
    <meta name="twitter:title" content="<%= twitter_card_property(:twitter_card_title, :title_tag_of_header) %>" />
    <meta name="twitter:description" content="<%= twitter_card_property(:twitter_card_description, :meta_description) %>" />
    <meta name="twitter:image" content="<%= twitter_card_image('gocd_continuous_delivery_thoughtworks_twitter.jpg') %>" />
    <link rel="canonical" href="<%= canonical_link_for(current_article || current_page) %>" />

    <title><%= value_or_title_as_default(:title_tag_of_header) %></title>
    <link href="<%= url_for '/assets/images/favicon.ico' %>" rel="shortcut icon" />
    <%= stylesheet_link_tag 'aos-3.0.0-beta.6' %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <%= auto_javascript_include_tag %>
    <%= javascript_include_tag 'aos-3.0.0-beta.6.js' %>
    <%= feed_tag :atom, url_for("/feed.xml"), title: "GoCD blog feed" %>
    <script>
      $(document).ready(function(){
      $('.chocolat-parent').Chocolat();
      AOS.init({
        once: true
      });
    });
    </script>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>
    <div class='imagemodal'>
      <div class='imagemodalcontent'>
      </div>
      <div class='close'>&#10006;
      </div>
    </div>

  </body>
  <%= partial "partials/analytics" %>
</html>
