<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta content="<%= value_or_title_as_default(:meta_description) %>" name="description" />
    <meta content="<%= value_or_default(:meta_keywords, 'GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, automated release management, Go') %>" name="keywords" />
    <title><%= value_or_title_as_default(:title_tag_of_header) %></title>
    <link href="<%= url_for '/assets/images/favicon.ico' %>" rel="shortcut icon" />
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <%= feed_tag :atom, url_for("/feed.xml"), title: "GoCD blog feed" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </body>

  <%= partial "partials/analytics" %>
</html>
