<% wrap_layout :layout do %>
<div class="container blog-post">


  <%= '<div class="draft-banner">This is a draft. It will not show up on the live site.</div>' if (should_show_drafts? && is_draft?(current_article)) %>



  <div class="row">
    <div class="col-md-9">

      <% if content_for?(:banner) %>
    <div class="post-banner">
      <%= yield_content :banner %>
    </div>
  <% end %>


  <header class="blog-post-header">
    <h1><%= put_gocd_in_span(current_article.title) %></h1>
    <h4><%= current_article.data["author"] %></h4>
    <p class='tags'>
       <% current_article.tags.each do |tag, current_article| %>
        <% link_to tag_path(tag), :class => 'tag' do %>
        <%= tag %>
        <% end %>
       <% end %>
     </p>
  </header>

      <main id="main" role="main" class="blog-post-main-container">
      <%= yield %>
      </main>
    </div>
    <div class="col-md-3">
      <aside class="post-sidebar">
        <section  class="recent-articles">
          <h2 class="section-title">Recent Articles</h2>
          <ol>
            <% selected_articles_for_display_in(blog.articles)[0...5].each do |article| %>
            <li>
              <span class="post-date"><%= article.date.strftime('%b %e') %></span>
              <span class="post-author"><%= article.data["author"] %></span>
              <%= link_to article.title, article %>
            </li>
            <% end %>
          </ol>
        </section>
        <section>
          <h2 class="section-title">By Year</h2>
          <ol>
            <% selected_articles_for_display_in(blog.articles).group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year).sub(/\.html$/, '/index.html') %></li>
            <% end %>
          </ol>
        </section>

      </aside>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          /* Careful: Changing the value of page.url and page.identifier might mean you lose comments. */
          this.page.url = "<%= config.base_url_for_blog_posts %>/<%= current_article.destination_path.sub('/index.html', '.html') %>";
          this.page.identifier = this.page.url;
          this.shortname = 'gocdblog';
        };
        (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//gocdblog.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </div>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-571784c91d5449dd"></script>
<% end %>
