<% wrap_layout :layout do %>
<!-- <div class="post-banner">
  
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <main id="main" role="main">
      <%= yield %>
      </main>
    </div>
    <div class="col-md-3">
      <aside class="post-sidebar">
      <section  class="recent-ariticles">
        <h2 class="section-title">Recent Articles</h2>
        <ol>
          <% blog.articles[0...10].each do |article| %>
          <li>
          <span class="post-date"><%= article.date.strftime('%b %e') %></span>
          <%= link_to article.title, article %> 
          </li>
          <% end %>
        </ol>
        </section>
        <section>
        <h2 class="section-title">Tags</h2>
        <ol>
          <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
          <% end %>
        </ol>
        </section>
        <section>
         <h2 class="section-title">By Year</h2>
        <ol>
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
          <% end %>
        </ol>
        </section>
      </aside>
    </div>
  </div>
</div>
<% end %>