<% wrap_layout :layout do %>
<div class="container blog-post">


  <%= '<div class="draft-banner">This is a draft. It will not show up on the live site.</div>' if (should_show_drafts? && is_draft?(current_article)) %>



  <div class="row">
    <div class="col-md-9">

      <% if content_for?(:banner) %>
    <div class="post-banner">
      <%= yield_content :banner %>
    </div>
  <% end %>


  <header class="blog-post-header">
    <h1><%= put_gocd_in_span(current_article.title) %></h1>
    <h4><%= current_article.data["author"] %></h4>
    <p class='tags'>
       <% current_article.tags.each do |tag, current_article| %>
        <% link_to tag_path(tag), :class => 'tag' do %>
        <%= tag %>
        <% end %>
       <% end %>
     </p>
  </header>

      <main id="main" role="main" class="blog-post-main-container">
      <%= yield %>
      </main>
    </div>
    <div class="col-md-3">
      <aside class="post-sidebar">
        <section  class="recent-articles">
          <h2 class="section-title">Recent Articles</h2>
          <ol>
            <% selected_articles_for_display_in(blog.articles)[0...5].each do |article| %>
            <li>
              <span class="post-date"><%= article.date.strftime('%b %e') %></span>
              <span class="post-author"><%= article.data["author"] %></span>
              <%= link_to article.title, article %>
            </li>
            <% end %>
          </ol>
        </section>
        <section>
          <h2 class="section-title">By Year</h2>
          <ol>
            <% selected_articles_for_display_in(blog.articles).group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year).sub(/\.html$/, '/index.html') %></li>
            <% end %>
          </ol>
        </section>

      </aside>
    </div>
  </div>
</div>
<% end %>
