<div class="post-summary">
<% link_to article, :class => 'post-link' do %>
  <% if article.data["summary_image"] %>
  <figure class="post-summary-image"><img src="<%= article.data["summary_image"] %>" alt="<%= article.title %>" /></figure>
  <% end %>

  <div class="blog-details">
    <span class="post-date"><%= article.date.strftime('%b %e, %Y') %></span>
    <h2 class="post-title"><%= put_gocd_in_span(article.title) %></h2>
    <p class="excerpt"><%= article.data["excerpt"] || article.summary(250) %> </p>
  </div>
<% end %>
</div>
