<footer>
  <div class="join-community">
    <ul>
      <li>
        <a href="https://groups.google.com/forum/#!forum/go-cd" target="_blank" analytics-label="google-group">
          <i class="icon fa fa-users fa-4x join-us" aria-hidden="true"></i>
          <span>Join our discussion forum</span>
        </a>
      </li>
      <li>
        <a href="https://gitter.im/gocd/gocd" target="_blank" analytics-label="gitter">
          <i class="icon fa fa-comments fa-4x develop-with-us" aria-hidden="true"></i>
         <span>Chat with us</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/gocd/gocd" target="_blank" analytics-label="github">
          <i class="icon fa fa-github fa-4x watch-us" aria-hidden="true"></i>
          <span>watch us</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <ul class="unordered-list">
            <li><%= link_to 'DOWNLOAD GoCD', '/download/index.html' %></li>
            <li><%= link_to 'INTRO TO GoCD', '/getting-started/part-1/index.html' %></li>
            <li><%= link_to 'TEST DRIVE GoCD' , '/test-drive-gocd/index.html' %></li>

          </ul>
        </div>

        <div class="col-md-2">
          <ul class="unordered-list">
            <li><%= link_to 'PLUGINS', '/plugins/index.html' %></li>
            <li><%= link_to 'RESOURCES', '/resources/index.html' %></li>
            <li><%= link_to 'PRIVACY', 'https://www.thoughtworks.com/privacy-policy' %> </li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="unordered-list">
            <li><%= link_to 'FORK US ON GITHUB', 'https://www.github.com/gocd', target: "_blank" %></li>
            <li><a href='<%= url_for '/assets/gocd-brand-styleguide.zip' %>'>LOGOS + BRAND</a></li>
            <li><%= link_to 'CONTRIBUTE' , '/contribute/index.html' %></li>
          </ul>
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-4">
          <p>
            GoCD is an open-source project, sponsored by <a target="_blank" href="https://www.thoughtworks.com" analytics-label="link_footer_thoughtworks">Thoughtworks Inc.</a>
            under the <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank" title="Apache 2.0 License">Apache License, Version 2.0</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
