<header class="top">
  <div class="container">
    <%= link_to image_tag('go_logo.svg', {:title => 'GoCD Logo', :alt => 'GoCD Logo'}), '/index.html', {:class => 'logo', "analytics-label" => 'logo'} %>
    <nav class="mainnav">
      <ul class="level0">
        <li><%= link_to 'Features', '/why-gocd/index.html', :class => 'link_whygocd', "analytics-label" => "link_whygocd" %></li>
        <li><%= link_to 'Documentation', 'https://docs.gocd.org/current/', :class => "link_documentation", "analytics-label" => "link_help>link_documentation" %></li>
        <li><%= link_to 'Blog', '/blog/index.html' ,:class => 'link_blog', "analytics-label" => "Blog" %></li>

        <li class="dropdown"><%= link_to 'Enterprise', "/enterprise/index.html" ,:class => 'link_enterprise', "analytics-label" => "Enterprise" %>
          <ul class="level1 mobile-nav">
            <li><%= link_to 'Overview', '/enterprise/index.html' , :class => 'link_overview'%></li>
            <li><%= link_to 'Add-ons', '/enterprise/addons/index.html' , :class => 'link_addons' %></li>
            <li><%= link_to 'Support', '/enterprise/support/index.html' , :class => 'link_support'%></li>
            <li><%= link_to 'Pricing', '/enterprise/pricing/index.html' , :class => 'link_pricing'%></li>
            <li><%= link_to 'Contact', '/enterprise/contact/index.html' , :class => 'link_contact'%></li>
          </ul>
        </li>
        <li><%= link_to 'Download', '/download/index.html' ,:class => 'link_download', "analytics-label" => "Download" %></li>
      </ul>
    </nav>
    <button class="navbtn menu collapse">
    <span></span>
    </button>
  </div>

</header>
<span id="top"></span>
