<header class="top">
  <div class="container">
    <%= link_to image_tag('go_logo.svg', {:title => 'GoCD Logo', :alt => 'GoCD Logo'}), '/index.html', {:class => 'logo', "analytics-label" => 'logo'} %>
    <nav class="mainnav">
      <ul class="level0">
        <li class="dropdown">
          <%= link_to 'Why GoCD?', '/why-gocd/index.html' , :class => 'link_whygocd', "analytics-label" => "link_whygocd" %>
        </li>
        <li class="dropdown">
          <%= link_to 'Community', '/contribute/index.html' , :class => 'toplink_contribute', "analytics-label" => "link_community" %>
          <ul  class="level1">
            <li><%= link_to 'Contribute', '/contribute/index.html' , :class => 'link_contribute', "analytics-label" => "link_community>link_contribute" %></li>
            <li><%= link_to 'Events', '/events/index.html' ,:class => 'link_events', "analytics-label" => "link_community>link_events" %></li>
            <li><%= link_to 'Plugins', '/plugins/index.html' ,:class => 'link_plugins', "analytics-label" => "link_community>link_plugins" %></li>
          </ul>
        </li>
        <li><%= link_to 'Blog', '/blog/index.html' ,:class => 'link_blog', "analytics-label" => "Blog" %></li>
        <li class="dropdown">
          <%= link_to 'Help', '/help/index.html', :class => 'toplink_help', "analytics-label" => "link_help" %>
          <ul  class="level1">
            <li><%= link_to 'Getting started', '/help/index.html' , :class => 'getting-started', "analytics-label" => "link_help>link_getting_started" %></li>
            <li><%= link_to 'Documentation', 'https://docs.go.cd/current/', :target => '_blank', "analytics-label" => "link_help>link_documentation" %></li>
            <li><%= link_to 'Resources', '/resources.html', :class => 'link_resources', "analytics-label" => "link_help>link_resources" %></li>
          </ul>
        </li>
        <li><%= link_to 'Download', '/download/index.html' ,  :class => 'link_download', "analytics-label" => "link_help>link_download" %></li>
        <li><%= link_to 'Get Support', 'https://www.thoughtworks.com/go' ,  :class => 'link_support', "analytics-label" => "link_support" %></li>
      </ul>
    </nav>
    <button class="navbtn menu collapse">
    <span></span>
    </button>
  </div>
</header>
<span id="top"></span>
<%= link_to 'Fork me on GitHub', 'http://github.com/gocd' ,  :class => 'github-fork-ribbon', :target => '_blank', "analytics-label" => "link_header_fork>link_download" , title: "Fork me on GitHub" %>
