<nav class="secondarynav desktop-nav">
  <ul class="level0">
    <li><%= link_to 'Overview', '/enterprise/index.html' , :class => 'link_overview'%></li>
    <li><%= link_to 'Add-Ons', '/enterprise/addons/index.html' , :class => 'link_addons' %></li>
    <li><%= link_to 'Support', '/enterprise/support/index.html' , :class => 'link_support'%></li>
<!--     <li><%= link_to 'Pricing', '/enterprise/pricing/index.html' , :class => 'link_pricing'%></li>
 -->    <li><%= link_to 'Contact', '/enterprise/contact/index.html' , :class => 'link_contact'%></li>
  </ul>
</nav>
