---
layout: layout
title: Interactive GoCD Demo
title_tag_of_header: "Test Drive GoCD"
meta_description: ""
meta_keywords: ""
---

<div class="header-bg">

</div>

<div class="content-container container">

  <section class="content-lt">

    <%= image_tag  "../assets/images/campaign/test-drive/gocd-test-drive-w.gif", class: "img-responsive test-drive-screenshot" %>

  </section>

  <section class="content-rt">
    <h1 class="content-header">Get Started with GoCD in 5 Minutes</h1>
    <%= image_tag  "../assets/images/campaign/test-drive/gocd-test-drive-w.gif", class: "img-responsive hide-mob-desktop test-drive-screenshot"%>
    <div class="steps-list">
      <ul class="steps-list">
            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 1: Download it.
              </h2>
              <div class="download-test-drive-links">
                <% ["OSX", "Windows", "Linux"].each do | os | %>
                  <% dl_base_url = "https://s3.amazonaws.com/gocd-test-drive-experimental/installers/19.3.0-8719/14" -%>
                  <div class="download-test-drive-package">
                    <%= link_to os, "#{dl_base_url}/gocd-19.3.0-8719-14-#{os.downcase}.zip", { class: "btn btn-primary"} %>
                    <%= link_to "SHA-256", "#{dl_base_url}/gocd-19.3.0-8719-14-#{os.downcase}.zip.sha256", { class: "checksum-link" } %>
                  </div>
                <% end %>
              </div>

              <div class="download-hint">
                <p>Approximately 230 MB download. </p>
                <p>GoCD test-drive requires a 64 bit machine.</p>
              </div>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 2: Unzip it.
              </h2>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 3: Run it.
              </h2>

              Mac OS/Linux:
              <pre class="terminal">
                <code><span class="comment"># cd into the unzipped directory</span>
                <span class="prompt">$</span> ./run-gocd</code>
              </pre>

              Windows:
              <pre class="terminal">
                <code><span class="comment">;; cd into the unzipped directory</span>
                <span class="prompt">C:\gocd></span> run-gocd.exe</code>
              </pre>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 4: Try it.
              </h2>
              <p>Click on the "Add Pipeline" button to create and run your first pipeline in GoCD.</p>
              <p>Once you've completed your first pipeline, you'll have the opportunity to look under the hood at your build. </p>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 5: Be amazed.
              </h2>

              Like what you see? GoCD is open source and free to use. Just follow <%= link_to 'these instructions', "/download/index.html" %> to move your test drive to production.
            </li>
          </ul>
    </div>
  </section>
</div>
