<header class="top">
  <div class="container">
    <%= link_to image_tag('Go_logo.png'), '/index.html', :class => 'logo' %>
    <nav class="mainnav">
      <ul class="level0">
        <li class="dropdown">
          <%= link_to 'Why go', '/why-go.html' , :class => 'link_whygo'%>
          <ul  class="level1">
            <li><%= link_to 'Subscribe to updates', '/subscribe.html' , :class => 'link_subscribe' %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to 'Community', '/contribute.html' %>
          <ul  class="level1">
            <li><%= link_to 'Contribute', '/contribute.html', :class => 'link_contribute'%></li>
            <li><%= link_to 'Events', '/events.html' ,:class => 'link_events'%></li>
            <li><%= link_to 'Plugins', '/plugins.html' ,:class => 'link_plugins'%></li>
          </ul>
        </li>
        <li><%= link_to 'Blog', '/blog.html' ,:class => 'link_blog'%></li>
        <li class="dropdown">
          <%= link_to 'Help', '/help.html', :class => 'link_help'%>
          <ul  class="level1">
            <li><%= link_to 'Getting started', '/getting-started/part-1.html', :class => 'link_getting-started' %></li>
          </ul>
        </li>
        <li><%= link_to 'Download', '/download.html' ,  :class => 'link_download'%></li>
      </ul>
    </nav>
    <button class="navbtn menu collapse">
    <span></span>
    </button>
  </div>
</header>
<span id="top"></span>