<header class="top">
  <div class="container">
    <%= link_to image_tag('Go_logo.png'), '/index.html', :class => 'logo' %>
    <nav class="mainnav">
      <ul class="level0">
        <li class="dropdown">
          <%= link_to 'Features', '/features.html' %>
          <ul>
            <li><%= link_to 'Plugins', '/plugins.html' %></li>
            <li><%= link_to 'Roadmap', '/roadmap.html' %></li>
            <li><%= link_to 'Subscribe to updates', '/subscribe.html' %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to 'Community', '/community.html' %>
          <ul>
            <li><%= link_to 'Contribute', '/contribute.html' %></li>
            <li><%= link_to 'CLA', '/cla.html' %></li>
            <li><%= link_to 'Open Issues', '/open-issues.html' %></li>
            <li><%= link_to 'Events', '/events.html' %></li>
            <li><%= link_to 'Partners', '/partners.html' %></li>
          </ul>
        </li>
        <li><%= link_to 'Blog', '/blog.html' %></li>
        <li class="dropdown">
          <%= link_to 'Help', '/help.html' %>
          <ul>
            <li><%= link_to 'Getting started', '/getting-started/part-1.html' %></li>
            <li><%= link_to 'Download', '/download.html' %></li>
          </ul>
        </li>
      </ul>
    </nav>
    <button class="navbtn menu collapse">
    <span></span>
    </button>
  </div>
</header>
<span id="top"></span>
