---
title: GoCD - Blog
pageable: true
per_page: 9
---
<div class="inner-banner plugins">
  <div class="container">
    <h1 class="caption"><span>GoCD Blog</span></h1>
    <span class="subcaption">Read about GoCD and Continuous Delivery</span>
    <span class="feed"><%= link_to 'RSS feed', '/feed.xml' %></span>
  </div>
</div>

<% latest_post = page_articles.first if page_number == 1 %>
<% articles    = page_number == 1 ? page_articles[1..-1] : page_articles %>

<% unless latest_post.nil? %>
<div id="latest-blog-post">
  <%= partial 'partials/_blog_post_summary.html.erb', :locals => { :article => latest_post } %>
</div>
<% end %>

<ul class="posts">
  <% articles.each do |article| %>
  <li>
    <%= partial 'partials/_blog_post_summary.html.erb', :locals => { :article => article } %>
  </li>
  <% end %>
</ul>

<% if paginate && num_pages > 1 %>
  <% if prev_page %>
  <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
  <p>Page <%= page_number %> of <%= num_pages %></p>
  <% if next_page %>
  <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
