---
title: GoCD - Blog
pageable: false
---
<div class="inner-banner blog-banner">
  <div class="container">
    <h1 class="caption"><span>GoCD Blog</span></h1>
    <span class="subcaption">Read about GoCD and Continuous Delivery</span>
    <%= link_to 'RSS feed', '/feed.xml' , { :class=>"rss-feed" }  %>
  </div>
</div>
<% latest_post = page_articles.first %>
<% articles    = page_articles.drop(1) %>
<main class="main blog-list" >
<div class="container">
  <ul class="posts">
    <li class="grid-sizer"></li>
    <li class="blog-list-item latest-blog">
      <% unless latest_post.nil? %>
      <%= partial 'partials/_blog_post_summary.html.erb', :locals => { :article => latest_post } %>
      <% end %>
    </li>
    <% articles.each do |article| %>
    <li class="blog-list-item">
      <%= partial 'partials/_blog_post_summary.html.erb', :locals => { :article => article } %>
    </li>
    <% end %>
  </ul>
  <% if paginate && num_pages > 1 %>
  <% if prev_page %>
  <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
  <p>Page <%= page_number %> of <%= num_pages %></p>
  <% if next_page %>
  <p><%= link_to 'Next page', next_page %></p>
  <% end %>
  <% end %>
</div>
</main>