---
title: "AMIs for GoCD"
title_tag_of_header: "AMIs for GoCD"
---

<div class="inner-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>GoCD Cloud</span></h1>
    </div>
  </div>
</div>
<main>

  <div class="container">
    <h3 class="subcaption">Amazon Linux based image for <b>GoCD Server</b></h3>
    <h5 class="subcaption">Please log your feedback or issues on <a href="https://github.com/gocd/gocd-cloud">github</a> for the following</h5>
    <div class="v-tabs all-releases">
      <ul class="tabs">
        <%  data.amis.keys.each_with_index do |release, index| %>
            <li rel="tab-<%= release.gsub('.', '-') %>"<%= ' class="active"' if index == 0 %>><%= release %><%= ' (latest)' if index == 0 %></li>
        <% end %>
      </ul>
      <div class="tab_container">
        <%  data.amis.keys.each_with_index do |release, index| %>
            <h3 class="tab-accordion_heading<%= ' d_active' if index == 0 %>" rel="tab-<%= release.gsub('.', '-')%>"><%= release %><%= ' (latest)' if index == 0 %></h3>
            <div id="tab-<%= release.gsub('.', '-')%>" class="tab_content" style="display: block;">
              <div class="content">
                <%= partial "partials/amis/amis", locals: {per_release: data.amis[release] }%>
              </div>
            </div>
        <% end %>
      </div>

    </div>

  </div>
</main>
<script>
    jQuery(document).ready(function ($) {
        startTabContainer($);
    });
</script>
