---
title: Continuous Delivery 101
title_tag_of_header: "Continuous Delivery - 101 | GoCD"
meta_description: "GoCD - open source continuous delivery software. "
meta_keywords: "GoCD, continuous delivery, continuous delivery 101, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, contribute, get involved, support"
---

<div class="inner-banner">
  <div class="container">
     <div class="banner-content">
      <h1 class="caption"><span>Continuous Delivery 101</span></h1>
    </div>
  </div>
</div>

<main>
  <div class="container">
    <div class='introtocd'>
      <div class="row">
          <div class="col-sm-4">
            <figure>
              <img src="http://placehold.it/350x200" alt='image' />
            </figure>
          </div>
          <div class="col-sm-8">
            <h2 class="features__title">What is Continuous Delivery? And why practice it? </h2>
            <p>
              Continuous Delivery is the process to release software faster, more reliably, and more frequently. Jez Humble, co-author of the book Continuous Delivery, in his blog says,</p>
              <p><i>"Continuous Delivery is the ability to get changes of all types—including new features, configuration changes, bug fixes and experiments—into production, or into the hands of users, safely and quickly in a sustainable way.</i></p>
              <p>CD provides a pattern language for the collection of software build, test and deployment activities that happen on the path to production. Further, CD references CI as a starting point, and extends it using lean philosophy and planning techniques that make it relevant to the greater business community. The goal of CD is to put customers in control of an ongoing cycle of software releases.</p>

          </div>
      </div>

      <div class="row">
          <div class="col-sm-push-8 col-sm-4">
            <figure>
              <img src="http://placehold.it/350x200" alt='image'/>
            </figure>
          </div>
          <div class="col-sm-pull-4 col-sm-8">
            <h2 class="features__title">Getting started with Continuous Delivery</h2>
            <p>---</p>

          </div>
      </div>
    </div>

    <!-- Continuous Delivery 101 -->
    <div class="row">
      <div>
        <h2 class="features__title">Continuous Delivery 101</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante purus, euismod hendrerit turpis a, eleifend tincidunt nibh. Curabitur lacinia urna vitae dolor sagittis, vitae bibendum arcu malesuada. Maecenas mi augue, eleifend ut felis a, dignissim feugiat neque.
        </p>
        <div class='video-container'>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLYcy44QqzleK37bEsG5Jh9RQDmUaBoMra" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <h2 class="features__title">Resources</h2>
        <ul class="r_list">
          <li>
            <%= link_to 'Webinars', 'https://www.thoughtworks.com/go/events/' %>
            <p>Learning sessions by ThoughtWorks.</p>
          </li>
          <li>
            <%= link_to 'How-To Videos', "/videos/index.html" %>
            <p> Short videos on key features of GoCD.</p>
          </li>

          <li>
            <%= link_to 'continuousdelivery.com', 'http://continuousdelivery.com/' %>
            <p>Jez Humble's blog on all things CD.</p>
          </li>
        </ul>
    </div>

    <div class="row e-books">
      <h2 class="features__title">E-books</h2>
      <div class='col-sm-4'>
          <img src="http://placehold.it/150x200" alt='Book Cover' />
          <p class='book-title'>Book Title</p>
          <p class='author-name'>Author Name </p>
          <%= link_to 'Download', '/index.html', :class => 'btn btn-dark' %>
      </div>
      <div class='col-sm-4'>
          <img src="http://placehold.it/150x200" alt='Book Cover'/>
          <p class='book-title'>Book Title</p>
          <p class='author-name'>Author Name </p>
          <%= link_to 'Download', '/index.html', :class => 'btn btn-dark' %>
      </div>
      <div class='col-sm-4'>
          <img src="http://placehold.it/150x200" alt='Book Cover' />
          <p class='book-title'>Book Title</p>
          <p class='author-name'>Author Name </p>
          <%= link_to 'Download', '/index.html', :class => 'btn btn-dark' %>
      </div>
    </div>
  </div>
</main>
