---
title: Continuous Delivery
title_tag_of_header: "Continuous Delivery - 101 | GoCD"
meta_description: "GoCD - open source continuous delivery software. Contribute by submitting code, issues and participating in the user groups. Get involved and be part of the community."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, contribute, get involved, support"
---

<div class="inner-banner">
  <div class="container">
     <div class="banner-content">
      <h1 class="caption"><span>Continuous Delivery</span></h1>
    </div>
  </div>
</div>

<main>
  <div class="container">
    <div class='introtocd'>
      <div class="row">
          <div class="col-sm-4">
            <figure>
              <img src="https://via.placeholder.com/350x200" alt='image' />
            </figure>
          </div>
          <div class="col-sm-8">
            <h2 class="features__title">Introduction of Continuous Delivery</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante purus, euismod hendrerit turpis a, eleifend tincidunt nibh. Curabitur lacinia urna vitae dolor sagittis, vitae bibendum arcu malesuada. Maecenas mi augue, eleifend ut felis a, dignissim feugiat neque.
            </p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-push-8 col-sm-4">
            <figure>
              <img src="https://via.placeholder.com/350x200" alt='image'/>
            </figure>
          </div>
          <div class="col-sm-pull-4 col-sm-8">
            <h2 class="features__title">History of Continuous Delivery</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante purus, euismod hendrerit turpis a, eleifend tincidunt nibh. Curabitur lacinia urna vitae dolor sagittis, vitae bibendum arcu malesuada. Maecenas mi augue, eleifend ut felis a, dignissim feugiat neque.
            </p>
          </div>
      </div>
    </div>

    <!-- Continuous Delivery 101 -->
    <div class="row">
      <div>
        <h2 class="features__title">Continuous Delivery 101</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante purus, euismod hendrerit turpis a, eleifend tincidunt nibh. Curabitur lacinia urna vitae dolor sagittis, vitae bibendum arcu malesuada. Maecenas mi augue, eleifend ut felis a, dignissim feugiat neque.
        </p>
        <div class='video-container'>
          <iframe width="640" height="360" src="https://www.youtube.com/embed/QZyka2anXbs?list=PLYcy44QqzleJervy1ajJcad_CsgJr7ZJw" frameborder="0" allowfullscreen='true'></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <h2 class="features__title">Resources</h2>
        <ul class="r_list">
          <li>
            <%= link_to 'Webinars', 'https://www.thoughtworks.com/go/events/' %>
            <p>Learning sessions by ThoughtWorks.</p>
          </li>
          <li>
            <%= link_to 'How-To Videos', "/videos/index.html" %>
            <p> Short videos on key features of GoCD.</p>
          </li>

          <li>
            <%= link_to 'continuousdelivery.com', 'https://continuousdelivery.com/' %>
            <p>Jez Humble's blog on all things CD.</p>
          </li>
        </ul>
    </div>

    <div class="row e-books">
      <h2 class="features__title">E-books</h2>
      <div class='col-sm-4'>
          <img src="https://via.placeholder.com/150x200" alt='Book Cover' />
          <p class='book-title'>Book Title</p>
          <p class='author-name'>Author Name </p>
          <%= link_to 'Download', '/index.html', :class => 'btn btn-dark' %>
      </div>
      <div class='col-sm-4'>
          <img src="https://via.placeholder.com/150x200" alt='Book Cover'/>
          <p class='book-title'>Book Title</p>
          <p class='author-name'>Author Name </p>
          <%= link_to 'Download', '/index.html', :class => 'btn btn-dark' %>
      </div>
      <div class='col-sm-4'>
          <img src="https://via.placeholder.com/150x200" alt='Book Cover' />
          <p class='book-title'>Book Title</p>
          <p class='author-name'>Author Name </p>
          <%= link_to 'Download', '/index.html', :class => 'btn btn-dark' %>
      </div>
    </div>
  </div>
</main>
