---
title: Contribute
title_tag_of_header: "Contribute and Participate | GoCD"
meta_description: "Contribute to GoCD by submitting code, issues and participating in the user groups. Get involved and be part of the community."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, test automation, open source, contribute, plugins, open source contribution"
---

<div class="inner-banner">
  <div class="container">
     <div class="banner-content">
      <h1 class="caption"><span>Contribute</span></h1>
    </div>
  </div>
</div>

<main>
  <div class="container">
    <p class="caption-txt">
      Coding is definitely not the only way you can contribute to GoCD. There are many valuable
      ways to contribute to the product and to help the growing GoCD community.
    </p>

    <div class="row content-tiles">
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="tile">
          <h3>Test GoCD</h3>
          <figure>
            <%= image_tag "icons/go.cd_test-gocd.svg", {:alt => "test gocd"} %>
          </figure>
          <p>
            You can <a href="https://github.com/gocd/gocd/issues" title="report issues" target="_blank">report issues</a> you find, or you can help us test GoCD to find new issues. You can also add to the existing automated tests.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="tile">
          <h3>Code for GoCD</h3>
          <figure>
            <%= image_tag "icons/go.cd_code-for-gocd.svg", {:alt => "code for gocd"} %>
          </figure>
          <p>
            Contribute <a href="https://github.com/gocd/gocd/" target="_blank">code</a> to GoCD! Choose any pending feature or bug, or build your own <a href="https://docs.gocd.org/current/extension_points/plugin_user_guide.html" target="_blank">plugin,</a> then send us a pull request. No contribution is too small.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="tile">
          <h3>Help secure GoCD</h3>
          <figure>
            <%= image_tag "icons/go.cd_security.svg", {:alt => "secure gocd"} %>
          </figure>
          <p>
            We believe that working with skilled security researchers is crucial in making any product more robust.
            You can contribute by reviewing our <a href="https://github.com/gocd/gocd/blob/master/SECURITY.md" target="_blank">security policy</a> and  <a href="https://hackerone.com/gocd" target="_blank">responsibly reporting any security
            issue</a> that you find in our product or service.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="tile">
          <h3>Join Community Discussions</h3>
          <figure>
            <%= image_tag "icons/go.cd_join-community.svg", {:alt => "gocd community discussions"} %>
          </figure>
          <p>
           We have an <a href="https://groups.google.com/g/go-cd" title="forum" target="_blank">active forum</a> where issues, features and ideas are discussed. Start a discussion, or help someone get started with GoCD.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="tile">
          <h3>Blog about GoCD</h3>
          <figure>
            <%= image_tag "icons/go.cd_blog-about-gocd.svg", {:alt => "blog about gocd"} %>
          </figure>
          <p>
           Contribute to the <a href="https://www.gocd.org/blog/" target="_blank"> blog.</a> If you write about your personal experiences with using GoCD, we'd love to add them to the GoCD blog.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <%= image_tag "Go_watermark_logo.svg", {:alt => "gocd logo", :class => "watermark"} %>
      </div>
    </div>
  </div>

  <div class="contribution-process">
    <h3>Code Contribution Process</h3>
    <div class="container">
      <ul class="process">
        <li>
          <span class="decide"><%= image_tag "go.cd_decide.svg", {:alt => "decide what you want to build"} %></span>
          <span>Decide what you want to build</span>
        </li>
        <li>
          <span class="fork"><%= image_tag "go.cd_fork.svg", {:alt => "fork the gocd repo"} %></span>
          <span>Fork the repository, keep it in sync with the master</span>
        </li>
        <li>
          <span class="talk"><%= image_tag "go.cd_want-to-do.svg", {:alt => "tell gocd about contribution"} %></span>
          <span>Talk to us about what you want to do</span></li>
        <li class="lastitem">
          <span class="changes"><%= image_tag "go.cd_changes.svg", {:alt => "make changes to gocd"} %></span>
          <span>Make your changes</span></li>
      </ul>

      <ul class="process second">
        <li>
          <span class="merge-request"><%= image_tag "go.cd_merge.svg", {:alt => "gocd merges pull request"} %></span>
          <span>We merge your request</span>
        </li>
        <li>
          <span class="cla-form"><%= image_tag "go.cd_form.svg", {:alt => "fill out gocd cla form"} %></span>
          <span>Fill out the CLA Form</span>
        </li>
        <li>
          <span class="pull-request"><%= image_tag "go.cd_pull-request.svg", {:alt => "submit pull request to gocd"} %></span>
          <span>Submit a Pull Request</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="howto">
    <div class="container">
      <div class="col-md-6">
        <h3>How to start contributing</h3>
        <p>
          Decide how you want to contribute: picking up an <a href="https://github.com/gocd/gocd/issues">outstanding
          issue</a>, adding a new feature, or building a plugin, etc. Looking for inspiration? Check out <%= link_to 'GoCD\'s Roadmap', '/roadmap/index.html' %> for a view into where the product is heading this year.
        </p>

        <p>
          If your contribution is a code contribution and you do send us a pull request, you will first need to read and
          sign the <%= link_to 'Contributor License Agreement', '/contributor-license-agreement/index.html' %>.
        </p>
      </div>

      <div class="col-md-6">
        <h3>How to get help</h3>
        <p>
          If you need any help getting started or get stuck along the way, you can talk to us on <a
          href="https://github.com/gocd/gocd/discussions">Github</a> or on the main <a
          href="https://groups.google.com/g/go-cd">discussion forum</a>. We are happy to help and answer any
          questions.
        </p>
        <p>
        Brand assets including our logos, colors, and visual guidelines can be found <%= link_to 'here', '/assets/gocd-brand-styleguide.zip' %>.
        </p>
      </div>
    </div>
  </div>
</main>
