---
title: GoCD - Download
title_tag_of_header: "Download - Free Go Server and Agent | GoCD"
meta_description: "GoCD - open source continuous delivery software. Helps agile projects increase productivity and deliver high quality through automation. Download GoCD for free."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, download, Go"
---
<div class="inner-banner plugins">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Download</span></h1>
    </div>
  </div>
</div>
<main>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p>
        <strong>You need to download both
        the <a href="https://docs.go.cd/current/installation/installing_go_server.html">server</a> and
        the <a href="https://docs.go.cd/current/installation/installing_go_agent.html">agent</a> in order
        to use GoCD. Both are free.</strong>
      </p>
      <p>
        Scripting GoCD installations gets easier now. Both GoCD Server and Agent are now available on
        public <a href="https://docs.go.cd/current/installation/install/server/linux.html#rpm-based-distributions-ie-redhat-centos-fedora">YUM</a>
        and <a href="https://docs.go.cd/current/installation/install/server/linux.html#debian-based-distributions-ie-ubuntu">APT</a> repositories!
      </p>
      <p>
        If you need help downloading, installing or using GoCD please join
        the <a href="https://groups.google.com/forum/#!forum/go-cd">GoCD Users Google Group</a>. ThoughtWorks also
        provides commercial help for GoCD. They can be reached
        at <a href="mailto:support@thoughtworks.com">support@thoughtworks.com</a>.
      </p>
    </div>
    <div class="col-md-3">
      <p class="note"><%= link_to 'Subscribe to updates', '/subscribe/index.html', :class => 'btn btn-dark' %> <span>on new GoCD releases and more.</span></p>
    </div>
  </div>
</div>
<script id="verify-checksum-message-template" type="text/x-handlebars-template">
<div class="verify-checksum-message">
  <div class="content">
    <button class="close-message">X</button>
    <p>You can verify the checksum on Linux or Mac OSX by doing this:</p>
    <div class="code">
      <p class="prompts">
        user@shell: <br/>
        user@shell: <br/>
        user@shell: <br/>
      </p>
      <p class="commands">
        CHECK="{{sha256sum}}"<br/>
        echo "$CHECK&nbsp;&nbsp;{{filename}}" &gt; verify.sha256<br/>
        sha256sum -c verify.sha256<br/>
      </p>
      <p class="results">
        {{filename}}: OK
      </p>
      <p>
        On Windows, you will have to use a third-party utility like <a target="_blank" href="http://code.kliu.org/misc/hashutils/">HashUtils</a>
        or <a target="_blank" href="https://support.microsoft.com/en-us/kb/841290">fciv</a>. The values you'd be looking for are:
      </p>
      <p class="results">
        File: {{filename}}<br/>
        MD5 sum: {{md5sum}}<br/>
        SHA1 sum: {{sha1sum}}<br/>
        SHA256 sum: {{sha256sum}}<br/>
      </p>
    </div>
  </div>
</div>
</script>
<div id="downloads">
  <div class="container">
  <div class="load-message">
      <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
      <span> Please wait. Fetching information about download ...</span>
      </div>
  </div>
</div>
<script id="download-revisions-template" type="text/x-handlebars-template">
{{#*inline "show-releases-for-installer-type"}}
<div id="{{{tab_id}}}" class="tab_content {{{installer_type}}}">
  <div class="go-releases">
    <div class="latest">
      {{#with latest_release}}
      <div class="go-release {{display_version}}">
        <span class="version">{{display_version}}</span>
        {{#with (lookup . ../installer_type)}}
          <div class="files">
            {{#if server32bit}}
              {{> show-file server type="server" display_name="Server<br><span>(64 bit JRE)</span>" os=../../installer_type}}
              {{> show-file agent type="agent" display_name="Agent<br><span>(64 bit JRE)</span>" os=../../installer_type}}
              {{> show-file server32bit type="server32bit" display_name="Server<br><span>(32 bit JRE)</span>" os=../../installer_type}}
              {{> show-file agent32bit type="agent32bit" display_name="Agent<br><span>(32 bit JRE)</span>" os=../../installer_type}}
              <div class="download-message">
                * Please download Server/Agent with 32 bit JRE is packaged with JRE 32 bit
                * Server/Agent with 64 bit JRE is packaged with JRE 64 bit
              </div>
            {{else}}
              {{> show-file server type="server" display_name="Server" os=../../installer_type}}
              {{> show-file agent type="agent" display_name="Agent" os=../../installer_type}}
            {{/if}}
          </div>
        {{/with}}
        </div>
      {{/with}}
    </div>
  </div>
  <div class="other-releases">
    <button class="btn-release" analytics-label="show-old-releases"><span>Show</span> old releases</button>
  </div>
  <div class="old-release">
    {{#each all_other_releases}}
    <div class="go-release {{display_version}}">
      <span class="version">{{display_version}}</span>
      {{#with (lookup . ../installer_type)}}
      <div class="files">
        {{#if server32bit}}
          {{> show-file server type="server" display_name="Server<br><span>(64 bit JRE)</span>" os=../../installer_type}}
          {{> show-file agent type="agent" display_name="Agent<br><span>(64 bit JRE)</span>" os=../../installer_type}}
          {{> show-file server32bit type="server32bit" display_name="Server<br><span>(32 bit JRE)</span>" os=../../installer_type}}
          {{> show-file agent32bit type="agent32bit" display_name="Agent<br><span>(32 bit JRE)</span>" os=../../installer_type}}
        {{else}}
          {{> show-file server type="server" display_name="Server" os=../../installer_type}}
          {{> show-file agent type="agent" display_name="Agent" os=../../installer_type}}
        {{/if}}          
      </div>
      {{/with}}
    </div>
    {{/each}}
  </div>
</div>
{{/inline}}
{{#*inline "show-tab-header"}}
<li rel="{{{tab_id}}}">
  <span class="os-logo"><img src="{{{image}}}" alt="{{{desc}}}" /></span>
  <span class="desc">{{{desc}}}</span>
</li>
{{/inline}}
{{#*inline "show-file"}}
<div class="{{{type}}} file">
  <div class="name">
    <a id="{{{analytics_id}}}" href="{{{url}}}" class="btn btn-primary">
      <i class="fa fa-download" analytics-label="download-{{{type}}}-{{{os}}}">
        <span>{{{display_name}}}</span>
      </i> 
      </a>
  </div>
  <div class="verify-checksum" data-filename="{{{filename}}}" data-sha256sum="{{{sha256sum}}}" data-sha1sum="{{{sha1sum}}}" data-md5sum="{{{md5sum}}}">
    <button class="verify" analytics-label="verify-checksum">Verify checksum</button>
  </div>
</div>
{{/inline}}
<div class="download-area">
  <div class="container">
    <h2 class="sub-title">Choose your OS &amp; download</h2>
    <p class="info">Latest supported release (<span id="latest-version">{{latest_version}}</span>) <a href="../releases/#latest" class="btn btn-dark">See what's new</a> </p>
    <ul class="tabs os">
      {{> show-tab-header tab_id="tab-windows" image="<%= image_path "download/windows.png" %>" desc="Windows"}}
      {{> show-tab-header tab_id="tab-osx" image="<%= image_path "download/osx.png" %>" desc="OSX"}}
      {{> show-tab-header tab_id="tab-debian" image="<%= image_path "download/debian.png" %>" desc="Debian"}}
      {{> show-tab-header tab_id="tab-redhat" image="<%= image_path "download/redhat.png" %>" desc="RPM"}}
      {{> show-tab-header tab_id="tab-zip" image="<%= image_path "download/package.png" %>" desc="Zip"}}
    </ul>
  </div>
</div>
<div class="os-tab-content">
  <div class="container">
    <div class="tab_container">
      <h3 class="tab-accordion_heading" rel="tab-windows">Windows</h3>
      {{> show-releases-for-installer-type installer_type="win"     heading="Windows" tab_id="tab-windows"}}
      <h3 class="tab-accordion_heading" rel="tab-osx">OSX</h3>
      {{> show-releases-for-installer-type installer_type="osx"     heading="OSX"     tab_id="tab-osx"}}
      <h3 class="tab-accordion_heading" rel="tab-debian">Debian</h3>
      {{> show-releases-for-installer-type installer_type="deb"     heading="Debian"  tab_id="tab-debian"}}
      <h3 class="tab-accordion_heading" rel="tab-redhat">RPM</h3>
      {{> show-releases-for-installer-type installer_type="rpm"     heading="RPM"     tab_id="tab-redhat"}}
      <h3 class="tab-accordion_heading" rel="tab-zip">Zip</h3>
      {{> show-releases-for-installer-type installer_type="generic" heading="Zip" tab_id="tab-zip"}}
    </div>
  </div>
  <div id="verify-checksum-message"></div>
</div>
</script>
</main>
<script>
// <![CDATA[
jQuery(document).ready(function($) {
  var isExperimental = R.any(R.equals('experimental=true'), window.location.search.substr(1).split('&'));
  showDownloadLinks({ typeOfInstallersToShow: isExperimental ? "experimental" : "stable"})
    .then(function() {
      startTabContainer($);
    }).then(function(){
      var package="zip";
      var appVersion = navigator.appVersion;

      if (appVersion.indexOf("Win")!=-1) package="windows";
      if (appVersion.indexOf("Mac")!=-1) package="osx";
      if (appVersion.indexOf("Debian")!=-1) package="debian";
      if (appVersion.indexOf("Ubuntu")!=-1) package="debian";
      if (appVersion.indexOf("RedHat")!=-1) package="redhat";
      if (appVersion.indexOf("CentOS")!=-1) package="redhat";

      $('[rel=tab-' + package + ']').click();
    });

  setupShowVerifyChecksumMessage();
});
// ]]>
</script>

<div class="support">
  <div class="container">
    <div class="go-support">
      <p>ThoughtWorks offers commercial support for <span class="go">Go</span>CD. Sign up for expert support and access to enterprise add-ons.</p>
      <a href="https://www.thoughtworks.com/go/#support" analytics-label="professional-support">Get Support</a>
    </div>
  </div>
</div>
