---
title: GoCD - Download
---
<div class="inner-banner plugins">
  <div class="container">
    <h1 class="caption"><span>Download</span></h1>
    <span class="subcaption">Download GoCD Server and GoCD Agent for Free</span>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p>
          <strong>You need to download both
            the <a href="https://docs.go.cd/current/installation/installing_go_server.html">server</a> and
            the <a href="https://docs.go.cd/current/installation/installing_go_agent.html">agent</a> in order
            to use GoCD.</strong>
        </p>
        <p>
          Scripting GoCD installations gets easier now. Both GoCD Server and Agent are now available on
          public <a href="https://docs.go.cd/current/installation/install/server/linux.html#rpm-based-distributions-ie-redhat-centos-fedora">YUM</a>
          and <a href="https://docs.go.cd/current/installation/install/server/linux.html#debian-based-distributions-ie-ubuntu">APT</a> repositories!
        </p>
        <p>
          If you need help downloading, installing or using GoCD please join
          the <a href="https://groups.google.com/forum/#!forum/go-cd">GoCD Users Google Group</a>. ThoughtWorks also
          provides commercial help for GoCD. They can be reached
          at <a href="mailto:support@thoughtworks.com">support@thoughtworks.com</a>.
        </p>
      </div>
      <div class="col-md-3">
        <p class="note"> New! <%= link_to 'Subscribe to updates', '/subscribe.html' %> on new GoCD releases and more.</p>
      </div>
    </div>

    <script id="verify-checksum-message-template" type="text/x-handlebars-template">
      <div>
        You can verify the checksum using MD5 by doing this:

        <pre>
        Put this MD5 sum in a file (say {{filename}}.md5): {{md5sum}}
        Place the downloaded file in the same directory: {{filename}}
        Verify that the output of this command is without errors: md5sum -c {{filename}}.md5
        </pre>

        OR

        <pre>
        Run: md5sum {{filename}}
        Verify that the output is: {{md5sum}}
        </pre>
      </div>

      <div>
        You can verify the checksum using SHA256 by doing this:

        <pre>
        Put this SHA256 sum in a file (say {{filename}}.sha): {{sha256sum}}
        Place the downloaded file in the same directory: {{filename}}
        Verify that the output of this command is without errors: sha256sum -c {{filename}}.sha
        </pre>

        OR

        <pre>
        Run: sha256sum {{filename}}
        Verify that the output is: {{sha256sum}}
        </pre>
      </div>
    </script>

    <div id="downloads"></div>
    <script id="download-revisions-template" type="text/x-handlebars-template">
      {{#*inline "show-releases-for-installer-type"}}
      <div id="{{{tab_id}}}" class="tab_content {{{installer_type}}}">
        <div class="releases">

          <div class="latest">
            {{#with latest_release}}
            <div class="release {{go_version}}">
              {{#with (lookup . ../installer_type)}}
              <div class="files">
                {{> show-file server type="server"}}
                {{> show-file agent type="agent"}}
              </div>
              {{/with}}
            </div>
            {{/with}}
          </div>

          <div class="others">
            {{#each all_other_releases}}
            <div class="release {{go_version}}">
              {{#with (lookup . ../installer_type)}}
              <div class="files">
                {{> show-file server type="server"}}
                {{> show-file agent type="agent"}}
              </div>
              {{/with}}
            </div>
            {{/each}}
          </div>

        </div>
      </div>
      {{/inline}}

      {{#*inline "show-tab-header"}}
      <li rel="{{{tab_id}}}">
        <span class="os-logo"><img src="{{{image}}}" alt="{{{desc}}}" /></span>
        <span class="desc">{{{desc}}}</span>
      </li>
      {{/inline}}

      {{#*inline "show-file"}}
      <div class="{{{type}}} file">
        <div class="name"><a href="{{{url}}}">{{{filename}}}</a></div>
        <div class="verify-checksum" data-filename="{{{filename}}}" data-sha256sum="{{{sha256sum}}}" data-md5sum="{{{md5sum}}}">
          <span class="message">Verify checksum</span>
        </div>
      </div>
      {{/inline}}

      <div class="download-area">
        <div class="container">
          <h2 class="sub-title">Choose your OS &amp; download</h2>
          <p class="info">Latest supported release (<span id="latest-version">{{latest_version}}</span>) |
            <a href="../releases/#latest">See what's new</a>
          </p>

          <ul class="tabs os">
            {{> show-tab-header tab_id="tab1" image="/assets/images/download/windows.png" desc="Windows"}}
            {{> show-tab-header tab_id="tab2" image="/assets/images/download/osx.png" desc="OSX"}}
            {{> show-tab-header tab_id="tab3" image="/assets/images/download/debian.png" desc="Debian"}}
            {{> show-tab-header tab_id="tab4" image="/assets/images/download/linux.png" desc="RPM"}}
            {{> show-tab-header tab_id="tab5" image="/assets/images/download/solaris.png" desc="Solaris"}}
            {{> show-tab-header tab_id="tab6" image="/assets/images/download/package.png" desc="Package"}}
          </ul>
        </div>
      </div>

      <div class="os-tab-content">
        <div class="container">
          <div class="tab_container">
            <h3 class="tab-accordion_heading" rel="tab1">Windows</h3>
            {{> show-releases-for-installer-type installer_type="win"     heading="Windows" tab_id="tab1"}}
            <h3 class="tab-accordion_heading" rel="tab2">OSX</h3>
            {{> show-releases-for-installer-type installer_type="osx"     heading="OSX"     tab_id="tab2"}}
            <h3 class="tab-accordion_heading" rel="tab3">Debian</h3>
            {{> show-releases-for-installer-type installer_type="deb"     heading="Debian"  tab_id="tab3"}}
            <h3 class="tab-accordion_heading" rel="tab4">RPM</h3>
            {{> show-releases-for-installer-type installer_type="rpm"     heading="RPM"     tab_id="tab4"}}
            <h3 class="tab-accordion_heading" rel="tab5">Solaris</h3>
            {{> show-releases-for-installer-type installer_type="solaris" heading="Solaris" tab_id="tab5"}}
            <h3 class="tab-accordion_heading" rel="tab6">Package</h3>
            {{> show-releases-for-installer-type installer_type="generic" heading="Package" tab_id="tab6"}}
          </div>
        </div>

        <div id="verify-checksum-message"></div>
      </div>
    </script>
  </div>
</main>

<%= javascript_include_tag "/assets/vendor/javascripts/handlebars.js/4.0.5/handlebars.min.js" %>
<%= javascript_include_tag "/assets/vendor/javascripts/ramda/0.19.1/ramda.min.js" %>
<%= javascript_include_tag :download %>
<%= javascript_include_tag :tabs %>

<script>
  jQuery(document).ready(function($) {
    showDownloadLinks().then(function() { startTabContainer($); });
    setupShowVerifyChecksumMessage();
  });
</script>
