---
title: GoCD - Download
title_tag_of_header: "Download - Free Go Server and Agent | GoCD"
meta_description: "GoCD - open source continuous delivery software. Helps agile projects increase productivity and deliver high quality through automation. Download GoCD for free."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, download, Go"
---
<div class="inner-banner plugins">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Download</span></h1>
    </div>
  </div>
</div>
<main>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p>
        <strong>You need to download both
        the <a href="https://docs.go.cd/current/installation/installing_go_server.html">server</a> and
        the <a href="https://docs.go.cd/current/installation/installing_go_agent.html">agent</a> in order
        to use GoCD. Both are free.</strong>
      </p>
      <p>
        Scripting GoCD installations gets easier now. Both GoCD Server and Agent are now available on
        public <a href="https://docs.go.cd/current/installation/install/server/linux.html#rpm-based-distributions-ie-redhat-centos-fedora">YUM</a>
        and <a href="https://docs.go.cd/current/installation/install/server/linux.html#debian-based-distributions-ie-ubuntu">APT</a> repositories!
      </p>
      <p>
        If you need help downloading, installing or using GoCD please join
        the <a href="https://groups.google.com/forum/#!forum/go-cd">GoCD Users Google Group</a>. ThoughtWorks also
        provides commercial help for GoCD. They can be reached
        at <a href="mailto:support@thoughtworks.com">support@thoughtworks.com</a>.
      </p>
    </div>
    <div class="col-md-3">
      <p class="note"><%= link_to 'Subscribe to updates', '/subscribe/index.html', :class => 'btn btn-dark' %> <span>on new GoCD releases and more.</span></p>
    </div>
  </div>
</div>
<script id="verify-checksum-message-template" type="text/x-handlebars-template">
<div class="verify-checksum-message">
  <div class="content">
    <button class="close-message">X</button>
    <p>You can verify the checksum on Linux or Mac OSX by doing this:</p>
    <div class="code">
      <p class="prompts">
        user@shell: <br/>
        user@shell: <br/>
        user@shell: <br/>
      </p>
      <p class="commands">
        CHECK="{{sha256sum}}"<br/>
        echo "$CHECK {{filename}}" &gt; verify.sha256<br/>
        sha256sum -c verify.sha256<br/>
      </p>
      <p class="results">
        {{filename}}: OK
      </p>
      <p>
        On Windows, you will have to use a third-party utility like <a target="_blank" href="http://code.kliu.org/misc/hashutils/">HashUtils</a>
        or <a target="_blank" href="https://support.microsoft.com/en-us/kb/841290">fciv</a>. The values you'd be looking for are:
      </p>
      <p class="results">
        File: {{filename}}<br/>
        MD5 sum: {{md5sum}}<br/>
        SHA1 sum: {{sha1sum}}<br/>
        SHA256 sum: {{sha256sum}}<br/>
      </p>
    </div>
  </div>
</div>
</script>
<div id="downloads">
  <div class="container">
  <div class="load-message">
      <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
      <span> Please wait. Fetching information about download ...</span>
      </div>
  </div>
</div>
<script id="download-revisions-template" type="text/x-handlebars-template">
{{#*inline "show-releases-for-installer-type"}}
<div id="{{{tab_id}}}" class="tab_content {{{installer_type}}}">
  <div class="go-releases">
    <div class="latest">
      {{#with latest_release}}
      <div class="go-release {{display_version}}">
        <span class="version">{{display_version}}</span>
        {{#with (lookup . ../installer_type)}}
        <div class="files">
          {{> show-file server type="server" os=../../installer_type}}
          {{> show-file agent type="agent" os=../../installer_type}}
        </div>
        {{/with}}
      </div>
      {{/with}}
    </div>
  </div>
  <div class="other-releases">
    <button class="btn-release" analytics-label="show-old-releases"><span>Show</span> old releases</button>
  </div>
  <div class="old-release">
    {{#each all_other_releases}}
    <div class="go-release {{display_version}}">
      <span class="version">{{display_version}}</span>
      {{#with (lookup . ../installer_type)}}
      <div class="files">
        {{> show-file server type="server" os=../../installer_type}}
        {{> show-file agent type="agent" os=../../installer_type}}
      </div>
      {{/with}}
    </div>
    {{/each}}
  </div>
</div>
{{/inline}}
{{#*inline "show-tab-header"}}
<li rel="{{{tab_id}}}">
  <span class="os-logo"><img src="{{{image}}}" alt="{{{desc}}}" /></span>
  <span class="desc">{{{desc}}}</span>
</li>
{{/inline}}
{{#*inline "show-file"}}
<div class="{{{type}}} file">
  <div class="name">
    <a href="{{{url}}}" class="btn btn-primary"><i class="fa fa-download" analytics-label="download-{{{type}}}-{{{os}}}"></i> </a>
  </div>
  <div class="verify-checksum" data-filename="{{{filename}}}" data-sha256sum="{{{sha256sum}}}" data-sha1sum="{{{sha1sum}}}" data-md5sum="{{{md5sum}}}">
    <button class="verify" analytics-label="verify-checksum">Verify checksum</button>
  </div>
</div>
{{/inline}}
<div class="download-area">
  <div class="container">
    <h2 class="sub-title">Choose your OS &amp; download</h2>
    <p class="info">Latest supported release (<span id="latest-version">{{latest_version}}</span>) <a href="../releases/#latest" class="btn btn-dark">See what's new</a> </p>
    <ul class="tabs os">
      {{> show-tab-header tab_id="tab1" image="<%= image_path "download/windows.png" %>" desc="Windows"}}
      {{> show-tab-header tab_id="tab2" image="<%= image_path "download/osx.png" %>" desc="OSX"}}
      {{> show-tab-header tab_id="tab3" image="<%= image_path "download/debian.png" %>" desc="Debian"}}
      {{> show-tab-header tab_id="tab4" image="<%= image_path "download/redhat.png" %>" desc="RPM"}}
      {{> show-tab-header tab_id="tab5" image="<%= image_path "download/solaris.png" %>" desc="Solaris"}}
      {{> show-tab-header tab_id="tab6" image="<%= image_path "download/package.png" %>" desc="Package"}}
    </ul>
  </div>
</div>
<div class="os-tab-content">
  <div class="container">
    <div class="tab_container">
      <h3 class="tab-accordion_heading" rel="tab1">Windows</h3>
      {{> show-releases-for-installer-type installer_type="win"     heading="Windows" tab_id="tab1"}}
      <h3 class="tab-accordion_heading" rel="tab2">OSX</h3>
      {{> show-releases-for-installer-type installer_type="osx"     heading="OSX"     tab_id="tab2"}}
      <h3 class="tab-accordion_heading" rel="tab3">Debian</h3>
      {{> show-releases-for-installer-type installer_type="deb"     heading="Debian"  tab_id="tab3"}}
      <h3 class="tab-accordion_heading" rel="tab4">RPM</h3>
      {{> show-releases-for-installer-type installer_type="rpm"     heading="RPM"     tab_id="tab4"}}
      <h3 class="tab-accordion_heading" rel="tab5">Solaris</h3>
      {{> show-releases-for-installer-type installer_type="solaris" heading="Solaris" tab_id="tab5"}}
      <h3 class="tab-accordion_heading" rel="tab6">Package</h3>
      {{> show-releases-for-installer-type installer_type="generic" heading="Package" tab_id="tab6"}}
    </div>
  </div>
  <div id="verify-checksum-message"></div>
</div>
</script>
</main>
<script>
// <![CDATA[
jQuery(document).ready(function($) {
var isExperimental = R.any(R.equals('experimental=true'), window.location.search.substr(1).split('&'));
showDownloadLinks({typeOfInstallersToShow: isExperimental ? "experimental" : "stable"}).then(function() { startTabContainer($); });
setupShowVerifyChecksumMessage();
});
// ]]>
</script>
