<div class="enterprise-page">

<%= partial 'partials/secondarynav' %>

  <div class="enterprise-banner">
    <div class="container">
      <div class="enterprise-banner-content">
        <h1>CONTINUOUS DELIVERY SCALED FOR <span class="break"> YOUR <strong class="highlight">ENTERPRISE</strong></span></h1>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="enterprise-intro">
      <h1>Enterprise Add-ons and Professional Support </h1>

      <p>
        Get the power of GoCD’s continuous delivery pipelines for your enterprise. Whether you are working in the cloud or on-prem, GoCD’s enterprise add-ons and professional support enable you to take advantage of GoCD in your enterprise IT environment.
      </p>
      </div>
</div>


  <section class="features">
    <div class="container">
      <div class="features-wrap">
        <div class="feature-card">
            <h3  class="feature-card-title">Fits Into Your Ecosystem</h3>
            <%= image_tag "campaign/enterprise/business.svg", {:title => "Fits Into Your Ecosystem", :alt => "Ecosystem illustration", :class => 'feature-card_img'} %>
            <p class="feature-card_txt">GoCD provides integrations that fit into your enterprise IT ecosystem. Use GoCD with your existing SCM, authorization system and cloud infrastructure.</p>
        </div>

        <div class="feature-card">
            <h3 class="feature-card-title">Continuous Delivery at scale</h3>
            <%= image_tag "campaign/enterprise/postgres.svg", {:title => "Continuous Delivery at Scale", :alt => "CD illustration", :class => 'feature-card_img'} %>
            <p class="feature-card_txt">GoCD enterprise plugins help you scale across large number of teams, agents, and pipelines.</p>
        </div>

        <div class="feature-card">

            <h3 class="feature-card-title">Professional Support</h3>

            <%= image_tag "campaign/enterprise/support.svg", {:title => "Professional Support", :alt => "Chat illustration", :class => 'feature-card_img'} %>
            <p class="feature-card_txt">Get access to both our Support team and GoCD's development team via unlimited tickets per month. Get notifications for all bug fixes, security patches, and upgrades.</p>
        </div>
      </div>

      <div class="feature-cta">
        <%= link_to 'Sign up for support trial', '/enterprise/support/index.html#signup-form', class: 'button-brand'  %>
        <%= link_to 'Contact Us', '/enterprise/contact/index.html', class: 'button-brand btn-light' %>
      </div>
      <hr/>
    </div>
  </section>

  <section class="container enterprise-customers">
    <h1 class="text-center">Our Customers </h1>
    <div class="flex-container">
      <div class="flex-item">
        <img class="img-container" src="/assets/images/customer-logos/bt.jpg" alt="BT Financial"/>
      </div>
      <div class="flex-item">
        <img class="img-container" src="/assets/images/customer-logos/ancestry.jpg" alt="Ancestry.com"/>
      </div>
      <div class="flex-item">
        <img class="img-container" src="/assets/images/customer-logos/medidata.jpg" alt="Medidata"/>
      </div>
      <div class="flex-item">
        <img class="img-container" src="/assets/images/customer-logos/autotrader.jpg" alt="Autotrader"/>
      </div>
      <div class="flex-item">
        <img class="img-container" src="/assets/images/customer-logos/haufe.jpg" alt="Haufe"/>
      </div>
      <div class="flex-item">
        <img class="img-container" src="/assets/images/customer-logos/hoovers.jpg" alt="Hoovers"/>
      </div>
      <div class="flex-item">
        <img class="img-container" src="/assets/images/customer-logos/barclaycard.jpg" alt="Barclaycard"/>
      </div>
    </div>
  </section>

  <div class="page-bottom-margin"></div>
</div>
