---
title: GoCD Events
title_tag_of_header: "Events, Webinars, and Demos | GoCD"
meta_description: "Attend GoCD's upcoming events, demos, webinars and learning sessions to help you get a view of the capabilities of our continuous delivery tool."
meta_keywords: "GoCD, continuous delivery, open source, community, events, learning sessions, webinars, product demos"
---
<div class="inner-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Webinars and Demos</span></h1>
    </div>
  </div>
</div>

<main>
  <div class="demos">
    <h3>Product Learning Sessions</h3>
    <div class="intro-paragraph">
      <p>
        The learning sessions are designed to help you get an overall view of the capabilities of GoCD and answer questions around how to configure your GoCD instance. Each session is one hour and includes a product overview, demo, and Q&amp;A session.
      </p>
    </div>
    <div class="demos-list-container">
      <ul class="demos-list">
        <% data.webinars.each do |webinar| %>
        <li class="demos-item">
          <div class="datebox">
            <span class="month"><%= webinar.month %> <%= webinar.day %></span>
            <span class="time"><%= webinar.time %></span>
            <% if webinar.location %><span class="location"><%= webinar.location %></span><% end %>
            <a href="<%= webinar.url %>" class="demo-button">Register</a>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="events-section">
    <h3>Events and Webinars</h3>

    <div class="events-list-container">

      <ul class="events-list">
        <% data.events.each_with_index do |event, index| %>

        <li class="event-item">

          <div class="event-card">

            <div class="event-header-container">
              <div class="event-title-container">
                <span class="event-title"><%= event.title %></span>
              </div>
              <a href="<%= event.url %>" class="event-button">Register</a>
            </div>

            <div class="event-description-container">
              <p><%= event.description %></p>
            </div>

            <ul class="event-details">
              <% event.details.each do |detail| %>
              <li>
                <div class="event-date">
                  <span class="fa fa-calendar"></span>
                  <%= detail.date %>
                </div>
                <% if detail.location %>
                <div class="event-location">
                  <span class="fa fa-map-marker"></span>
                  <%= detail.location %>
                </div>
                <% end %>
              </li>
              <% end %>
            </ul>

          </div>
        </li>
        <% end %>
      </ul>
    </div>

  </div>
</main>
