---
title: GoCD Events
---

<div class="inner-banner plugins">
  <div class="container">
    <h1 class="caption"><span>Events</span></h1>
  </div>
</div>

<main>
  <div class="container">
    <h3 class="page-headings">Upcoming Events</h3>
      <ul class="event-list">
        <% data.events.each do |event| %>
        <li>
          <div class="box">
            <div class="datebox">
              <span class="month"><%= event.month %></span>
              <span class="date"><%= event.day %></span>
            </div>
          </div>
          <div class="details">
            <a href="<%= event.url %>" class="title"><%= event.title %></a>
            <span class="time"><%= event.date %></span>
            <p><%= event.description %></p>
          </div>
        </li>
        <% end %>
      </ul>
  </div>
</main>
