---
title: GoCD Events
title_tag_of_header: "Community - Events, Webinars and Learning Sessions | GoCD"
meta_description: "GoCD is open source continuous delivery software. Attend any of our upcoming events and learning sessions to help you get a view of the capabilities of GoCD"
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, contribute, resources, community, events, learning sessions, webinars"
---
<div class="inner-banner plugins">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Events</span></h1>
    </div>
  </div>
</div>
<main>
<div class="demos">
  <div class="container">
    <h3>Webinars and Demos</h3>
    <ul class="demo-list">
      <% data.webinars.each do |webinar| %>
      <li>
        <a href="<%= webinar.url %>" title="<%= webinar.date %>">
          <div class="box swing">
            <div class="datebox hover">
              <span class="month"><%= webinar.month %></span>
              <span class="date"><%= webinar.day %></span>
            </div>
          </div>
        </a>
        <div class="details">
          <span class="time"><%= webinar.date %></span>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="event">
  <div class="container">
    <h3 class="page-headings">Events</h3>
    <p>
      <a href="https://snap-ci.com/">Snap CI</a> and GoCD are partnering in 2016 for several events to represent
      Continuous Delivery tools and practices.
    </p>
    <ul class="events-list">
      <% data.events.each do |event| %>
      <li>
        <div class="details">
          <a href="<%= event.url %>" class="title"><%= event.title %></a>
          <p><%= event.description %></p>
          <ul class="dates">
            <% event.details.each do |detail| %>
            <li>
              <div class="date"><i class="fa fa-calendar"></i> <%= detail.date %></div>
              <div class="location"><i class="fa fa-map-marker"></i> <%= detail.location %></div>
            </li>
            <% end %>
          </ul>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="workshop">
  <div class="container">
    <h3 class="page-headings">Workshops and Presentations</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam maximus pulvinar libero blandit dapibus.
    </p>
    <ul class="workshops-list">
      <% data.workshops_presentations.each do |workshop| %>
      <li>
        <div class="details">
          <a href="<%= workshop.url %>" class="title"><%= workshop.title %></a>
          <div>
            <div class='workshop-topic'>
              <i class="fa fa-list-alt" aria-hidden="true"></i> <%= workshop.topic %>
            </div>
            <div class='workshop-presenter'>
              <i class="fa fa-user" aria-hidden="true"></i> <%= workshop.speaker %>
            </div>
          </div>
          <ul class="dates">
            <% workshop.details.each do |detail| %>
            <li>
              <div class="date"><i class="fa fa-calendar"></i> <%= detail.date %></div>
              <div class="location"><i class="fa fa-map-marker"></i> <%= detail.location %></div>
            </li>
            <% end %>
          </ul>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
</main>
