---
title: GoCD features
---
<div class="inner-banner plugins">
	<div class="container">
		<h1 class="caption"><span>Why GoCD?</span></h1>
		
	</div>
	
</div>
<main>
<div class="container">
	<div class="go-features">
		<div class="row">
			<div class="col-sm-4">
				<figure>
					<%= image_tag "go.cd_Model-complex-workflows.png" %>
				</figure>
			</div>
			<div class="col-sm-8">
				<h4 class="features__title"> Model complex workflows</h4>
				<p>With its parallel and sequential execution, GoCD can easily configure dependencies for fast feedback and on-demand deployment. Its fan-in/fan-out dependency management always does the "right thing," avoiding spurious builds.
				</p>
			</div>
			<hr/>
		</div>
		<div class="row">
			<div class="col-sm-push-8 col-sm-4">
				<figure>
					<%= image_tag "go.cd_promoted-trusted-artifacts.png" %>
				</figure>
			</div>
			<div class="col-sm-pull-4 col-sm-8">
				<h4 class="features__title">Promote trusted artifacts</h4>
				<p>Every pipeline instance is anchored to a particular changeset. GoCD makes it easy to pass once-built binaries between stages so you know exactly what's being deployed and that the binary has been tested.
</p>
			</div>
			<hr/>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<figure>
					<%= image_tag "go.cd_See-how-things-really-work.png" %>
				</figure>
			</div>
			<div class="col-sm-8">
				<h4 class="features__title">See how your workflow really works
</h4>
				<p>GoCD's real power is in the visibility it provides over your end-to-end workflow. GoCD's Value Stream Map lets you track a change from commit to deploy at a glance. And when things go wrong, it's easy to see both the upstream cause and the downstream effects.</p>
			</div>
			<hr/>
		</div>
		<div class="row">
			<div class=" col-sm-push-8 col-sm-4">
				<figure>
					<%= image_tag "go.cd_Deploy-any-version-anytime.png" %>
				</figure>
			</div>
			<div class="col-sm-pull-4 col-sm-8">
				<h4 class="features__title">Deploy any version, any time</h4>
				<p>GoCD's manual triggers allow you to deploy any known good version of your application to wherever you like. This increases reliability of pushing to production, and empowers QA teams with self-service environments. And, if necessary, it's securable and auditable.
</p>
			</div>
			<hr/>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<figure>
					<%= image_tag "go.cd_run-and-grok-your-tests.png" %>
				</figure>
			</div>
			<div class="col-sm-8">
				<h4 class="features__title">Run and grok your tests</h4>
				<p>Verification is a key piece of any deployment pipeline. GoCD will execute tests written in most languages or frameworks. GoCD's agent grid provides parallel and cross-platform execution. GoCD's test reporting will tell you in exactly which changeset and on which platform a test started breaking, which comes in extremely handy when fixing a complex broken build.
</p>
			</div>
			<hr/>
		</div>
		<div class="row">
			<div class="col-sm-push-8 col-sm-4">
				<figure>
					<%= image_tag "go.cd_Compare-Builds.png" %>
				</figure>
			</div>
			<div class="col-sm-pull-4 col-sm-8">
				<h4 class="features__title">Compare builds</h4>
				<p>GoCD's compare builds feature can provide a simple bill of materials for any deployment. Perhaps more powerful is its ability to compare the content - both files and commit messages - across any two arbitrary builds. This is invaluable when troubleshooting a broken pipeline.</p>
			</div>
			<hr/>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<figure>
					<%= image_tag "go.cd_elliminates-bottlenecks.png" %>
				</figure>
			</div>
			<div class="col-sm-8">
				<h4 class="features__title">Eliminate bottlenecks</h4>
				<p>GoCD's agent grid eliminates bottlenecks, providing trivial parallel execution across pipelines, platforms, versions, branches, etc.</p>
			</div>
			<hr/>
		</div>
		<div class="row">
			
			<div class="col-sm-push-8 col-sm-4">
				<figure>
					<%= image_tag "go.cd_keep-configuration-tidy.png" %>
				</figure>
			</div>
			<div class="col-sm-pull-4 col-sm-8">
				<h4 class="features__title">Keep configuration tidy</h4>
				<p>Easily reuse pipeline configurations via GoCD's template system. This makes managing pipelines for versions and branches easy as pie.
</p>
			</div>
			<hr/>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<figure>
					<%= image_tag "go.cd_trust-your-team.png" %>
				</figure>
			</div>
			<div class="col-sm-8">
				.
				<h4 class="features__title">Trust your team; be responsible</h4>
				<p>While most enterprise applications go overboard with their permission model, GoCD seeks to provide just enough. In particular, GoCD supports auditable deployment and can delegate the configuration of pipelines to users without full-blown admin privileges.
</p>
			</div>
		</div>
	</div>
</div>
</div>
</main>
