---
layout: layout
title: Help
title_tag_of_header: "Getting Started Guide | GoCD"
meta_description: "Learn to build your first pipeline, submit a support ticket with our team or contribute to the open source GoCD community."
meta_keywords: "GoCD, continuous delivery, continuous integration, software, open source, help, support, resources, release automation, continuous delployment, deployment pipeline, enterprise support"
---
<div class="inner-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Get Help</span></h1>
    </div>
  </div>
</div>

<div class="get-start">
  <div class="container help-row">
    <h2 class="sub-title">Getting Help with <span class="go">Go</span>CD</h2>
    <div class="cta">
      <a href="<%= url_for '/getting-started/part-1/index.html' %>" class="cta_pipeline">
        <h3>Introduction to <span class="go">GoCD</span> Guide</h3>
        <div class="graphics">
          <%= image_tag "./help/intro.svg", {:alt => "Setup your first Pipeline"} %>
        </div>
        <p>Quickly build your first pipeline while learning key <span class="go">Go</span>CD concepts.</p>
      </a>
      <a href="https://docs.gocd.org/current/" class="padded cta_installation">
        <h3><span class="go">GoCD</span> Documentation</h3>
        <div class="graphics">
          <%= image_tag "./help/docs.svg", {:alt => "GoCD Concepts Guide"} %>
        </div>
        <p>Information on how to set up, use, and administer <span class="go">GoCD</span> can be found here.</p>
      </a>
    </div>
  </div>
</div>

<div class="gocd-community">
  <div class="container help-row">
    <h2 class="sub-title">Get Involved with the <span class="go">Go</span>CD Community</h2>
    <p class="desc">
    A huge part of <span class="go">Go</span>CD's success as an OSS product has been the support of a very active
    community. We encourage you to join in the discussions to both learn and contribute.
    </p>
    <div class="cta">
      <a href="https://groups.google.com/forum/#!forum/go-cd" class="padded cta_user-group">
      <h3><span class="go">Go</span>CD User Group</h3>
        <div class="graphics">
          <%= image_tag "./help/community.svg", {:alt => "User Group"} %>
        </div>
        <p>Join the ongoing <span class="go">Go</span>CD community chat
        </p>
      </a>
      <a href="https://github.com/gocd/gocd" class="padded cta_github">
        <h3><span class="go">Go</span>CD on GitHub</h3>
        <div class="graphics">
          <%= image_tag "go.cd_gocd-on-github.svg", {:alt => "Github Repo"} %>
        </div>
        <p>Review open bugs or log a new one</p>
      </a>
    </div>
  </div>
</div>
