---
layout: layout
title: Help
title_tag_of_header: "Help - GoCD Resources | GoCD"
meta_description: "GoCD - open source continuous delivery software. Learn to build your first pipeline, submit a support ticket with our team or contribute to the open source community."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, help, support, resources, release automation, continuous delployment, deployment pipeline, Go"
---
<div class="inner-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Getting Started</span></h1>
    </div>
  </div>
</div>
<div class="get-start">
  <div class="container">
    <div class="numbering">
      <span>1</span>
    </div>
    <h2 class="sub-title">Get Started with <span class="go">Go</span>CD</h2>
    <div class="cta">
      <a href="<%= url_for '/getting-started/part-1/index.html' %>" class="cta_pipeline">
        <h3>Setup Your First Pipeline</h3>
        <div class="graphics">
          <%= image_tag "go.cd_setup-your-first-pipeline.svg", {:alt => ""} %>
        </div>
        <p>Quickly build your first pipeline while learning key <span class="go">Go</span>CD concepts.</p>
      </a>
      <a href="https://docs.go.cd/current/installation/" class="padded cta_installation">
        <h3>Installation</h3>
        <div class="graphics">
          <%= image_tag "go.cd_installation.svg", {:alt => ""} %>
        </div>
        <p>Start here if you need to install <span class="go">Go</span>CD
      </p>
    </a>
  </div>
</div>
</div>
<div class="get-support">
<div class="container">
  <div class="numbering">
    <span>2</span>
  </div>
  <h2 class="sub-title">Try ThoughtWorks Support Offering</h2>
  <p class="desc">ThoughtWorks offers commercial support for <span class="go">Go</span>CD. Here are some great things you will get when you sign up</p>
  <div class="points">
    <ul class="left">
      <li>Full-time support team</li>
      <li>Unlimited support cases</li>
      <li>Access to ThoughtWorks core contributors to <span class="go">Go</span>CD</li>
    </ul>
    <ul class="right">
      <li>Enterprise add-ons</li>
      <li>Notifications of releases, bug fixes and security updates</li>
      <li>The TW team can help when nobody else can</li>
    </ul>
  </div>
  <div class="subsection">
    <h3>Still not sure what support will offer you?</h3>
    <p>Submit a ticket right now and get support from the creators of <span class="go">Go</span>CD</p>
  </div>
  <div class="actions">
    <button class="btn-cta help_cta"> Submit a ticket</button>
    <a href="https://www.thoughtworks.com/go">Learn more about support</a>
  </div>
</div>
</div>
<div class="signup">
<div class="container_12">
  <span class="close">X</span>
  <div id="signup_header">
    <h3>Submit a ticket</h3>
    <p>Tell us about a problem you are having and our support specialists will contact you soon</p>
  </div>
  <div id="support_form">
    <div class="form">
      <input type="text" name="support_user_name" id="support_user_name" placeholder="Name" />
      <br />
      <input type="text" name="support_email_address" id="support_email_address" placeholder="Email address" />
      <br />
      <textarea name="support_query" id="support_query" placeholder="What can we help you with?"></textarea>
      <br />
      <button id="support_form_submit">Submit</button>
    </div>
  </div>
  <div class="hide-by-default" id="support_form_submit_success">
    <p>Success! Someone will contact you soon.</p>
  </div>
  <div class="hide-by-default" id="support_form_submit_failure">
    <p>Oops. Something went wrong. :( Please send an email
    to </p>
    <a href="mailto:support@thoughtworks.com">support@thoughtworks.com</a>
  </div>
</div>
</div>
<div class="gocd-community">
<div class="container">
  <div class=" numbering">
    <span>3</span>
  </div>
  <h2 class="sub-title">Get Involved with the <span class="go">Go</span>CD Community</h2>
  <p class="desc">
    A huge part of <span class="go">Go</span>CD’s success as an OSS product has been the support of a very active
    community. We encourage you to join in the discussions to both learn and contribute.
  </p>
  <div class="cta">
    <a href="https://groups.google.com/forum/#!forum/go-cd" class="padded cta_user-group">
      <h3><span class="go">Go</span>CD User Group</h3>
      <div class="graphics">
        <%= image_tag "go.cd_user-group.svg", {:alt => ""} %>
      </div>
      <p>Join the ongoing <span class="go">Go</span>CD community chatter</p>
    </a>
    <a href="https://github.com/gocd/gocd" class="padded cta_github">
      <h3><span class="go">Go</span>CD on GitHub</h3>
      <div class="graphics">
        <%= image_tag "go.cd_gocd-on-github.svg", {:alt => ""} %>
      </div>
      <p>Review open bugs or log a new one</p>
    </a>
  </div>
  <div class="foo-links">
    <h5>More community resources</h5>
    <div class="row">
      <nav class="footer-links">
        <ul>
          <li>
            <a href="https://docs.go.cd/current/" target="_blank">
              <figure>
                <%= image_tag "go.cd_user-documentation.svg", :alt => "Complete User Docs" %>
              </figure>
              <span> Complete User Docs</span>
            </a> </li>
            <li>
              <a href="https://api.go.cd/current/" target="_blank">
                <figure>
                  <%= image_tag "go.cd_dev-documentation.svg", :alt => "API Docs" %>
                </figure>
                <span>API Docs</span>
              </a>
            </li>
            <li>
              <a href="https://groups.google.com/forum/#!forum/go-cd-dev" target="_blank">
                <figure>
                  <%= image_tag "go.cd_mailing-list.svg", :alt => "Contributors' mailing list" %>
                </figure>
                <span>Contributors' mailing list</span>
              </a>
            </li>
            <li>
              <a href="https://gitter.im/gocd/gocd" target="_blank">
                <figure>
                  <%= image_tag "go.cd_gitter.svg", :alt => "Gitter Channel" %>
                </figure>
                <span>Gitter channel (contributors)</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
