---
title: GoCD - Continuous Delivery
---
<div class="banner">
	<div class="banner-content">
		<h1 class="caption">Ready. Set... <i>Deliver!</i>
		</h1>
		<p class="subcaption">
			<span>Open source continuous delivery server </span>
			<span>specializing in advanced workflow modeling and visualization.</span>
		</p>
		<a href="#" class="btn btn-download">Download</a>
	</div>
</div>
<div class="main-features">
	<!-- <div class="get-support">
					<a href="#"> <span>Get</span>support?</a>
	</div> -->
	
	<p class="bigtxt">Automate and streamline your build-test-release cycle for reliable, continuous delivery of your product.
	</p>
	
	<div class="container">
		<div class="row features">
			
			<div class=" col-sm-12 col-md-4">
				<div class="feature-box">
					<figure>
						<%= image_tag "go.cd_Model-complex-workflows.png" %>
					</figure>
					<h3>Model complex workflows</h3>
					
					<p>With its parallel and sequential execution, GoCD can easily configure dependencies for fast feedback and on-demand deployment. Its fan-in/fan-out dependency management always does the "right thing," avoiding spurious builds.
					</p>
					
				</div>
			</div>
			<div class=" col-sm-12 col-md-4">
				<div class="feature-box">
					<figure>
						<%= image_tag "go.cd_Compare-Builds.png" %>
					</figure>
					<h3>Easily compare builds</h3>
					<p> GoCD's ability to compare content - both files and commit messages - across any two arbitrary builds, makes it invaluable when troubleshooting a broken pipeline.
					</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="feature-box">
					<figure>
						<%= image_tag "go.cd_See-how-things-really-work.png" %>
					</figure>
					<h3>Clearly visualize your workflow</h3>
					<p>GoCD's Value Stream Map visualizes your end-to-end workflow in real time. Every change can be tracked from commit to deploy and back again.
					</p>
					
				</div>
			</div>
		</div>
		<%= link_to 'See more GoCD features', '/why-go.html', :class => 'btn btn-default see-all-features' %>
	</div>
</div>
<div class="plugins-community">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row plugins-cont">
					<div class="col-xs-3 col-sm-3 col-md-3">
						<figure>
							<%= image_tag "go.cd_plugins.png" %>
						</figure>
					</div>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<h3>Plugins</h3>
						<p>
							GoCD has extension points for which plugins can be created. There are
							<%= link_to 'numerous plugins', '/plugins.html' %> already available, or if you don’t see
							what you need, you can <%= link_to 'write your own', 'https://developer.go.cd/current/writing_go_plugins/go_plugins_basics.html' %>.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row community-cont">
					<div class=" col-xs-3 col-sm-3 col-md-3">
						<figure>
							<%= image_tag "go.cd_community.png" %>
						</figure>
					</div>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<h3>Community</h3>
						<p>GoCD's community is 1000 members strong and is growing. Through our active forum, users and contributors openly discuss a wide range of topics including product how-tos and share best practices. To join in the conversation visit <a href="#">our google group.
						</a></p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="testimonials">
	
	<div class="container">
		
	</div>
</div>
<div class="support">
	<div class="container">
		<div class="go-support">
			<p><span class="go">Go</span>CD is a critical piece of your infrastructure. We get that. We are committed to providing world-class support for <span class="go">Go</span>CD users.</p>
			<a href="#" >Get Support</a>
		</div>
	</div>
</div>