---
title: Welcome to Middleman
---
<div class="banner">
	<h1 class="caption"><span>Continuous Delivery</span></h1>
	<span class="subcaption">Performance. Support. Reliability</span>
	<a href="#" class="btn btn-download">Download</a>
</div>
<div class="main-features">
	<!-- <div class="get-support">
				<a href="#"> <span>Get</span>support?</a>
	</div> -->
	
	<p class="bigtxt"> Automate and streamline the build-test-release cycle for worry-free, continuous delivery of your product.</p>
	
	<div class="container">
		<div class="row features">
			
			<div class=" col-sm-12 col-md-3">
				<div class="feature-box">
					<figure>
						<%= image_tag "go.cd_Model-complex-workflows.png" %>
					</figure>
					<h3>Model complex workflows</h3>
					
					<p>With its parallel and sequential execution, GoCD can easily configure dependencies for fast feedback and on-demand deployment. Its fan-in/fan-out dependency management always does the "right thing," avoiding spurious builds.
					</p>
					
				</div>
			</div>
			<div class=" col-sm-12 col-md-3">
				<div class="feature-box">
					<figure>
						<%= image_tag "go.cd_Compare-Builds.png" %>
					</figure>
					<h3>Compare Builds</h3>
					<p> With its ability to compare the content - both files and commit messages - across any two arbitary builds, makes it invaluable when troubleshooting a broken pipeline.
					</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="feature-box">
					<figure>
						<%= image_tag "go.cd_See-how-things-really-work.png" %>
					</figure>
					<h3>See how things really work</h3>
					<p> GoCD’s expertise is in its Value Stream Map which visualizes your end-to-end workflow in real time. Every change can be tracked from commit to deploy and back again.
					</p>
					
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="feature-box">
					<figure>
						<%= image_tag "go.cd_Deploy-any-version-anytime.png" %>
						
					</figure>
					<h3>Deploy any version, any time</h3>
					<p>Manual triggers which allow you to deploy the right versions of your application wherever you like. This empowers teams with self-service environments increasing their reliability of pushing to production.
					</p>
					
				</div>
			</div>
		</div>
		<a href="#" class="btn see-all-features">See all go features</a>
		
	</div>
</div>
<div class="plugins-community">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row plugins-cont">
					<div class="col-xs-3 col-sm-3 col-md-3">
						<figure>
							<%= image_tag "go.cd_plugins.png" %>
						</figure>
					</div>
					<div class="col-xs-9 col-sm-9 col-md-9">
						<h3>Plugins</h3>
						<p>Go publishes a list of extension points for which plugins can be provided. An extension point defines the interface and the lifecycle that governs the respective plugin. At present only java based extension points and plugins are supported by Go. Details about available extension points and their lifecycle can be obtained from plugins documentation along with the Go plugin API reference. </p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row community-cont">
					<div class=" col-xs-3 col-sm-3 col-md-3">
						<figure>
							<%= image_tag "go.cd_community.png" %>
						</figure>
					</div>
					<div class="col-xs-9 col-sm-9 col-md-9">
					<h3>Community</h3>
				<p>GoCD operates in an active forum where users and contributors openly discuss various topics related to the product and share best practises.  We are proud to say that today we are 1000 member group and growing. To participate in the discussions join the google groups <a href="#">here</a></p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<span class="toggle multi"></span>