---
title: GoCD - Continuous Delivery
title_tag_of_header: "Open Source Continuous Delivery and Release Automation Server | GoCD"
meta_description: "GoCD is an open source build and release tool from ThoughtWorks. GoCD supports modern infrastructure and helps enterprise businesses get software delivered faster, safer, and more reliably."
meta_keywords: "continuous delivery, continuous integration, continuous integration software, open source ci, automation server, software deployment, pipelines as code, kubernetes, ci cd server, open source ci cd, continuous deployment, ci server, CI/CD"
---
<div class="banner" data-aos="fade-up"
     data-aos-duration="1000">
  <div class="container">
    <div class="row caption">
      <div class="col-xs-12">
        <h1>free &amp; open source ci/cd server</h1>
      </div>
    </div>
    <div class="row subcaption">
      <div class="col-lg-7">
        <%= image_tag "home/ui_illo.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map", :class => 'ui-illo'} %>
      </div>
      <div class="col-lg-5">
        <p>Easily model and visualize complex workflows with GoCD.</p>
        <%= link_to 'test drive gocd', "/test-drive-gocd/index.html", {:class => "btn btn-download", "analytics-label" => "home-download-cta"} %>
      </div>
    </div>
  </div>
</div>

<% link_to '/ebook-cd-analytics.html', {class: "promo-banner", "data-aos": "fade-up",
     "data-aos-duration": "1000"} do %>
  Get a free copy of Accelerate book by providing feedback on GoCD Analytics. <span>Click this banner to learn more.</span>
<% end %>

<section class="features-section" data-aos="fade-up"
     data-aos-duration="1000">
  <div class="container">
    <div class="two-row-col">
      <div class="two-row-col_item" data-aos="fade-up"
     data-aos-duration="1000">
        <h1 class="item-heading">End to End Visualization</h1>
        <figure class="img-feature img-mobile">
          <%= image_tag "home/end-to-end.svg", {:title => "End to End Visualization", :alt => "End to End Visualization"} %>
        </figure>
        <p class="item-description">GoCD’s value stream map shows your entire path to production in a single view. Easily navigate across jobs, spot inefficiencies, and optimize your process.
        <br /> No plugin required, out of box CD. </p>
      </div>
      <div class="two-row-col_item" data-aos="fade-up"
     data-aos-duration="1000">
        <figure class="img-feature img-desktop-tablet">
          <%= image_tag "home/end-to-end.svg", {:title => "End to End Visualisation", :alt => "End to End Visualisation"} %>
        </figure>
      </div>
    </div>

    <div class="two-row-col mob-order-reverse_item" data-aos="fade-up"
     data-aos-duration="1000">
      <div class="two-row-col_item">
        <figure class="img-feature img-desktop-tablet cloud-native-img">
          <%= image_tag "home/cloud-native.svg", {:title => "Cloud Native", :alt => "Cloud Native"} %>
        </figure>
      </div>

      <div class="two-row-col_item" data-aos="fade-up"
     data-aos-duration="1000">
        <h1 class="item-heading">Cloud Native Deployments</h1>
        <figure class="img-feature img-mobile">
          <%= image_tag "home/cloud-native.svg", {:title => "Cloud Native", :alt => "Cloud Native"} %>
        </figure>
        <p class="item-description">GoCD streamlines your CD workflow on popular cloud environments such as <a href="https://www.gocd.org/kubernetes/">Kubernetes</a>, Docker, AWS and more. </p>
      </div>
    </div>

    <div class="two-row-col" >
      <div class="two-row-col_item" data-aos="fade-up"
     data-aos-duration="1000">
        <h1 class="item-heading">Complex Workflow Modeling</h1>
        <figure class="img-feature img-mobile">
          <%= image_tag "home/complex-workflow.svg", {:title => "Complex Workflow Modeling", :alt => "Complex Workflow Modeling"} %>
        </figure>
        <p class="item-description">GoCD excels at modeling complex CD workflows for fast feedback with its modeling constructs, parallel execution and dependency management.
        <br /> No plugin required, out of box CD. </p>
      </div>

      <div class="two-row-col_item" data-aos="fade-up"
     data-aos-duration="1000">
        <figure class="img-feature img-desktop-tablet">
          <%= image_tag "home/complex-workflow.svg", {:title => "Complex Workflow Modeling", :alt => "Complex Workflow Modeling"} %>
        </figure>
      </div>
    </div>

    <div class="two-row-col mob-order-reverse_item" data-aos="fade-up"
     data-aos-duration="1000">
      <div class="two-row-col_item">
        <figure class="img-feature img-desktop-tablet">
          <%= image_tag "home/traceability.svg", {:title => "Advanced Traceability", :alt => "Advanced Traceability"} %>
        </figure>
      </div>

      <div class="two-row-col_item" data-aos="fade-up"
     data-aos-duration="1000">
        <h1 class="item-heading">Advanced Traceability</h1>
        <figure class="img-feature img-mobile">
          <%= image_tag "home/traceability.svg", {:title => "Advanced Traceability", :alt => "Advanced Traceability"} %>
        </figure>
        <p class="item-description">GoCD helps you troubleshoot a broken pipeline by tracking every change from commit to deploy in real time. Compare content - both files and commit messages - across any two arbitrary builds.
        <br /> No plugin required, out of box CD.</p>
      </div>
    </div>
  </div>
</section>

<section class="learn-more-section" data-aos="fade-up"
     data-aos-duration="1000">
  <div class="container">
    <div class="centered-content-container">
      <h2 class="centered-content_header centered-content_header_light"> GoCD for Enterprise</h2>
      <p class="centered-content_text centered-content_text_light"> GoCD provides enterprise plugins and professional support to bring the power of its continuous delivery pipelines to your enterprise IT environment.</p>

      <%= link_to 'LEARN MORE', '/enterprise/index.html', class: 'centered-content_link' %>
    </div>
  </div>
</section>

<section class="plugins-community-section" data-aos="fade-up"
     data-aos-duration="1000">
  <div class="container">
    <div class="two-row-col">
      <div class="two-row-col_item" data-aos="fade-up"
     data-aos-duration="1000">
        <figure class="img-icon img-desktop">
          <%= image_tag "icons/go.cd_plugins.svg", {:title => "GoCD open source plugins", :alt => "GoCD open source plugins"} %>
        </figure>

        <div class="content">
          <h3 class="content_header"> Plugins</h3>
          <p class="content_description">
            GoCD integrates with many popular external tools and services via its extensible plugin architecture. We have put a lot of thought into making sure GoCD upgrades are painless and non-breaking even when you are using plugins.
            There are numerous <a href="https://www.gocd.org/plugins/">high-quality, curated plugins</a> currently available. Something you don’t see? GoCD’s <a href="https://developer.gocd.org/current/writing_go_plugins/go_plugins_basics.html ">plugin API</a> makes it easy to write your own.
          </p>
        </div>
      </div>

      <div class="two-row-col_item" data-aos="fade-up"
     data-aos-duration="1000">
        <figure class="img-icon img-desktop">
          <%= image_tag "icons/go.cd_community.svg", {:title => "GoCD open source community", :alt => "GoCD open source community"}  %>
        </figure>

        <div  class="content">
          <h3 class="content_header">Community</h3>
          <p class="content_description">
            Through our active forum, users and contributors share best practices and openly discuss a wide range of topics including GoCD and continuous delivery how-tos. To join in the conversation visit our<a href="https://groups.google.com/forum/#!forum/go-cd"> Google group.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
