---
title: GoCD - Continuous Delivery
title_tag_of_header: "Open Source Continuous Delivery and Automation Server | GoCD"
meta_description: "GoCD is an open source continuous delivery server that helps organizations increase productivity and deliver high quality through automation."
meta_keywords: "GoCD, continuous delivery, continuous delivery tool, continuous integration, continuous integration software, open source, automated release management, automation, software deployment"
---
<div class="banner">
  <div class="banner-content">
    <h1 class="caption">
    <span>Simplify Continuous Delivery</span>

    </h1>
    <p class="subcaption">
     Build and visualize complex workflows with ease using GoCD - an open source continuous delivery server
    </p>
    <%= link_to 'Download Now', "/download/index.html", {:class => "btn btn-primary btn-download", "analytics-label" => "home-download-cta"} %>
  </div>

</div>
<p class="bigtxt">Automate and streamline your build-test-release cycle for reliable, continuous delivery of your product.
</p>
<div class="main-features">
  <div class="container">
    <div class="row features">
      <div class=" col-sm-12 col-md-4">
        <%= partial "partials/whygocdfeature1" %>
      </div>
      <div class=" col-sm-12 col-md-4">
        <%= partial "partials/whygocdfeature2" %>
      </div>
      <div class="col-sm-12 col-md-4">
        <%= partial "partials/whygocdfeature3" %>
      </div>
    </div>
    <%= link_to 'See more GoCD features', '/why-gocd/index.html', :class => 'btn btn-default see-all-features', "analytics-label" => "link_homepage_see_more_gocd_features" %>
  </div>
</div>
<div class="plugins-community">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row plugins-cont">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <figure>
              <%= image_tag "icons/go.cd_plugins.svg", {:title => "GoCD open source plugins", :alt => "GoCD open source plugins"} %>
            </figure>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
            <h3>Plugins</h3>
            <p>
              GoCD has extension points for which plugins can be created. There are
              <%= link_to 'numerous plugins', '/plugins/index.html', "analytics-label" => "link_homepage_plugins" %> already available, or if you don't see
              what you need, you can <%= link_to 'write your own', 'https://developer.gocd.org/current/writing_go_plugins/go_plugins_basics.html',
                                         "analytics-label" => "link_homepage_plugin_writing_docs" %>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row community-cont">
          <div class=" col-xs-3 col-sm-3 col-md-3">
            <figure>
              <%= image_tag "icons/go.cd_community.svg", {:title => "GoCD open source community", :alt => "GoCD open source community"}  %>
            </figure>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
            <h3>Community</h3>
            <p>
              GoCD's community is 1000 members strong and growing. Through our active forum, users and contributors share best practices and
              openly discuss a wide range of topics including product how-tos. To join in the
              conversation visit <a href="https://groups.google.com/forum/#!forum/go-cd" analytics-label="link_homepage_google_group" >our Google group.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial "partials/supportbanner" %>
