---
title: GoCD - Continuous Delivery
title_tag_of_header: "GoCD Home - Open Source Continuous Delivery Server | GoCD"
meta_description: "GoCD - open source continuous delivery server. GoCD helps organizations increase productivity and deliver high quality through automation."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, automated release management, Go"
---
<div class="banner">
  <div class="banner-content">
    <h1 class="caption">
    <span>Ready.</span>
    <span>Set.</span>
    <span>Deliver!</span>
         
    </h1>
    <p class="subcaption">
      Open source continuous delivery server specializing in advanced workflow modeling and visualization
    </p>
    <%= link_to 'Download Now', "/download/index.html", {:class => "btn btn-primary btn-download"} %>
  </div>
  
</div>
<p class="bigtxt">Automate and streamline your build-test-release cycle for reliable, continuous delivery of your product.
</p>
<div class="main-features">
  <div class="container">
    <div class="row features">
      <div class=" col-sm-12 col-md-4">
        <div class="feature-box">
          <h3>Model complex workflows</h3>
          <figure>
            <%= image_tag "go.cd_Model-complex-workflows.svg", {:title => "Model complex workflows", :alt => "Model complex workflows"} %>
          </figure>
          <p>With its parallel and sequential execution, GoCD can easily configure dependencies for fast feedback and on-demand deployment. Its fan-in/fan-out dependency management always does the "right thing," avoiding spurious builds.
          </p>
        </div>
      </div>
      <div class=" col-sm-12 col-md-4">
        <div class="feature-box">
          <h3>Easily compare builds</h3>
          <figure>
            <%= image_tag "go.cd_Compare-Builds.svg", {:title => "Compare builds", :alt => "Compare builds"} %>
          </figure>
          <p> GoCD's ability to compare content - both files and commit messages - across any two arbitrary builds, makes it invaluable when troubleshooting a broken pipeline.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="feature-box">
          <h3>Clearly visualize your workflow</h3>
          <figure>
            <%= image_tag "go.cd_See-how-things-really-work.svg", {:title => "See how your workflow really works", :alt => "See how things really work"} %>
          </figure>
          <p>GoCD's Value Stream Map visualizes your end-to-end workflow in real time. Every change can be tracked from commit to deploy and back again.
          </p>
        </div>
      </div>
    </div>
    <%= link_to 'See more GoCD features', '/why-gocd/index.html', :class => 'btn btn-default see-all-features' %>
  </div>
</div>
<div class="plugins-community">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row plugins-cont">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <figure>
              <%= image_tag "go.cd_plugins.svg", {:title => "Plugins", :alt => "Plugins"} %>
            </figure>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
            <h3>Plugins</h3>
            <p>
              GoCD has extension points for which plugins can be created. There are
              <%= link_to 'numerous plugins', '/plugins/index.html' %> already available, or if you don’t see
              what you need, you can <%= link_to 'write your own', 'https://developer.go.cd/current/writing_go_plugins/go_plugins_basics.html' %>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row community-cont">
          <div class=" col-xs-3 col-sm-3 col-md-3">
            <figure>
              <%= image_tag "go.cd_community.svg", {:title => "Community", :alt => "Community"}  %>
            </figure>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
            <h3>Community</h3>
            <p>
              GoCD's community is 1000 members strong and growing. Through our active forum, users and contributors share best practices and 
              openly discuss a wide range of topics including product how-tos. To join in the
              conversation visit <a href="https://groups.google.com/forum/#!forum/go-cd">our Google group.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="support">
  <div class="container">
    <div class="go-support">
      <p>
        <span class="go">Go</span>CD is a critical piece of your infrastructure. We get that. We are committed to
        providing world-class support for <span class="go">Go</span>CD users.
      </p>
      <a href="https://thoughtworks.com/go">Get Support</a>
    </div>
  </div>
</div>
