---
title: GoCD plugins
---
<div class="inner-banner plugins">
  <div class="container">
    <h1 class="caption"><span>Plugins</span></h1>
    <span class="subcaption">Bundled and community contributed plugins</span>
  </div>
</div>

<main>
  <div class="container">
    <p>
      GoCD publishes a list of extension points for which plugins can be provided. An extension point defines the
      interface and the lifecycle that governs the respective plugin. At present only java based extension points and
      plugins are supported by GoCD. Details about available extension points and their lifecycle can be obtained from
      <a href="http://www.go.cd/documentation/developer/writing_go_plugins/go_plugins_basics.html" >plugins
      documentation</a> along with the <a
      href="http://www.go.cd/documentation/developer/resources/javadoc/14.4.0/index.html">GoCD plugin API reference</a>.
    </p>

    <p>
      Below is the listing of bundled as well as other available plugins contributed by the community (that are not
      bundled with the GoCD Server as yet).  Please refer the <a
      href="http://www.go.cd/documentation/user/current/extension_points/plugin_user_guide.html">plugin user guide</a>
      to know more about plugin installation etc.
    </p>

    <p class="note">
      <strong>Note:</strong> As a general matter, plugins for GoCD are distributed under license from the copyright
      holder.  In addition, notwithstanding who the copyright holder is, all plugins on this page are made available for
      download “as is and as available” without support or warranties of any kind, either express or implied, including
      but not limited to the implied warranties of merchantability, satisfactory quality, and fitness for a particular
      purpose.
    </p>

    <p>
      <em>Officially maintained ThoughtWorks plugins are tagged with a <%= image_tag "go-logo-small.png" , :class => "go-tag" %> icon.</em>
    </p>

    <% plugin_categories = [
      {kind: "Package repository plugins", version_info: ">= GoCD v13.3", plugins: data.repo_plugins},
      {kind: "Task plugins", version_info: ">= GoCD v14.1", plugins: data.task_plugins},
      {kind: "Notification plugins", plugins: data.notification_plugins},
      {kind: "SCM plugins", plugins: data.scm_plugins},
      {kind: "Authentication plugins", plugins: data.auth_plugins}
    ] %>
    <div class="all-plugins">
      <ul class="tabs">
        <% plugin_categories.each_with_index do |category, index| %>
          <li rel="tab<%= index + 1 %>">
            <%= category[:kind] %> <span class="plugin-info"><%= category[:version_info] if category[:version_info] %></span>
          </li>
        <% end %>
      </ul>

      <div class="tab_container">
        <% plugin_categories.each_with_index do |category, index| %>
          <% tab_id = "tab#{index + 1}" %>
          <h3 class="tab-accordion_heading" rel="<%= tab_id %>">
            <%= category[:kind] %> <span class="plugin-info"><%= category[:version_info] if category[:version_info] %></span>
          </h3>

          <div id="<%= tab_id %>" class="tab_content">
            <div class="plugins-container">
              <ul class="plugins-list">

                <% category[:plugins].each do |p| %>
                  <li>
                    <span class="logo"></span>
                    <div class="details">
                      <%= image_tag "go-logo-small.png" , :class => "go-logo" if p.bundled %>
                      <h5 class="name"> <%= p.name %> </h5>
                      <p class="more-details">
                        <%= p.description %>
                        <%= link_to('Read more', p.readmore_url) %>
                      </p>
                      <span class="created-by">by
                        <%= link_to(p.author_name, p.author_url)  %>
                      </span>
                    </div>
                    <div class="actions">
                      <% if p.bundled %>
                        <span class="with-go">Bundled with GoCD</span>
                      <% else %>
                        <div class="download-plugin">
                          <i class="fa fa-download"></i>
                          <%= link_to('Download', p.releases_url) %>
                        </div>
                      <% end %>
                    </div>
                  </li>
                <% end %>

                <li class=" contribute_tile">
                  <div class="contribute-plugin">

                    <i class="fa fa-star"></i>
                    <h5>Want to contribute?</h5>
                    <a href="http://www.go.cd/documentation/developer/writing_go_plugins/overview.html">Write a plugin</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

<%= javascript_include_tag :tabs %>

<script>
 jQuery(document).ready(function($) {
   startTabContainer($);
 });
</script>
