---
title: "What's new?"
title_tag_of_header: "Releases - Version notes | GoCD"
meta_description: "Description of key new features, known bugs and enhancements for versions of GoCD. GoCD is open source continuous delivery software. We help organizations deliver high quality software through automation."
meta_keywords: "GoCD, continuous delivery, goforcd, open source, software, contribute to open source, agile continuous delivery, code contribution, releases, version, release notes, Go"
---
<div class="inner-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>What's new?</span></h1>
      <span class="subcaption">Release notes of GoCD</span>
    </div>
  </div>
</div>
<main>

<div class="container">
  <p>
    Check out "Enhancements" and "Bug fixes" for specific versions of Go below. As always, feel free to tell us what you think, or file a bug on <a href="https://github.com/gocd/gocd/issues/new" target="_blank">GitHub</a>.
  </p>
  <p>
    <span>We try our best to credit all contributors. Apologies if we miss you out. Let us know and we will change this.</span>
    <span>Thanks to everyone for contributing patches, feature requests, reporting issues and participating in various discussions.</span>
  </p>

  <% releases = Dir["source/partials/release_notes/_release-*"].reverse.collect do |release_file, index| %>
  <%   release_file.sub(%r{.*release_notes/_release-(.*).html.erb}, '\1') %>
  <% end %>

  <div class="v-tabs all-releases">
    <ul class="tabs">
      <%  releases.each_with_index do |release, index| %>
      <li rel="tab-<%= release %>"<%= ' class="active"' if index == 0 %>><%= release.gsub('-', '.') %><%= ' (latest)' if index == 0 %></li>
      <% end %>
    </ul>

    <div class="tab_container">
      <%  releases.each_with_index do |release, index| %>
      <h3 class="tab-accordion_heading<%= ' d_active' if index == 0 %>" rel="tab-<%= release %>"><%= release.gsub('-', '.') %><%= ' (latest)' if index == 0 %></h3>
      <div id="tab-<%= release %>" class="tab_content" style="display: block;">
        <div class="content">
          <%= partial "partials/release_notes/release-#{release}.html" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
</main>
<script>
jQuery(document).ready(function($) {
  startTabContainer($);
});
</script>
