---
title: GoCD Resources
title_tag_of_header: "Resources, Documentation and Support | GoCD"
meta_description: "Find all of GoCD's community resources including software documentation, mailing lists and tutorials."
meta_keywords: "GoCD, user docs, documentation, api, apis, contributor agreement"
---
<div class="inner-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Documentation &amp; Resources</span></h1>
    </div>
  </div>
</div>
<main>
<div class="container">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-2 ">
        <figure>
          <%= image_tag "go.cd_user-documentation.svg", :alt => "GoCD user documentation" %>
        </figure>
      </div>
      <div class="col-xs-10 ">
        <h3>Documentation</h3>
        <ul class="r_list">
          <li>
            <a href="https://docs.gocd.org/current/">GoCD User Documentation</a>
            <p>Information on how to set up, use and administer GoCD can be found here</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <figure>
          <%= image_tag "go.cd_mailing-list.svg", :alt => "GoCD mailing list" %>
        </figure>
      </div>
      <div class="col-xs-10">
        <h3>Mailing Lists</h3>
        <ul class="r_list">
          <li>
            <a href="https://groups.google.com/forum/#!forum/go-cd">GoCD Users Google Group</a>
            <p>This mailing list is a place for users of GoCD to discuss and help each other. Developers may participate in the list from time to time, but the primary interactions are between users.</p>
          </li>
          <li>
            <a href="https://groups.google.com/forum/#!forum/go-cd-dev">GoCD Developers Google Group</a>
            <p>This mailing list is used for discussions about the development of GoCD. This list is only for discussion of changes to the source code and related issues. Configuration and support questions should be addressed to the <a href="https://groups.google.com/forum/#!forum/go-cd">user group</a>.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-2">
        <figure>
          <%= image_tag "go.cd_dev-documentation.svg", :alt => "GoCD developer documentation" %>
        </figure>
      </div>
      <div class="col-xs-10">
        <h3>Developer Documentation</h3>
        <ul class="r_list">
          <li>
            <a href="https://api.gocd.org/current/">GoCD APIs</a>
            <p>Documentation on using the RESTful GoCD APIs</p>
          </li>
          <li>
            <a href="https://developer.gocd.org/current/">GoCD Developer Documentation</a>
            <p>Documentation describing the development environment, technology stack and architecture of GoCD.</p></li>
            <li>
              <%= link_to 'Contributor License Agreement', "/contributor-license-agreement/index.html" %>
              <p>If you would like to contribute back to GoCD you'll need to electronically sign this agreement</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <figure>
            <%= image_tag "go.cd_other-resources.svg", :alt => "Other GoCD resources" %>
          </figure>
        </div>
        <div class="col-xs-10">
          <h3>Other Resources</h3>
          <ul class="r_list">
          <li>
          <a href="https://brandfolder.com/twproducts" target="_blank">Brand Assets</a>
          <p>Logo files, colors, and brand guidelines.</p>
          </li>
            
            <li>
              <%= link_to 'How-To Videos', "/videos/index.html" %>
              <p> Short videos on key features of GoCD.</p>
            </li>
            <li><a href="http://continuousdelivery.com/">continuousdelivery.com</a>
            <p>Jez Humble's blog on all things CD.</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </main>
