---
title: GoCD Resources
title_tag_of_header: "Resources | GoCD"
meta_description: "GoCD is open source continuous delivery software. This is the list of bundled as well as other available plugins contributed by the community."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, contribute, resources, community repository plugins, task plugins, repository poller, packaged repository, yum repository, debain repository, npm repository"
---
<div class="inner-banner">
  <div class="container">
    <h1 class="caption"><span>Resources</span></h1>
    <span class="subcaption">GoCD community resources</span>
  </div>
</div>
<main>
<div class="container">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-2 ">
        <figure>
          <%= image_tag "go.cd_user-documentation.png" %>
        </figure>
      </div>
      <div class="col-xs-10 ">
        <h3>User Documentation</h3>
        <ul class="r_list">
          <li>
            <a href="http://www.go.cd/documentation/user/current/"><h4>Welcome to GoCD</h4></a> <p>Information on how to set up, use and administer GoCD can be found here</p>
          </li>
        </ul>
        
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <figure>
          <%= image_tag "go.cd_mailing-list.png" %>
        </figure>
      </div>
      <div class="col-xs-10">
        <h3>Mailing Lists</h3>
        <ul class="r_list">
          <li>
            <a href="https://groups.google.com/forum/#!forum/go-cd">GoCD Users Google Group</a>
            <p>This mailing list is a place for users of GoCD to discuss and help each other. Developers may participate in the list from time to time, but the primary interactions are between users.</p>
          </li>
          <li>
            <a href="https://groups.google.com/forum/#!forum/go-cd-dev">GoCD Developers Google Group</a>
            <p>This mailing list is used for discussions about the development of GoCD. This list is only for discussion of changes to the source code and related issues. Configuration and support questions should be addressed to the <a href="https://groups.google.com/forum/#!forum/go-cd">user group</a>.</p>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-2">
        <figure>
          <%= image_tag "go.cd_dev-documentation.png" %>
        </figure>
      </div>
      <div class="col-xs-10">
        <h3>Developer Documentation</h3>
        <ul class="r_list">
          <li>
            <a href="http://www.go.cd/documentation/user/current/api/go_api.html">GoCD APIs</a>
            <p>Documentation on using the RESTful GoCD APIs</p>
          </li>
          <li>
            <a href="http://www.go.cd/documentation/developer">GoCD Documentation (In progress)</a>
            <p>Documentation describing the development environment, technology stack and architecture of GoCD.</p></li>
            <li>
              <%= link_to 'Contributor License Agreement', "/contribute/cla.html" %>
              <p>If you would like to contribute back to GoCD you'll need to electronically sign this agreement</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <figure>
            <%= image_tag "go.cd_other-resources.png" %>
          </figure>
        </div>
        <div class="col-xs-10">
          
          <h3>Other Resources</h3>
          <ul class="r_list">
            <li>
              <a href="http://support.thoughtworks.com/categories/20002778-Go-Community-Support">Community page</a>
              <p>Hosted by ThoughtWorks. There is a lot of information available here, including tips and tricks, macros and more.</p>
            </li>
            <li>
              <a href="http://www.thoughtworks.com/products/go-continuous-delivery/resources">Webinars</a>
              <p>Learning sessions by ThoughtWorks.</p>
            </li>
            <li>
              <%= link_to 'How-To Videos', "/videos/index.html" %>
              <p> Short videos on key features of GoCD.</p>
            </li>
            <li><a href="http://continuousdelivery.com/">continuousdelivery.com</a>
            <p>Jez Humble's blog on all things CD.</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </main>
