---
title: GoCD videos
---
<div class="inner-banner">
  <div class="container">
    <h1 class="caption"><span><%= current_page.data.title %></span></h1>
    <span class="subcaption">Below are some short videos to introduce some concepts of GoCD.</span>
  </div>
</div>
<main>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-fan-out-fan/index.html" do %>
          <%= image_tag "videos/go-fan-out-fan.jpg" %>
          <% end %>
          <figcaption>Fan Out &amp; Fan In</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-failed-smoke-test/index.html" do %>
          <%= image_tag "videos/go-failed-smoke-test.jpg" %>
          <% end %>
          <figcaption>Failed Smoke Test</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-command-repo/index.html" do %>
          <%= image_tag "videos/go-command-repo.jpg" %>
          <% end %>
          <figcaption>Command Repo</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-value-stream-map/index.html" do %>
          <%= image_tag "videos/go-value-stream-map.jpg" %>
          <% end %>
          <figcaption>The Value Stream Map</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-pipeline-visibility/index.html" do %>
          <%= image_tag "videos/go-pipeline-visibility.jpg" %>
          <% end %>
          <figcaption>Pipeline Visibility</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-fundamental-concepts/index.html" do %>
          <%= image_tag "videos/go-fundamental-concepts.jpg" %>
          <% end %>
          <figcaption>Fundamental Concepts</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        
        <figure>
          <% link_to "/videos/go-linking-dependencies/index.html" do %>
          <%= image_tag "videos/go-linking-dependencies.jpg" %>
          <% end %>
          <figcaption>Linking To Dependencies</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
</main>