---
title: GoCD videos
title_tag_of_header: "Videos - Introduction to GoCD | GoCD"
meta_description: "Video series introducing GoCD - the open source continuous delivery software. GoCD helps agile organizations increase productivity and deliver high quality through automation."
meta_keywords: "GoCD, continuous delivery, goforcd, open source, software, contribute to open source, agile continuous delivery, code contribution, videos, Go"
---
<div class="inner-banner">
  <div class="container">
    <h1 class="caption"><span><%= current_page.data.title %></span></h1>
    <span class="subcaption">Below are some short videos to introduce some concepts of GoCD.</span>
  </div>
</div>
<main>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-fan-out-fan/index.html" do %>
          <%= image_tag "videos/go-fan-out-fan.jpg", :alt => "Fan Out &amp; Fan In" %>
          <% end %>
          <figcaption>Fan Out &amp; Fan In</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-failed-smoke-test/index.html" do %>
          <%= image_tag "videos/go-failed-smoke-test.jpg", :alt => "Failed Smoke Test" %>
          <% end %>
          <figcaption>Failed Smoke Test</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-command-repo/index.html" do %>
          <%= image_tag "videos/go-command-repo.jpg", :alt => "Command Repo" %>
          <% end %>
          <figcaption>Command Repo</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-value-stream-map/index.html" do %>
          <%= image_tag "videos/go-value-stream-map.jpg", :alt => "The Value Stream Map" %>
          <% end %>
          <figcaption>The Value Stream Map</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-pipeline-visibility/index.html" do %>
          <%= image_tag "videos/go-pipeline-visibility.jpg", :alt => "Pipeline Visibility" %>
          <% end %>
          <figcaption>Pipeline Visibility</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        <figure>
          <% link_to "/videos/go-fundamental-concepts/index.html" do %>
          <%= image_tag "videos/go-fundamental-concepts.jpg", :alt => "Fundamental Concepts" %>
          <% end %>
          <figcaption>Fundamental Concepts</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="video-box">
        
        <figure>
          <% link_to "/videos/go-linking-dependencies/index.html" do %>
          <%= image_tag "videos/go-linking-dependencies.jpg", :alt => "Linking To Dependencies" %>
          <% end %>
          <figcaption>Linking To Dependencies</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
</main>
