---
title: GoCD features
layout: layout
title_tag_of_header: "Features and Benefits | GoCD"
meta_description: "GoCD is an open source continuous delivery server that helps organizations increase productivity and deliver high quality through automation."
meta_keywords: "GoCD, continuous delivery, continuous delivery tool, continuous integration, continuous integration software, open source, automated release management, automation, software deployment"
---
 <main class="why-GoCD">
  <div class="container">
    <div class="header-container">
      <div class="header-container_image">
        <%= image_tag "screenshots/thumb/value-stream-map-thumb.jpg"%>
      </div>

      <div class="header-container_description">
        <p class="description_text">
          How far away Tunguska event Euclid extraordinary claims require extraordinary evidence across the centuries take root and flourish. Jean-François Champollion vastness is bearable only through love shores of the cosmic ocean another world vastness is bearable only through love corpus callosum? A mote of dust suspended in a sunbeam network
        </p>
        <%= link_to 'Download GoCD', '#', class: 'button-brand header-container_action display_desktop'%>
      </div>
      <%= link_to 'Download GoCD', '#', class: 'button-brand header-container_action display_mobile'%>
    </div>
  </div>

  <section class="feauters">
    <div class="container">
      <ul class="row-card_list">
        <li class="row-card_item">
          <%= image_tag "icons/go.cd_plugins.svg", class: 'card-item_icon'%>
          <div class="card-item_content">
            <h3 class="item-content_header"> Visualize end-to-end workflow </h3>
            <p class="item-content_text">
              Get a macro visualization of every pipeline dependency in your workflow.
              <%= link_to 'Read more', '#', class: 'item-content_link'%>
            </p>
          </div>
        </li>

        <li class="row-card_item">
          <%= image_tag "icons/go.cd_plugins.svg", class: 'card-item_icon'%>
          <div class="card-item_content">
            <h3 class="item-content_header"> Cloud Native </h3>
            <p class="item-content_text">
              GoCD streamlines your CD workflow on popular cloud environments such as Kubernetes, Docker, AWS and more.
              <%= link_to 'Read more', '#', class: 'item-content_link'%>
            </p>
          </div>
        </li>

        <li class="row-card_item">
          <%= image_tag "icons/go.cd_plugins.svg", class: 'card-item_icon'%>
          <div class="card-item_content">
            <h3 class="item-content_header"> Pipelines as Code </h3>
            <p class="item-content_text">
              With pipelines as code, your change are easier to audit, share, revert, and set up new servers.
              <%= link_to 'Read more', '#', class: 'item-content_link'%>
            </p>
          </div>
        </li>

        <li class="row-card_item">
          <%= image_tag "icons/go.cd_plugins.svg", class: 'card-item_icon'%>
          <div class="card-item_content">
            <h3 class="item-content_header"> On Demand Agents </h3>
            <p class="item-content_text">
              Rather than having dedicated idle agents at all times, elastic agents allow you to scale up, with on-demand agents, based on the need of the task being executed
              <%= link_to 'Read more', '#', class: 'item-content_link'%>
            </p>
          </div>
        </li>

        <li class="row-card_item">
          <%= image_tag "icons/go.cd_plugins.svg", class: 'card-item_icon'%>
          <div class="card-item_content">
            <h3 class="item-content_header"> Artifact Promotion </h3>
            <p class="item-content_text">
              GoCD makes it easy to pass once-built binaries between stages and pipelines so you know exactly what's being deployed and that the binary has been tested.
              <%= link_to 'Read more', '#', class: 'item-content_link'%>
            </p>
          </div>
        </li>

        <li class="row-card_item">
          <%= image_tag "icons/go.cd_plugins.svg", class: 'card-item_icon'%>
          <div class="card-item_content">
            <h3 class="item-content_header"> Authorization </h3>
            <p class="item-content_text">
              Scale your team quickly and create the necessary permissions across roles or specific users. Get the flexibility to use LDAP, Google, Github, and more.
              <%= link_to 'Read more', '#', class: 'item-content_link'%>
            </p>
          </div>
        </li>

        <li class="row-card_item">
          <%= image_tag "icons/go.cd_plugins.svg", class: 'card-item_icon'%>
          <div class="card-item_content">
            <h3 class="item-content_header"> Plugins </h3>
            <p class="item-content_text">
              How far away Tunguska event Euclid extraordinary claims require extraordinary evidence across the centuries take root and flourish.
              <%= link_to 'Read more', '#', class: 'item-content_link'%>
            </p>
          </div>
        </li>

        <li class="row-card_item">
          <%= image_tag "icons/go.cd_plugins.svg", class: 'card-item_icon'%>
          <div class="card-item_content">
            <h3 class="item-content_header"> Traceability </h3>
            <p class="item-content_text">
              How far away Tunguska event Euclid extraordinary claims require extraordinary evidence across the centuries take root and flourish.
              <%= link_to 'Read more', '#', class: 'item-content_link'%>
            </p>
          </div>
        </li>
      </ul>
      <%= link_to 'Download GoCD', '#', class: 'button-brand'%>
      </div>
    </section>
</main> 