---
layout: layout
title: "Analytics Feedback"
title_tag_of_header: "Analytics Feedback"
show_features: true
---

<header class="banner-container analytics-fb-header-container">
  <div class="container">
    <h1 class="banner-container_heading analytics-fb-header"> Shape the future of GoCD with us! </h1>
  </div>
</header>

<div class="flex-container analytics-fd-form-container">
  <div class="container">
    <h2 class="text-center text-bold analytics-fd-form_header">
      How to join the GoCD Analytics Feedback Program:
    </h2>
    <div class="gird-col-6 analytics-fd-form_content">
      <ul class="analytics-fd-form_content_list">
        <li>
          Fill out the form to register for the program.
        </li>
        <li>
          We will send you an email with instructions on how to get the latest GoCD Analytics plugin
        </li>
        <li>
          Enjoy the Analytics plugin for 30 days!
        </li>
        <li>
          Give us feedback along your journey via slack or email.
        </li>
      </ul>

      <div class="text-desktop">
        <h6 class="header-small analytics-fd-info">
          Additional information:
        </h6>

        <p class="text-small">
          This program only open to GoCD users , and participants will be selected based on how well your usage of
          GoCD matches our study criteria.
          The registration is open now until June 30,2019. The first batch of gifts will go out on **** the last
          batch of gifts will go out ***
          After the program ends, the Analytics plugin is only available for paid GoCD Enterprise customers. Your
          license will expire, you won’t be able to continue to use it unless you decide to move forward with an
          Enterprise tier.
        </p>
      </div>
    </div>
    <div class="gird-col-6" id="contact-form">
      <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_1136"></form>
      <div class="form-loading-error"></div>
      <script defer="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
      <script defer="true" src="/assets/javascripts/marketo_popover.js" onload="new MarketoForm('//app-abq.marketo.com', '089-BZB-373').init(1136)"></script>
      <noscript>
        <div class="error-msg-container">
          <p class="error-msg_text">
            Our signup form is blocked by your browser. You can email us directly at support@thoughtworks.com.
          </p>
        </div>
        <style>
          footer {
            position: relative;
          }
        </style>
      </noscript>
    </div>

  </div>
</div>

<section class="main analytics-fb-content-container">
  <div class="container">
    <h2 class="text-center text-bold anlaytics-fb-sec-header">
      We’re offering weekly surprise gifts and free books in exchange for your feedback. Here’s what you can win!
    </h2>

    <div class="cards-container analytics-fb-cards">
      <div class="card-col-6">
        <%= image_tag "placeholder.jpg", {:title => "Placeholder", :alt => "Placeholder Iamge", class: "card-col-6_img"} %>
        <p class="text-center card-col-6_desc">
          A copy of industry leading DevOps Metrics book,
          <%= link_to 'Accelerate', '#', class: 'link' %>
        </p>
      </div>
      <div class="card-col-6">
        <%= image_tag "placeholder.jpg", {:title => "Placeholder", :alt => "Placeholder Iamge", class: "card-col-6_img"} %>
        <p class="text-center card-col-6_desc">
          Surprise GoCD gifts from us every week!
        </p>
      </div>
      <div class="card-col-6">
        <%= image_tag "placeholder.jpg", {:title => "Placeholder", :alt => "Placeholder Iamge", class: "card-col-6_img"} %>
        <p class="text-center card-col-6_desc">
          Share your DevOps metrics experience
        </p>
      </div>
      <div class="card-col-6">
        <%= image_tag "placeholder.jpg", {:title => "Placeholder", :alt => "Placeholder Iamge", class: "card-col-6_img"} %>
        <p class="text-center card-col-6_desc">
          Opportunity to shape the future of GoCD
        </p>
      </div>
    </div>
  </div>
  <div class="text-mobile-tablet card-col-6_desc">
        <h6 class="header-small analytics-fd-info">
          Additional information:
        </h6>

        <p class="text-small">
          This program only open to GoCD users , and participants will be selected based on how well your usage of
          GoCD matches our study criteria.
          The registration is open now until June 30,2019. The first batch of gifts will go out on **** the last
          batch of gifts will go out ***
          After the program ends, the Analytics plugin is only available for paid GoCD Enterprise customers. Your
          license will expire, you won’t be able to continue to use it unless you decide to move forward with an
          Enterprise tier.
        </p>
      </div>
</section>