---
layout: layout
title: "Analytics Feedback"
title_tag_of_header: "Analytics Feedback"
show_features: true
---

<header class="banner-container analytics-fb-header-container">
  <div class="container">
    <h1 class="banner-container_heading analytics-fb-header"> Shape the future of GoCD with us! </h1>
    <p class="text-center analytics-fb-header_desc">Receive free books and surprise gifts in exchange for your feedback.</p>
  </div>
</header>

<div class="flex-container analytics-fb-main-container">
  <div class="container">
    <h2 class="text-center text-bold analytics-fb-form_header">
      Feedback Topic: Analytics Plugin
    </h2>
    <p class="analytics-fb-main_description">
      We are sending weekly surprise gifts to our GoCD users for feedback on our new analytics plugin. Register today, install the plugin ASAP, and get surprise gifts.
    </p>
    <p class="analytics-fb-main_description">
      Once you register and get qualified, we will start sending you weekly gift throughout your 30-day program. The qualification is based on how long and how extensive you use GoCD, so please include your GoCD usage information at your registration. 
    </p>

    <p class="analytics-fb-main_description">
      Along your feedback journey, we will have dedicated people from the GoCD team to help you get the plugin installed, answer your questions and listen to your feedback. You can use Slack or email to provide us feedback at your preferred cadence. 
    </p>
  </div>
</div>

<div class="flex-container analytics-fb-form-container">
  <div class="container">
    <div class="gird-col-6 analytics-fb-form_content">
      <h3 class="analytics-fb-form_content_header">What you need to do:</h3>
      <ul class="analytics-fb-form_content_list">
        <li>
          Register here (we will let you know whether you are qualified within one business day)
        </li>
        <li>
          Receive the latest GoCD Analytics plugin and a 30-day license via email
        </li>
        <li>
          Start receiving weekly surprise gift Install and use the Analytics plugin for 30 days
        </li>
        <li>
          Give us feedback along your journey via slack or email
        </li>
        <li>
          Stop using the plugin at the end of 30 days
        </li>
      </ul>

      <div class="text-desktop">
        <h6 class="header-small analytics-fb-info">
          More information:
        </h6>
        <ul class="analytics-fb-info_list">
          <li class="text-small">  
            This program is only open to current GoCD users , and participants will be selected based on how well your usage of GoCD matches our study criteria.  
          </li>

          <li class="text-small">  
            The registration is open now until June 1,2019. The first batch of gifts will go out on  April 12, 2019; the last batch of gifts will go out on June 28,2019.
          </li>

          <li class="text-small">  
            After the program ends, the Analytics plugin is only available for paid GoCD Enterprise customers. Your license will expire, and you won’t be able to continue to use it unless you decide to move forward with an Enterprise tier.
          </li>
        </ul>
      </div>
    </div>
    <div class="gird-col-6" id="contact-form">
      <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_9958"></form>
      <div class="form-loading-error"></div>
      <script defer="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
      <script defer="true" src="/assets/javascripts/marketo_popover.js" onload="new MarketoForm('//app-e.marketo.com', '199-QDE-291').init(9958)"></script>
      <noscript>
        <div class="error-msg-container">
          <p class="error-msg_text">
            Our signup form is blocked by your browser. You can email us directly at support@thoughtworks.com.
          </p>
        </div>
        <style>
          footer {
            position: relative;
          }
        </style>
      </noscript>

    </div>

  </div>
</div>

<section class="main analytics-fb-content-container">
  <div class="container">
    <h2 class="text-center text-bold anlaytics-fb-sec-header">
      Here’s what you can win!
    </h2>

    <div class="cards-container analytics-fb-cards">
      <div class="card-col-6">
        <%= image_tag "placeholder.jpg", {:title => "Placeholder", :alt => "Placeholder Iamge", class: "card-col-6_img"} %>
        <p class="text-center card-col-6_desc">
          A copy of industry leading DevOps Metrics book,
          <%= link_to 'Accelerate', '#', class: 'link' %>
        </p>
      </div>
      <div class="card-col-6">
        <%= image_tag "placeholder.jpg", {:title => "Placeholder", :alt => "Placeholder Iamge", class: "card-col-6_img"} %>
        <p class="text-center card-col-6_desc">
          Surprise GoCD gifts from us every week!
        </p>
      </div>
      <div class="card-col-6">
        <%= image_tag "placeholder.jpg", {:title => "Placeholder", :alt => "Placeholder Iamge", class: "card-col-6_img"} %>
        <p class="text-center card-col-6_desc">
          Share your DevOps metrics experience
        </p>
      </div>
      <div class="card-col-6">
        <%= image_tag "placeholder.jpg", {:title => "Placeholder", :alt => "Placeholder Iamge", class: "card-col-6_img"} %>
        <p class="text-center card-col-6_desc">
          Opportunity to shape the future of GoCD
        </p>
      </div>
    </div>
  </div>
  <div class="text-mobile-tablet card-col-6_desc analytics-fb-info">
    <div class="container">
        <h6 class="header-small">
          More information:
        </h6>
        <ul class="analytics-fb-info_list">
          <li class="text-small">  
            This program is only open to current GoCD users , and participants will be selected based on how well your usage of GoCD matches our study criteria.  
          </li>

          <li class="text-small">  
            The registration is open now until June 1,2019. The first batch of gifts will go out on  April 12, 2019; the last batch of gifts will go out on June 28,2019.
          </li>

          <li class="text-small">  
            After the program ends, the Analytics plugin is only available for paid GoCD Enterprise customers. Your license will expire, and you won’t be able to continue to use it unless you decide to move forward with an Enterprise tier.
          </li>
        </ul>
        </div>
      </div>
</section>