<h4>Authorization Plugin</h4>

There has been more work done around fine tuning the Authorization Plugin endpoints and as part of this some of the plugin API calls have changed.

Action required: Early adopters of this extension will have to update their plugins to handle the updated API calls before upgrading Go. Refer to the Authorization Plugin Endpoint [documentation](https://plugin-api.gocd.io/current/authorization) for the latest changes.

The built-in LDAP and password file based authentication mechanisms have been deprecated in favor of separate plugins that provide more functionality, with the benefit of allowing users to customize the behavior of these plugins. These plugins are bundled with the GoCD server, so no action will be required from users.

* LDAP authentication plugin

  The bundled [LDAP authentication plugin](https://github.com/gocd/gocd-ldap-authentication-plugin) will now allow users to connect to and authenticate with multiple LDAP servers in their organizations.

* Password File Authentication Plugin

  The bundled [Password File Authentication Plugin](https://github.com/gocd/filebased-authentication-plugin) currently supports only SHA1 hashed passwords, but support for other hashing functions is [on its way](https://github.com/gocd/filebased-authentication-plugin/issues/13).

There are 2 new sets of pages that allows configuring the authorization plugins and mapping of GoCD roles to users.

  <figure>
    <%= image_tag 'releases/17.5.0/security-menu.png', alt: 'GoCD Security Menu' %>
  </figure>

  <figure>
    <%= image_tag 'releases/17.5.0/auth-config.png', alt: 'Example LDAP server configuration' %>
    <figcaption>Example LDAP connection configuration</figcaption>
  </figure>

  <figure>
    <%= image_tag 'releases/17.5.0/role-config.png', alt: 'Example GoCD role to LDAP group mapping' %>
    <figcaption>Example GoCD role to LDAP group mapping</figcaption>
  </figure>

<h4>API Enhancements</h4>

* Introduced a <%= link_to_api 'current-user', 'current user API' %> that allows the logged in user to manage their profile.
* Introduced a <%= link_to_api 'notifcation-filters', 'notification filters API' %> that allows the logged in user to manage their email notification subscriptions.

<h4>Bug Fixes</h4>

* <%= link_to_commit '9cec83fd6dda71ea085525354ca201ab7e4d3dec', 'Stop very large file systems (EFS) from being identified as having no space.', 3426 %>

  Large filesystems like EFS, have an amount of storage that exceeds what can be addressed with a java `long` type (<code>2<sup>63</sup>-1</code>). Any storage space greater than <code>2<sup>63</sup>-1</code>, will be shown to be <code>2<sup>63</sup>-1</code>.

<h4>Breaking Changes</h4>

* <%= link_to_commit 'bd64d11d6d602ca4b0ab2318a3d504d07b472346', 'Removed Templates API v2', 3441 %>

  Version 2 of the <%= link_to_api 'template-config', 'Templates API' %> was deprecated in 17.1. Version 3 of the API is available, and users are encouraged to use it.

<h4>Deprecations</h4>

Features that become superseded or irrelevant become *deprecated*, and are scheduled to be removed in some timeframe.

The following features have been deprecated. Please note the timeframe of when they will be removed.

* As of release 17.3, version 1 of the <%= link_to_api 'environment-config', 'Environment Config API' %> was deprecated. This version of the API will be removed in 17.6 release (scheduled to be released in June 2017). Version 2 of the API is available, and users are encouraged to use it.

<h4>Contributors</h4>

<%= [
  "Ankit Srivastava",
  "Aravind SV",
  "Badri J",
  "Bhupendrakumar Piprava",
  "Chris Northwood",
  "David Rice",
  "Emily Luke",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Marques Lee",
  "Rajiesh N",
  "Suzie Prince",
  "Varsha Varadarajan"
].sort.uniq.join(', ')
%>

<!--
<h4>Security researchers</h4>

<%= link_to('https://hackerone.com/gocd/thanks', 'https://hackerone.com/gocd/thanks') %>
-->

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 17.5' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>
