<div class="release-date">Released on 25 Apr, 2019</div>
<h4>Some new feature!</h4>

Some info about the feature

<h4>Other Improvements</h4>


<h4>Bug fixes</h4>


<h4>API</h4>

* The API change log can be found <%= link_to_versioned_api '19.8.0','changes-in-19-8-0', 'here' %>.
* The Plugin API change log can be found <%= link_to_versioned_plugin_api '19.8.0','changes-in-gocd-19-8-0', 'here' %>.


<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Dhanashri Pagar",
  "Ganesh S Patil",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Kritika Singh",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Mansi Shah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Rajiesh N",
  "Saurabh Mistry",
  "Sheroy Marker",
  "Sneha Patil",
  "Steven Streisguth",
  "Tomasz Setkowski",
  "Varsha Varadarajan",
  "Veerababu Kona",
  "Viraj Patil",
  "Vrushali Waykole",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 19.8.0' %>

Have ideas and want to contribute? Need some help getting started? Search the archives in the <%= link_to 'GoCD mailing list', 'https://groups.google.com/g/go-cd' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
