<h4>Secrets Management</h4>

We have enhanced support for managing secrets in GoCD. GoCD now provides an ability to refer to secrets defined in an external Secret Manager. With this, apart from referring to secrets, users can manage permissions for these secrets and rotate them without any changes to GoCD configuration.

Support for Secrets Management is provided using plugins. We have introduced a new secrets extension using which plugin authors can write a plugin to support a Secret Manager of their choice. We have built a File based Secret Management plugin which is bundled along with GoCD.

Please refer to the [Secret Management Docs](https://docs.gocd.org/19.6.0/configuration/secrets_management.html) for more info.

<figure class='shrink-figure-100'>
    <%= image_tag 'releases/19.6.0/secret-config-spa.gif', alt: 'Secret Management SPA' %>
</figure>


<h4>Simpler HTTP authentication for agent-server communication</h4>

Historically, GoCD agent server communication required SSL/TLS mutual authentication using X509 certificates. GoCD version 19.6 disables mutual TLS by default. This will allow GoCD administrators to terminate agent-server communication at load balancers or reverse proxies.

To turn on the old behavior and enable mutual TLS, set the environment variable `GO_USE_TOKEN_AUTH` to `false`.


<h4>Running Dockerized GoCD Containers as Non Root</h4>

Starting from GoCD release `v19.6.0`, GoCD containers run as non-root user, by default. The Dockerized GoCD application will run as `go:root` (`uid:1000`, `gid:0`) user instead of running as `root:root` (`uid:0`, `gid:0`). For more information, checkout [Running Dockerized GoCD Containers as Non Root](https://www.gocd.org/2019/06/25/GoCD-non-root-containers/) blog post.


<h4>API Improvements</h4>

* <%= new_api_message '19.6.0', 6061, 1, 'Secret Config', 'secret-configs' %>
* <%= new_api_message '19.6.0', 6231, 6, 'Plugin Info', 'plugin-info' %>
* <%= new_api_message '19.6.0', 6287, 8, 'pipeline config', 'pipeline-config' %>
* <%= new_api_message '19.6.0', 6618, 1, 'backup config', 'backup-config' %>

<h4>Other Improvements</h4>

* Starting this release, Alpine 3.10 based docker images for GoCD Agent are <%= link_to 'available', 'https://hub.docker.com/r/gocd/gocd-agent-alpine-3.10' %>.

<h4>Bug fixes</h4>


<h4>New Deprecations</h4>

* <%= deprecated_api_message api_name: 'Plugin Info', old_api_version: 5, new_api_version: 6, new_api_available_in_release: '19.6.0', api_section: 'plugin-info', removal_date_and_year: 'Sept 2019' %>

<h4>Deprecations</h4>

* The notification plugin extension version 3 has been deprecated. This version will be removed in an upcoming release. Plugin developers should use version 4 of the notification plugin api.
* The analytics plugin extension version 1 has been deprecated. This version will be removed in an upcoming release. Plugin developers should use version 2 of the analytics plugin api.
* The Get Server Info processor version 1 has been deprecated. This version will be removed in an upcoming release. Plugin developers should use version 2 of the Get Server Info processor.
* Unversioned get stage history API has been deprecated in favor of get stage history API v1. This version will be removed in a release scheduled for July 2019.
* <%= deprecated_api_message api_name: 'Dashboard', old_api_version: 2, new_api_version: 3, new_api_available_in_release: '19.3.0', api_section: 'dashboard', removal_date_and_year: 'June 2019' %>
* <%= deprecated_api_message api_name: 'Plugin Info', old_api_version: 4, new_api_version: 5, new_api_available_in_release: '19.3.0', api_section: 'plugin-info', removal_date_and_year: 'July 2019' %>
* <%= deprecated_api_message api_name: 'Pipeline config', old_api_version: 6, new_api_version: 7, new_api_available_in_release: '19.4.0', api_section: 'pipeline-config', removal_date_and_year: 'Aug 2019' %>
* <%= deprecated_api_message api_name: 'Config repo', old_api_version: 1, new_api_version: 2, new_api_available_in_release: '19.4.0', api_section: 'config-repo', removal_date_and_year: 'Aug 2019' %>
* Support for Java 8 has been deprecated. The support for the same will be removed in a release scheduled for November 2018.

<h4>Breaking Changes</h4>

* <%= removed_docker_image_message 'Fedora', '28', 'June 2019' %>

<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Chandrakanth Nagaraj",
  "Dhanashri Pagar",
  "Ganesh S Patil",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Kritika Singh",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Mansi Shah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Rajiesh N",
  "Saurabh Mistry",
  "Sheroy Marker",
  "Steven Streisguth",
  "Tomasz Setkowski",
  "Varsha Varadarajan",
  "Viraj Patil",
  "Vrushali Waykole",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 19.4.0' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
