<h4>Some feature</h4>

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

<figure>
  <%= image_tag 'releases/19.3.0/elastic_profile.png', alt: 'Cluster Support' %>
</figure>

<h4>API Improvements</h4>

* <%= new_api_message '19.4.0', 1234, 2, 'Flux Capacitor', 'flux-capacitor' %>

<h4>Other Improvements</h4>

<h4>Bug fixes</h4>

<h4>New Deprecations</h4>

* elastic extension v4
* elastic agent profile v1 (breaking change)

<h4>Deprecations</h4>

* The notification plugin extension version 3 has been deprecated. This version will be removed in an upcoming release. Plugin developers should use version 4 of the notification plugin api.
* The analytics plugin extension version 1 has been deprecated. This version will be removed in an upcoming release. Plugin developers should use version 2 of the analytics plugin api.
* The Get Server Info processor version 1 has been deprecated. This version will be removed in an upcoming release. Plugin developers should use version 2 of the Get Server Info processor.
* Unversioned get stage history API has been deprecated in favor of get stage history API v1. This version will be removed in a release scheduled for July 2019.
* <%= deprecated_api_message api_name: 'Dashboard', old_api_version: 2, new_api_version: 3, new_api_available_in_release: '19.3.0', api_section: 'dashboard', removal_date_and_year: 'June 2019' %>
* <%= deprecated_api_message api_name: 'Plugin Info', old_api_version: 4, new_api_version: 5, new_api_available_in_release: '19.3.0', api_section: 'plugin-info', removal_date_and_year: 'July 2019' %>
* <%= deprecated_docker_image_message 'Alpine', '3.6', 'May 2019' %>
* <%= deprecated_docker_image_message 'Fedora', '28', 'June 2019' %>

<h4>Breaking Changes</h4>


<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Chandrakanth Nagaraj",
  "Dhanashri Pagar",
  "Ganesh S Patil",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Ketan Sangle",
  "Kiera Radman",
  "Kritika Singh",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Mansi Shah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Prateek Baheti",
  "Rahul Pargaonkar",
  "Rajiesh N",
  "Sandro Heinzelmann",
  "Sheroy Marker",
  "Steven Streisguth",
  "Tomasz Setkowski",
  "Varsha Varadarajan",
  "Viraj Patil",
  "Vishal Devgire",
  "Vrushali Waykole",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 19.4.0' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
