<h4>some feature</h4>

<h4>Versions of Java this release of GoCD works with</h4>
<ul>
  <li>Java 8 (Deprecated)</li>
  <li>Java 10 (Deprecated)</li>
  <li>Java 11</li>
  <li>Java 12</li>
</ul>

<h4>API Improvements</h4>

* <%= new_api_message '19.8.0', 6766, 9, 'pipeline config', 'pipeline-config' %>

<h4>Other Improvements</h4>

* <%= link_to_issue 6294, 'Ability to configure stage to only allow manual trigger on success of previous stage' %>

<h4>Bug fixes</h4>


<h4>New Deprecations</h4>

* <%= deprecated_api_message api_name: 'Pipeline config', old_api_version: 8, new_api_version: 9, new_api_available_in_release: '19.8.0', api_section: 'pipeline-config', removal_date_and_year: 'Nov 2019' %>

<h4>Deprecations</h4>

* The notification plugin extension version 3 has been deprecated. This version will be removed in an upcoming release. Plugin developers should use version 4 of the notification plugin api.
* The analytics plugin extension version 1 has been deprecated. This version will be removed in an upcoming release. Plugin developers should use version 2 of the analytics plugin api.
* The Get Server Info processor version 1 has been deprecated. This version will be removed in an upcoming release. Plugin developers should use version 2 of the Get Server Info processor.
* <%= deprecated_api_message api_name: 'Pipeline config', old_api_version: 6, new_api_version: 9, new_api_available_in_release: '19.8.0', api_section: 'pipeline-config', removal_date_and_year: 'Aug 2019' %>
* <%= deprecated_api_message api_name: 'Pipeline config', old_api_version: 7, new_api_version: 9, new_api_available_in_release: '19.8.0', api_section: 'pipeline-config', removal_date_and_year: 'Oct 2019' %>
* <%= deprecated_api_message api_name: 'Config repo', old_api_version: 1, new_api_version: 2, new_api_available_in_release: '19.4.0', api_section: 'config-repo', removal_date_and_year: 'Aug 2019' %>
* Support for Java 8 has been deprecated. The support for the same will be removed in a release scheduled for November 2019.
* <%= deprecated_api_message api_name: 'Plugin Info', old_api_version: 5, new_api_version: 6, new_api_available_in_release: '19.6.0', api_section: 'plugin-info', removal_date_and_year: 'Sept 2019' %>
* Unversioned get all materials API has been deprecated in favor of get all materials API v1. This version will be removed in a release scheduled for Oct 2019.

<h4>Breaking Changes</h4>


<h4>Contributors</h4>

<%= [
  "Aditya Sood",
  "Akshay Dewan",
  "Ankit Srivastava",
  "Aravind SV",
  "Bhupendrakumar Piprava",
  "Chandrakanth Nagaraj",
  "Dhanashri Pagar",
  "Ganesh S Patil",
  "Huimin Li",
  "Isabelle Carter",
  "Jen Marley",
  "Jyoti Singh",
  "Ketan Padegaonkar",
  "Kiera Radman",
  "Kritika Singh",
  "Louda Peña",
  "Lubaina R",
  "Mahesh Panchaksharaiah",
  "Mansi Shah",
  "Marques Lee",
  "Naveen Bhaskar",
  "Rajiesh N",
  "Saurabh Mistry",
  "Sheroy Marker",
  "Steven Streisguth",
  "Tomasz Setkowski",
  "Varsha Varadarajan",
  "Viraj Patil",
  "Vrushali Waykole",
].sort.uniq.join(', ')
%>

<h4>Note</h4>

A more comprehensive list of changes for this release can be found <%= link_to_full_changelog 'here.', 'Release 19.4.0' %>

Have ideas and want to contribute? Need some help getting started? We're here to help. Reach out to us at <%= mail_to 'support@thoughtworks.com' %>.

Found a security issue that needs fixing? Please report it to <%= link_to 'https://hackerone.com/gocd', 'https://hackerone.com/gocd' %>

Please report any issues that you observe on [GitHub issues](https://github.com/gocd/gocd/issues).
